<div >
    <style>
        #rtb1, #rtb2, #rtb3, #rtb4 {
            height: 500px;
        }
        pre.regular-table:before{
            display: none!important;
        }
        .card-default .card-header {
            padding-left: 20px;
        }
    </style>
    <div>
        <div class="row section-header">
            <h4 class="page-title">Regular Tables</h4>
        </div>
        <div class="row dashboard-wrapper content-container">
            <div class="row">
                <div class="col s12 hide-on-small-only">
                    <div class="card">
                        <div class="card-content">
                            <h5 class="fs-20">Code Sample</h5>
                        </div>
                        <div class="card-action">
                            <pre class="regular-table">
                                <code class="language-markup">
Add class=&quot;bordered&quot; to the table tag for a bordered table.
                                </code>
                            </pre>
                        </div>
                    </div>
                </div>
                <div class="col s12">
                    <div class="card card-default">
                        <div class="card-header default-background white-text">
                            Bordered Table
                        </div>
                        <div class="card-content clearfix">
                            <table class="responsive-table bordered">
                                <thead>
                                <tr>
                                    <th data-field=""><i class="zmdi zmdi-delete"></i></th>
                                    <th data-field="Order ID">Order ID</th>
                                    <th data-field="Product">Product</th>
                                    <th data-field="Buyer">Buyer</th>
                                    <th data-field="Date">Date</th>
                                    <th data-field="Date">Order Note</th>
                                    <th data-field="Date">Payment</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <td><input type="checkbox" class="filled-in checkbox-info" id="filled-in-box" checked="checked" />
                                        <label for="filled-in-box"></label></td>
                                    <td>#7584</td>
                                    <td>1</td>
                                    <td>Super</td>
                                    <td>04/07/2016</td>
                                    <td>Purchase information here.</td>
                                    <td>Credit Card</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="filled-in checkbox-info" id="filled-in-box2" checked="checked" />
                                        <label for="filled-in-box2"></label></td>
                                    <td>#7584</td>
                                    <td>2</td>
                                    <td>John Smith</td>
                                    <td>01/05/2016</td>
                                    <td>Purchase information here.</td>
                                    <td>Credit Card</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="filled-in checkbox-info" id="filled-in-box3" checked="checked" />
                                        <label for="filled-in-box3"></label></td>
                                    <td>#7584</td>
                                    <td>3</td>
                                    <td>Jane Doe</td>
                                    <td>02/01/2017</td>
                                    <td>Purchase information here.</td>
                                    <td>Credit Card</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col s12 hide-on-small-only">
                    <div class="card">
                        <div class="card-content">
                            <h5 class="fs-20">Code Sample</h5>
                        </div>
                        <div class="card-action">
                            <pre class="regular-table">
                                <code class="language-markup">
Add class=&quot;striped&quot; to the table tag for a striped table.
                                </code>
                            </pre>
                        </div>
                    </div>
                </div>
                <div class="col s12">
                    <div class="card card-default">
                        <div class="card-header default-background white-text">
                            Striped Table
                        </div>
                        <div class="card-content clearfix">
                            <table class="responsive-table striped">
                                <thead>
                                <tr>
                                    <th data-field=""><i class="zmdi zmdi-delete"></i></th>
                                    <th data-field="Order ID">Order ID</th>
                                    <th data-field="Product">Product</th>
                                    <th data-field="Buyer">Buyer</th>
                                    <th data-field="Date">Date</th>
                                    <th data-field="Date">Order Note</th>
                                    <th data-field="Date">Payment</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <td><input type="checkbox" class="filled-in checkbox-info" id="filled-in-box4" checked="checked" />
                                        <label for="filled-in-box4"></label></td>
                                    <td>#7584</td>
                                    <td>1</td>
                                    <td>Super</td>
                                    <td>04/07/2016</td>
                                    <td>Purchase information here.</td>
                                    <td>Credit Card</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="filled-in checkbox-info" id="filled-in-box5" checked="checked" />
                                        <label for="filled-in-box5"></label></td>
                                    <td>#7584</td>
                                    <td>2</td>
                                    <td>John Smith</td>
                                    <td>01/05/2016</td>
                                    <td>Purchase information here.</td>
                                    <td>Credit Card</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="filled-in checkbox-info" id="filled-in-box6" checked="checked" />
                                        <label for="filled-in-box6"></label></td>
                                    <td>#7584</td>
                                    <td>3</td>
                                    <td>Jane Doe</td>
                                    <td>02/01/2017</td>
                                    <td>Purchase information here.</td>
                                    <td>Credit Card</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <p></p>
            <div class="row">
                <div class="col s12 hide-on-small-only">
                    <div class="card">
                        <div class="card-content">
                            <h5 class="fs-20">Code Sample</h5>
                        </div>
                        <div class="card-action">
                            <pre class="regular-table">
                                <code class="language-markup">
Add class=&quot;striped table-bordered&quot; to the table tag for a bordered and striped table.
                                </code>
                            </pre>
                        </div>
                    </div>
                </div>
                <div class="col s12">
                    <div class="card card-default">
                        <div class="card-header default-background white-text">
                            Bordered and Striped Table
                        </div>
                        <div class="card-content clearfix">
                            <table class="responsive-table striped table-bordered">
                                <thead>
                                <tr>
                                    <th data-field=""><i class="zmdi zmdi-delete"></i></th>
                                    <th data-field="Order ID">Order ID</th>
                                    <th data-field="Product">Product</th>
                                    <th data-field="Buyer">Buyer</th>
                                    <th data-field="Date">Date</th>
                                    <th data-field="Date">Order Note</th>
                                    <th data-field="Date">Payment</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <td><input type="checkbox" class="filled-in checkbox-info" id="filledbox7" checked="checked" />
                                        <label for="filledbox7"></label></td>
                                    <td>#7584</td>
                                    <td>1</td>
                                    <td>Super</td>
                                    <td>04/07/2016</td>
                                    <td>Purchase information here.</td>
                                    <td>Credit Card</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="filled-in checkbox-info" id="filledbox8" checked="checked" />
                                        <label for="filledbox8"></label></td>
                                    <td>#7584</td>
                                    <td>2</td>
                                    <td>John Smith</td>
                                    <td>01/05/2016</td>
                                    <td>Purchase information here.</td>
                                    <td>Credit Card</td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox" class="filled-in checkbox-info" id="filledbox9" checked="checked" />
                                        <label for="filledbox9"></label></td>
                                    <td>#7584</td>
                                    <td>3</td>
                                    <td>Jane Doe</td>
                                    <td>02/01/2017</td>
                                    <td>Purchase information here.</td>
                                    <td>Credit Card</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <p></p>
        <div class="row">
            <div class="col s12 hide-on-small-only">
                <div class="card">
                    <div class="card-content">
                        <h5 class="fs-20">Code Sample</h5>
                    </div>
                    <div class="card-action">
                        <pre class="regular-table">
                            <code class="language-markup">
Add class=&quot;highlight&quot; to the table tag for a highlight table.
                            </code>
                        </pre>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="card card-default">
                    <div class="card-header default-background white-text">
                        Highlight Table
                    </div>
                    <div class="card-content clearfix">
                        <table class="highlight responsive-table">
                            <thead>
                            <tr>
                                <th data-field=""><i class="zmdi zmdi-delete"></i></th>
                                <th data-field="Order ID">Order ID</th>
                                <th data-field="Product">Product</th>
                                <th data-field="Buyer">Buyer</th>
                                <th data-field="Date">Date</th>
                                <th data-field="Date">Order Note</th>
                                <th data-field="Date">Payment</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td><input type="checkbox" class="filled-in checkbox-info" id="filledbox10" checked="checked" />
                                    <label for="filledbox10"></label></td>
                                <td>#7584</td>
                                <td>1</td>
                                <td>Super</td>
                                <td>04/07/2016</td>
                                <td>Purchase information here.</td>
                                <td>Credit Card</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" class="filled-in checkbox-info" id="filledbox11" checked="checked" />
                                    <label for="filledbox11"></label></td>
                                <td>#7584</td>
                                <td>2</td>
                                <td>John Smith</td>
                                <td>01/05/2016</td>
                                <td>Purchase information here.</td>
                                <td>Credit Card</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" class="filled-in checkbox-info" id="filledbox12" checked="checked" />
                                    <label for="filledbox12"></label></td>
                                <td>#7584</td>
                                <td>3</td>
                                <td>Jane Doe</td>
                                <td>02/01/2017</td>
                                <td>Purchase information here.</td>
                                <td>Credit Card</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 hide-on-small-only">
                <div class="card">
                    <div class="card-content">
                        <h5 class="fs-20">Code Sample</h5>
                    </div>
                    <div class="card-action">
                        <pre class="regular-table">
                            <code class="language-markup">
Add class=&quot;responsive-table&quot; to the table tag to make the table horizontally scrollable on smaller screen widths.
                            </code>
                        </pre>
                    </div>
                </div>
            </div>
            <div class="col s12">
                <div class="card card-default">
                    <div class="card-header default-background white-text">
                        Responsive Table
                    </div>
                    <div class="card-content clearfix">
                        <table class="responsive-table">
                            <thead>
                            <tr>
                                <th data-field=""><i class="zmdi zmdi-delete"></i></th>
                                <th data-field="Order ID">Order ID</th>
                                <th data-field="Product">Product</th>
                                <th data-field="Buyer">Buyer</th>
                                <th data-field="Date">Date</th>
                                <th data-field="Date">Order Note</th>
                                <th data-field="Date">Payment</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr>
                                <td><input type="checkbox" class="filled-in checkbox-info" id="filledbox" checked="checked" />
                                    <label for="filledbox"></label></td>
                                <td>#7584</td>
                                <td>1</td>
                                <td>Super</td>
                                <td>04/07/2016</td>
                                <td>Purchase information here.</td>
                                <td>Credit Card</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" class="filled-in checkbox-info" id="filledbox2" checked="checked" />
                                    <label for="filledbox2"></label></td>
                                <td>#7584</td>
                                <td>2</td>
                                <td>John Smith</td>
                                <td>01/05/2016</td>
                                <td>Purchase information here.</td>
                                <td>Credit Card</td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" class="filled-in checkbox-info" id="filledbox3" checked="checked" />
                                    <label for="filledbox3"></label></td>
                                <td>#7584</td>
                                <td>3</td>
                                <td>Jane Doe</td>
                                <td>02/01/2017</td>
                                <td>Purchase information here.</td>
                                <td>Credit Card</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>