<div >
    <div class="row section-header">
        <h4 class="page-title">WYSIWYG Editors</h4>
    </div>
    <div class="row content-container wysiwyg">
        <div class="row">
            <div class="col s12">
                <div class="card" id="elements6">
                    <div class="col s12">
                        <h5 class="col s12">CK Editor standard</h5>
                        <div class="input-field col s12 ">
                            <textarea id="editor1"></textarea>
                        </div>
                        <div class="cols s12 row section"></div>
                        <h5 class="col s12 ">CK Editor inline editing</h5>
                        <div class="col s12">
                            <div  id="editor-inline">
                                <div contenteditable="true">
                                <h3><img alt="Saturn V carrying Apollo 11" data-cke-saved-src="http://c.cksource.com/a/1/img/sample.jpg" src="http://c.cksource.com/a/1/img/sample.jpg" class="left" style="margin-right: 20px"> Apollo 11</h3>
                                <p><strong>Apollo 11</strong> was the spaceflight that landed the first humans, Americans <a data-cke-saved-href="http://en.wikipedia.org/wiki/Neil_Armstrong"
                                                                                                                             href="http://en.wikipedia.org/wiki/Neil_Armstrong">Neil Armstrong</a> and <a data-cke-saved-href="http://en.wikipedia.org/wiki/Buzz_Aldrin"
                                                                                                                                                                                                          href="http://en.wikipedia.org/wiki/Buzz_Aldrin">Buzz Aldrin</a>,on the Moon on July 20, 1969, at 20:18 UTC. Armstrong became the first to step onto the lunar surface 6 hours later on July 21 at 02:56 UTC.</p>
                                <p>Armstrong spent about <s>three and a half</s> two and a half hours outside the spacecraft, Aldrin slightly less; and together they collected 47.5 pounds
                                    (21.5&nbsp;kg) of lunar material for return to Earth. A third member of the mission, <a data-cke-saved-href="http://en.wikipedia.org/wiki/Michael_Collins_(astronaut)"
                                                                                                                            href="http://en.wikipedia.org/wiki/Michael_Collins_(astronaut)">Michael Collins</a>, piloted the <a data-cke-saved-href="http://en.wikipedia.org/wiki/Apollo_Command/Service_Module"
                                                                                                                                                                                                                                href="http://en.wikipedia.org/wiki/Apollo_Command/Service_Module">command</a> spacecraft alone in lunar orbit until Armstrong and Aldrin returned to it for the trip back to Earth.</p>
                                <p></p>
                                <h3>Broadcasting and <em>quotes</em> <img class="cke_anchor" data-cke-realelement="%3Ca%20id%3D%22quotes%22%20data-cke-saved-name%3D%22quotes%22%20name%3D%22quotes%22%3E%3C%2Fa%3E"
                                                                          data-cke-real-node-type="1" alt="Anchor" title="Anchor" align="" src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw==" data-cke-real-element-type="anchor"></h3>
                                <p>Broadcast on live TV to a world-wide audience, Armstrong stepped onto the lunar surface and described the event as:</p>
                                <blockquote><p>One small step for [a] man, one giant leap for mankind.</p> </blockquote>
                                <p>Apollo 11 effectively ended the <a data-cke-saved-href="http://en.wikipedia.org/wiki/Space_Race" href="http://en.wikipedia.org/wiki/Space_Race">Space Race</a> and fulfilled a national goal
                                    proposed in 1961 by the late U.S. President <a data-cke-saved-href="http://en.wikipedia.org/wiki/John_F._Kennedy" href="http://en.wikipedia.org/wiki/John_F._Kennedy">John F. Kennedy</a>
                                    in a speech before the United States Congress:</p>
                                <blockquote><p>[...] before this decade is out, of landing a man on the Moon and returning him safely to the Earth.</p></blockquote>
                                <p></p>
                                <h3>Technical details<img class="cke_anchor" data-cke-realelement="%3Ca%20id%3D%22tech-details%22%20data-cke-saved-name%3D%22tech-details%22%20name%3D%22tech-details%22%3E%3C%2Fa%3E"
                                                          data-cke-real-node-type="1" alt="Anchor" title="Anchor" align="" src="data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw=="
                                                          data-cke-real-element-type="anchor"></h3>
                                <table align="right" bordercolor="#ccc" cellpadding="5" cellspacing="0" style="width:40%;border:1px solid grey;" class="bordered striped col s4 right">
                                    <thead>
                                    <tr>
                                        <th scope="col">Position</th>
                                        <th scope="col">Astronaut</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Commander</td>
                                        <td>Neil A. Armstrong</td>
                                    </tr>
                                    <tr>
                                        <td>Command Module Pilot</td>
                                        <td>Michael Collins</td>
                                    </tr>
                                    <tr>
                                        <td>Lunar Module Pilot</td>
                                        <td>Edwin "Buzz" E. Aldrin, Jr.</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <p>Launched by a <strong>Saturn V</strong> rocket from <a data-cke-saved-href="http://en.wikipedia.org/wiki/Kennedy_Space_Center" href="http://en.wikipedia.org/wiki/Kennedy_Space_Center">Kennedy Space Center</a>
                                    in Merritt Island, Florida on July 16, Apollo 11 was the fifth manned mission of <a data-cke-saved-href="http://en.wikipedia.org/wiki/NASA" href="http://en.wikipedia.org/wiki/NASA">NASA</a>'s Apollo program. The Apollo spacecraft had three parts:</p>
                                <ol>
                                    <li><strong>Command Module</strong> with a cabin for the three astronauts which was the only part which landed back on Earth</li>
                                    <li><strong>Service Module</strong> which supported the Command Module with propulsion, electrical power, oxygen and water</li>
                                    <li><strong>Lunar Module</strong> for landing on the Moon.</li>
                                </ol>
                                <p>After being sent to the Moon by the Saturn V's upper stage, the astronauts separated the spacecraft from it and travelled for three days until they entered into lunar orbit.
                                    Armstrong and Aldrin then moved into the Lunar Module and landed in the <a data-cke-saved-href="http://en.wikipedia.org/wiki/Mare_Tranquillitatis" href="http://en.wikipedia.org/wiki/Mare_Tranquillitatis">Sea of Tranquility</a>. They stayed a total of about 21 and a hal
                                    f hours on the lunar surface. After lifting off in the upper part of the Lunar Module and rejoining Collins in the Command Module, they returned to Earth and landed in the <a data-cke-saved-href="http://en.wikipedia.org/wiki/Pacific_Ocean"
                                                                                                                                                                                                                   href="http://en.wikipedia.org/wiki/Pacific_Ocean">Pacific Ocean</a> on July 24.</p><hr><p><small>Source: <a data-cke-saved-href="http://en.wikipedia.org/wiki/Apollo_11" href="http://en.wikipedia.org/wiki/Apollo_11">Wikipedia.org</a></small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 hide-on-small-only">
                <div class="card">
                    <div class="row">
                        <div class="col s12">
                            <ul class="tabs" tabs>
                                <li class="tab col s3"><a href="#elements6_html" class="active" >HTML</a></li>
                                <li class="tab col s3"><a href="#elements6_css">CSS</a></li>
                                <li class="tab col s3"><a href="#elements6_js">Javascript</a></li>
                                <li class="tab col s3"><a href="#elements6_res">Resources</a></li>
                            </ul>
                        </div>
                        <div class="col s12">
                            <div class="row">
                                <div id="elements6_html" class="s12">
                                    <pre>
                                        <code class="language-markup">
&lt;div class=&quot;card&quot; id=&quot;elements6&quot;&gt;
    &lt;div class=&quot;col s12&quot;&gt;
        &lt;h5 class=&quot;col s12&quot;&gt;CK Editor standard&lt;/h5&gt;
        &lt;div class=&quot;input-field col s12&quot;&gt;
            &lt;textarea id=&quot;editor1&quot;&gt;&lt;/textarea&gt;
        &lt;/div&gt;
        &lt;div class=&quot;cols s12 row section&quot;&gt;&lt;/div&gt;
        &lt;h5 class=&quot;col s12&quot;&gt;CK Editor inline editing&lt;/h5&gt;
        &lt;div class=&quot;col s12&quot; id=&quot;editor-inline&quot;&gt;
            &lt;div contenteditable=&quot;true&quot;&gt;
                &lt;h3&gt;&lt;img alt=&quot;Saturn V carrying Apollo 11&quot; data-cke-saved-src=&quot;http://c.cksource.com/a/1/img/sample.jpg&quot; src=&quot;http://c.cksource.com/a/1/img/sample.jpg&quot; class=&quot;right&quot;&gt; Apollo 11&lt;/h3&gt;
                &lt;p&gt;&lt;strong&gt;Apollo 11&lt;/strong&gt; was the spaceflight that landed the first humans, Americans &lt;a data-cke-saved-href=&quot;http://en.wikipedia.org/wiki/Neil_Armstrong&quot;
                href=&quot;http://en.wikipedia.org/wiki/Neil_Armstrong&quot;&gt;Neil Armstrong&lt;/a&gt; and &lt;a data-cke-saved-href=&quot;http://en.wikipedia.org/wiki/Buzz_Aldrin&quot;
                href=&quot;http://en.wikipedia.org/wiki/Buzz_Aldrin&quot;&gt;Buzz Aldrin&lt;/a&gt;,on the Moon on July 20, 1969, at 20:18 UTC. Armstrong became the first to step onto the lunar surface 6 hours later on July 21 at 02:56 UTC.&lt;/p&gt;
                &lt;p&gt;Armstrong spent about &lt;s&gt;three and a half&lt;/s&gt; two and a half hours outside the spacecraft, Aldrin slightly less; and together they collected 47.5 pounds
                (21.5&amp;nbsp;kg) of lunar material for return to Earth. A third member of the mission, &lt;a data-cke-saved-href=&quot;http://en.wikipedia.org/wiki/Michael_Collins_(astronaut)&quot;
                href=&quot;http://en.wikipedia.org/wiki/Michael_Collins_(astronaut)&quot;&gt;Michael Collins&lt;/a&gt;, piloted the &lt;a data-cke-saved-href=&quot;http://en.wikipedia.org/wiki/Apollo_Command/Service_Module&quot;
                href=&quot;http://en.wikipedia.org/wiki/Apollo_Command/Service_Module&quot;&gt;command&lt;/a&gt; spacecraft alone in lunar orbit until Armstrong and Aldrin returned to it for the trip back to Earth.&lt;/p&gt;
                &lt;h3&gt;Broadcasting and &lt;em&gt;quotes&lt;/em&gt; &lt;img class=&quot;cke_anchor&quot; data-cke-realelement=&quot;%3Ca%20id%3D%22quotes%22%20data-cke-saved-name%3D%22quotes%22%20name%3D%22quotes%22%3E%3C%2Fa%3E&quot;
                data-cke-real-node-type=&quot;1&quot; alt=&quot;Anchor&quot; title=&quot;Anchor&quot; align=&quot;&quot; src=&quot;data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw==&quot; data-cke-real-element-type=&quot;anchor&quot;&gt;&lt;/h3&gt;
                &lt;p&gt;Broadcast on live TV to a world-wide audience, Armstrong stepped onto the lunar surface and described the event as:&lt;/p&gt;
                &lt;blockquote&gt;&lt;p&gt;One small step for [a] man, one giant leap for mankind.&lt;/p&gt; &lt;/blockquote&gt;
                &lt;p&gt;Apollo 11 effectively ended the &lt;a data-cke-saved-href=&quot;http://en.wikipedia.org/wiki/Space_Race&quot; href=&quot;http://en.wikipedia.org/wiki/Space_Race&quot;&gt;Space Race&lt;/a&gt; and fulfilled a national goal
                proposed in 1961 by the late U.S. President &lt;a data-cke-saved-href=&quot;http://en.wikipedia.org/wiki/John_F._Kennedy&quot; href=&quot;http://en.wikipedia.org/wiki/John_F._Kennedy&quot;&gt;John F. Kennedy&lt;/a&gt;
                in a speech before the United States Congress:&lt;/p&gt;
                &lt;blockquote&gt;&lt;p&gt;[...] before this decade is out, of landing a man on the Moon and returning him safely to the Earth.&lt;/p&gt;&lt;/blockquote&gt;
                &lt;h3&gt;Technical details&lt;img class=&quot;cke_anchor&quot; data-cke-realelement=&quot;%3Ca%20id%3D%22tech-details%22%20data-cke-saved-name%3D%22tech-details%22%20name%3D%22tech-details%22%3E%3C%2Fa%3E&quot;
                 data-cke-real-node-type=&quot;1&quot; alt=&quot;Anchor&quot; title=&quot;Anchor&quot; align=&quot;&quot; src=&quot;data:image/gif;base64,R0lGODlhAQABAPABAP///wAAACH5BAEKAAAALAAAAAABAAEAAAICRAEAOw==&quot;
                 data-cke-real-element-type=&quot;anchor&quot;&gt;&lt;/h3&gt;
                &lt;table align=&quot;right&quot; bordercolor=&quot;#ccc&quot; cellpadding=&quot;5&quot; cellspacing=&quot;0&quot; style=&quot;width:40%;border:1px solid grey;&quot; class=&quot;bordered striped col s4 right&quot;&gt;
                    &lt;thead&gt;
                        &lt;tr&gt;
                            &lt;th scope=&quot;col&quot;&gt;Position&lt;/th&gt;
                            &lt;th scope=&quot;col&quot;&gt;Astronaut&lt;/th&gt;
                        &lt;/tr&gt;
                    &lt;/thead&gt;
                    &lt;tbody&gt;
                        &lt;tr&gt;
                            &lt;td&gt;Commander&lt;/td&gt;
                            &lt;td&gt;Neil A. Armstrong&lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr&gt;
                            &lt;td&gt;Command Module Pilot&lt;/td&gt;
                            &lt;td&gt;Michael Collins&lt;/td&gt;
                        &lt;/tr&gt;
                        &lt;tr&gt;
                            &lt;td&gt;Lunar Module Pilot&lt;/td&gt;
                            &lt;td&gt;Edwin &quot;Buzz&quot; E. Aldrin, Jr.&lt;/td&gt;
                        &lt;/tr&gt;
                    &lt;/tbody&gt;
                &lt;/table&gt;
                &lt;p&gt;Launched by a &lt;strong&gt;Saturn V&lt;/strong&gt; rocket from &lt;a data-cke-saved-href=&quot;http://en.wikipedia.org/wiki/Kennedy_Space_Center&quot; href=&quot;http://en.wikipedia.org/wiki/Kennedy_Space_Center&quot;&gt;Kennedy Space Center&lt;/a&gt;
                in Merritt Island, Florida on July 16, Apollo 11 was the fifth manned mission of &lt;a data-cke-saved-href=&quot;http://en.wikipedia.org/wiki/NASA&quot; href=&quot;http://en.wikipedia.org/wiki/NASA&quot;&gt;NASA&lt;/a&gt;&#39;s Apollo program. The Apollo spacecraft had three parts:&lt;/p&gt;
                &lt;ol&gt;
                    &lt;li&gt;&lt;strong&gt;Command Module&lt;/strong&gt; with a cabin for the three astronauts which was the only part which landed back on Earth&lt;/li&gt;
                    &lt;li&gt;&lt;strong&gt;Service Module&lt;/strong&gt; which supported the Command Module with propulsion, electrical power, oxygen and water&lt;/li&gt;
                    &lt;li&gt;&lt;strong&gt;Lunar Module&lt;/strong&gt; for landing on the Moon.&lt;/li&gt;
                &lt;/ol&gt;
                &lt;p&gt;After being sent to the Moon by the Saturn V&#39;s upper stage, the astronauts separated the spacecraft from it and travelled for three days until they entered into lunar orbit.
                Armstrong and Aldrin then moved into the Lunar Module and landed in the &lt;a data-cke-saved-href=&quot;http://en.wikipedia.org/wiki/Mare_Tranquillitatis&quot; href=&quot;http://en.wikipedia.org/wiki/Mare_Tranquillitatis&quot;&gt;Sea of Tranquility&lt;/a&gt;. They stayed a total of about 21 and a hal
                f hours on the lunar surface. After lifting off in the upper part of the Lunar Module and rejoining Collins in the Command Module, they returned to Earth and landed in the &lt;a data-cke-saved-href=&quot;http://en.wikipedia.org/wiki/Pacific_Ocean&quot;
                href=&quot;http://en.wikipedia.org/wiki/Pacific_Ocean&quot;&gt;Pacific Ocean&lt;/a&gt; on July 24.&lt;/p&gt;&lt;hr&gt;&lt;p&gt;&lt;small&gt;Source: &lt;a data-cke-saved-href=&quot;http://en.wikipedia.org/wiki/Apollo_11&quot; href=&quot;http://en.wikipedia.org/wiki/Apollo_11&quot;&gt;Wikipedia.org&lt;/a&gt;&lt;/small&gt;&lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
                                        </code>
                                    </pre>
                                </div>
                                <div id="elements6_css" class="s12">
                                    <pre>
                                        <code class="language-css">
                                        </code>
                                    </pre>
                                </div>
                                <div id="elements6_js" class="s12">
                                    <pre>
                                        <code class="language-javascript">
CKEDITOR.replace( &#39;editor1&#39; );

$(&#39;#editor-inline&#39;).attr(&#39;contenteditable&#39;,&#39;true&#39;);
CKEDITOR.disableAutoInline = true;
CKEDITOR.inline( &#39;editor-inline&#39; );
                                        </code>
                                    </pre>
                                </div>
                                <div id="elements6_res" class="s12">
                                    <pre>
                                        <code class="language-res">
&lt;script type=&quot;text/javascript&quot; src=&quot;/assets/js/libs/ckeditor/ckeditor.js&quot;&gt;&lt;/script&gt;
                                        </code>
                                    </pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card" id="elements7">
                    <div class="col s12">
                        <h5 class="col s12">Medium Editor</h5>
                        <div class="input-field col s12">
                            <div class="editabletext col s12">
                                <div class="col s12">
                                    <h5>Lorem Ipsum</h5>
                                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                                        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                                </div>
                                <div class="col s12 m6">
                                    <h5>Conec ipsum</h5>
                                    <p>Curabitur nulla est, vehicula et vestibulum ut, sodales tincidunt mi. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                                        per inceptos himenaeos. Nam at lacinia odio. Suspendisse in elementum felis, non bibendum ligula. Aenean et ante mollis, viverra neque vitae,
                                        cursus risus. Donec eget lacinia quam. Fusce placerat hendrerit auctor. Nunc est enim, pulvinar rutrum ultrices sit amet, placerat eu neque.
                                        Proin blandit est at congue convallis. Proin volutpat, nisl a fringilla porta, risus purus ullamcorper ipsum, et viverra dui neque nec ipsum.
                                        Integer accumsan venenatis fringilla. Quisque malesuada bibendum nisl quis blandit. Suspendisse potenti. Morbi bibendum quam
                                        ut fringilla mauris convallis sit amet. Cras semper, lectus sit amet dapibus semper, ex orci imperdiet velit, sodales fermentum erat dolor sit amet elit.
                                        Sed sed mauris nec ex interdum fringilla.</p>
                                </div>
                                <div class="col s12 m6">
                                    <h5 >Aliquam quis</h5>
                                    <p>Suspendisse ex ipsum, varius at cursus vel, consequat ac turpis. Nam et posuere tellus. Morbi suscipit ullamcorper consequat.
                                        Sed aliquam, lorem convallis rutrum rhoncus, orci eros faucibus risus, at iaculis nisi tortor et enim. Morbi efficitur, nisi nec sodales convallis,
                                        libero neque convallis massa, non venenatis ligula nulla ut eros. Morbi lorem urna, dapibus at odio in, dapibus feugiat lectus. Nulla a purus a lectus
                                        luctus ullamcorper. Donec ac enim consequat, aliquet augue sit amet, sollicitudin augue. Mauris iaculis maximus justo. Praesent lobortis, felis sed luctus
                                        facilisis, lectus dolor auctor odio, quis euismod nisi nisi non massa. Maecenas at est massa. Sed quis gravida nulla.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 hide-on-small-only">
                <div class="card">
                    <div class="row">
                        <div class="col s12">
                            <ul class="tabs" tabs>
                                <li class="tab col s3"><a href="#elements7_html" class="active" >HTML</a></li>
                                <li class="tab col s3"><a href="#elements7_css">CSS</a></li>
                                <li class="tab col s3"><a href="#elements7_js">Javascript</a></li>
                                <li class="tab col s3"><a href="#elements7_res">Resources</a></li>
                            </ul>
                        </div>
                        <div class="col s12">
                            <div class="row">
                                <div id="elements7_html" class="s12">
                                    <pre>
                                        <code class="language-markup">
&lt;div class=&quot;card&quot; id=&quot;elements7&quot;&gt;
    &lt;div class=&quot;col s12&quot;&gt;
        &lt;h5 class=&quot;col s12&quot;&gt;Medium Editor&lt;/h5&gt;
        &lt;div class=&quot;input-field col s12&quot;&gt;
            &lt;div class=&quot;editabletext col s12&quot;&gt;
                &lt;div class=&quot;col s12&quot;&gt;
                    &lt;h5&gt;Lorem Ipsum&lt;/h5&gt;
                    &lt;p&gt;&quot;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                    dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&lt;/p&gt;
                &lt;/div&gt;
                &lt;div class=&quot;col s12 m6&quot;&gt;
                    &lt;h5&gt;Conec ipsum&lt;/h5&gt;
                    &lt;p&gt;Curabitur nulla est, vehicula et vestibulum ut, sodales tincidunt mi. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                    per inceptos himenaeos. Nam at lacinia odio. Suspendisse in elementum felis, non bibendum ligula. Aenean et ante mollis, viverra neque vitae,
                    cursus risus. Donec eget lacinia quam. Fusce placerat hendrerit auctor. Nunc est enim, pulvinar rutrum ultrices sit amet, placerat eu neque.
                    Proin blandit est at congue convallis. Proin volutpat, nisl a fringilla porta, risus purus ullamcorper ipsum, et viverra dui neque nec ipsum.
                    Integer accumsan venenatis fringilla. Quisque malesuada bibendum nisl quis blandit. Suspendisse potenti. Morbi bibendum quam
                    ut fringilla mauris convallis sit amet. Cras semper, lectus sit amet dapibus semper, ex orci imperdiet velit, sodales fermentum erat dolor sit amet elit.
                    Sed sed mauris nec ex interdum fringilla.&lt;/p&gt;
                &lt;/div&gt;
                &lt;div class=&quot;col s12 m6&quot;&gt;
                    &lt;h5 &gt;Aliquam quis&lt;/h5&gt;
                    &lt;p&gt;Suspendisse ex ipsum, varius at cursus vel, consequat ac turpis. Nam et posuere tellus. Morbi suscipit ullamcorper consequat.
                        Sed aliquam, lorem convallis rutrum rhoncus, orci eros faucibus risus, at iaculis nisi tortor et enim. Morbi efficitur, nisi nec sodales convallis,
                        libero neque convallis massa, non venenatis ligula nulla ut eros. Morbi lorem urna, dapibus at odio in, dapibus feugiat lectus. Nulla a purus a lectus
                        luctus ullamcorper. Donec ac enim consequat, aliquet augue sit amet, sollicitudin augue. Mauris iaculis maximus justo. Praesent lobortis, felis sed luctus
                        facilisis, lectus dolor auctor odio, quis euismod nisi nisi non massa. Maecenas at est massa. Sed quis gravida nulla.&lt;/p&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
                                                    </code>
                                                </pre>
                                </div>
                                <div id="elements7_css" class="s12">
                                                <pre>
                                                    <code class="language-css">
                                                    </code>
                                                </pre>
                                </div>
                                <div id="elements7_js" class="s12">
                                    <pre>
                                        <code class="language-javascript">
var editor = new MediumEditor(&#39;.editabletext&#39;);
                                        </code>
                                    </pre>
                                </div>
                                <div id="elements7_res" class="s12">
                                    <pre>
                                        <code class="language-res">
&lt;script src=&quot;//cdn.jsdelivr.net/medium-editor/latest/js/medium-editor.min.js&quot;&gt;&lt;/script&gt;
&lt;link rel=&quot;stylesheet&quot; href=&quot;//cdn.jsdelivr.net/medium-editor/latest/css/medium-editor.min.css&quot; type=&quot;text/css&quot; media=&quot;screen&quot; charset=&quot;utf-8&quot;&gt;
                                        </code>
                                    </pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>