<div >
    <div class="row section-header">
        <h4 class="page-title">Buttons</h4>
    </div>
    <div class="row content-container buttons">
        <div class="col s12">
            <div class="card">
                <div class="card-content clearfix">
                    <div class="col m12 s12 subtitle"><h5>Normal buttons</h5></div>
                    <div class="col m12 s12 btn-div buttons-s">
                        <a class="waves-effect waves-light btn white-text primary-button margin-bottom-10">Primary</a>
                        <a class="waves-effect waves-light btn white-text red margin-bottom-10">Danger</a>
                        <a class="waves-effect waves-light btn white-text green margin-bottom-10">Success</a>
                        <a class="waves-effect waves-light btn white-text blue darken-4 margin-bottom-10">Info</a>
                        <a class="waves-effect waves-light btn white-text orange margin-bottom-10">Warning</a>
                    </div>
                    <div class="col m12 s12 hide-on-small-only">
                        <div class="card">
                            <div class="card-content">
                                <h5 class="fs-20">Code Sample</h5>
                            </div>
                            <div class="card-action">
                                <pre class="regular-table language-markup">
                                    <code class="language-markup">
&lt;a class=&quot;waves-effect waves-light btn white-text red&quot;&gt;Danger&lt;/a&gt;
&lt;a class=&quot;waves-effect waves-light btn white-text primary-button&quot;&gt;Primary&lt;/a&gt;
                                     </code>
                                 </pre>
                            </div>
                        </div>
                    </div>
                    <div class="col m12 s12 subtitle"><h5>Disabled buttons</h5></div>
                    <div class="col m12 s12 btn-div buttons-s">
                        <a class="waves-effect waves-light btn white-text disabled primary-button margin-bottom-10">Primary</a>
                        <a class="waves-effect waves-light btn white-text disabled red margin-bottom-10">Danger</a>
                        <a class="waves-effect waves-light btn white-text disabled green margin-bottom-10">Success</a>
                        <a class="waves-effect waves-light btn white-text disabled blue darken-4 margin-bottom-10">Info</a>
                        <a class="waves-effect waves-light btn white-text disabled orange margin-bottom-10">Warning</a>
                    </div>
                    <div class="col m12 s12 hide-on-small-only">
                        <div class="card">
                            <div class="card-content">
                                <h5 class="fs-20">Code Sample</h5>
                            </div>
                            <div class="card-action">
                                <pre class="regular-table language-markup">
                                    <code class="language-markup">
&lt;a class=&quot;waves-effect waves-light btn white-text disabled pink lighten-1&quot;&gt;Primary&lt;/a&gt;
&lt;a class=&quot;waves-effect waves-light btn white-text disabled primary-button&quot;&gt;Primary&lt;/a&gt;
                                     </code>
                                 </pre>
                            </div>
                        </div>
                    </div>
                    <div class="col m12 s12 subtitle"><h5>Custom buttons</h5></div>
                    <div class="col m12 s12 btn-div buttons-s">
                        <a class="waves-effect waves-light btn custom-btn primary-button margin-bottom-10">Primary</a>
                        <a class="waves-effect waves-light btn red-text custom-btn custom-btn-red margin-bottom-10">Danger</a>
                        <a class="waves-effect waves-light btn green-text custom-btn custom-btn-green margin-bottom-10">Success</a>
                        <a class="waves-effect waves-light btn blue-text custom-btn custom-btn-blue margin-bottom-10">Info</a>
                        <a class="waves-effect waves-light btn orange-text custom-btn custom-btn-orange margin-bottom-10">Warning</a>
                    </div>
                    <div class="col m12 s12 hide-on-small-only">
                        <div class="card">
                            <div class="card-content">
                                <h5 class="fs-20">Code Sample</h5>
                            </div>
                            <div class="card-action">
                                <pre class="regular-table language-markup">
                                    <code class="language-markup">
&lt;a class=&quot;waves-effect waves-light btn red-text custom-btn custom-btn-red &quot;&gt;Danger&lt;/a&gt;
&lt;a class=&quot;waves-effect waves-light btn custom-btn primary-button&quot;&gt;Primary&lt;/a&gt;
                                     </code>
                                 </pre>
                            </div>
                        </div>
                    </div>
                    <div class="col m12 s12 subtitle"><h5>Outline button</h5></div>
                    <div class="col m12 s12 btn-div buttons-s">
                        <a class="waves-effect waves-light btn-large pink-text custom-btn custom-btn-pink margin-bottom-10">Large button</a>
                        <a class="waves-effect waves-light btn pink-text custom-btn custom-btn-pink margin-bottom-10">Default button</a>
                        <a class="waves-effect waves-light btn-small btn pink-text custom-btn custom-btn-pink margin-bottom-10">Small button</a>
                    </div>
                    <div class="col m12 s12 hide-on-small-only">
                        <div class="card">
                            <div class="card-content">
                                <h5 class="fs-20">Code Sample</h5>
                            </div>
                            <div class="card-action">
                                <pre class="regular-table language-markup">
                                    <code class="language-markup">
&lt;a class=&quot;waves-effect waves-light btn-large pink-text custom-btn custom-btn-pink &quot;&gt;Large button&lt;/a&gt;
                                     </code>
                                 </pre>
                            </div>
                        </div>
                    </div>
                    <div class="col m12 s12 subtitle"><h5>Button Sizes</h5></div>
                    <div class="col m12 s12 btn-div buttons-s">
                        <a class="waves-effect waves-light btn-large  white-text pink margin-bottom-10">Large button</a>
                        <a class="waves-effect waves-light btn  white-text pink margin-bottom-10">Default button</a>
                        <a class="waves-effect waves-light btn-small  white-text pink margin-bottom-10">Small button</a>
                    </div>
                    <div class="col m12 s12 hide-on-small-only">
                        <div class="card">
                            <div class="card-content">
                                <h5 class="fs-20">Code Sample</h5>
                            </div>
                            <div class="card-action">
                                <pre class="regular-table language-markup">
                                    <code class="language-markup">
&lt;a class=&quot;waves-effect waves-light btn-large white-text pink&quot;&gt;Large button&lt;/a&gt;
                                     </code>
                                 </pre>
                            </div>
                        </div>
                    </div>
                    <div class="col m12 s12 subtitle"><h5>Normal Circle Buttons</h5></div>
                    <div class="col m12 s12 btn-div">
                        <a class="btn-floating btn waves-effect waves-light primary-button margin-bottom-10"><i class="material-icons dp48">assignment</i></a>
                        <a class="btn-floating btn waves-effect waves-light red-text custom-btn custom-btn-red margin-bottom-10"><i class="material-icons red-text dp48">assignment</i></a>
                        <a class="btn-floating btn waves-effect waves-light green margin-bottom-10"><i class="material-icons dp48">assignment</i></a>
                        <a class="btn-floating btn waves-effect waves-light blue margin-bottom-10"><i class="material-icons dp48">assignment</i></a>
                        <a class="btn-floating btn waves-effect waves-light orange margin-bottom-10"><i class="material-icons dp48">assignment</i></a>
                    </div>
                    <div class="col m12 s12 hide-on-small-only">
                        <div class="card">
                            <div class="card-content">
                                <h5 class="fs-20">Code Sample</h5>
                            </div>
                            <div class="card-action">
                                <pre class="regular-table language-markup">
                                    <code class="language-markup">
&lt;a class=&quot;btn-floating btn waves-effect waves-light blue&quot;&gt;&lt;i class=&quot;material-icons dp48&quot;&gt;assignment&lt;/i&gt;&lt;/a&gt;
&lt;a class=&quot;btn-floating btn waves-effect waves-light primary-button&quot;&gt;&lt;i class=&quot;material-icons dp48&quot;&gt;assignment&lt;/i&gt;&lt;/a&gt;
                                     </code>
                                 </pre>
                            </div>
                        </div>
                    </div>
                    <div class="col m12 s12 subtitle"><h5>Large Circle Buttons</h5></div>
                    <div class="col m12 s12 btn-div">
                        <a class="btn-floating btn-large waves-effect waves-light primary-button margin-bottom-10"><i class="material-icons dp48">assignment</i></a>
                        <a class="btn-floating btn-large waves-effect waves-light red-text custom-btn custom-btn-red margin-bottom-10"><i class="material-icons  red-text  dp48">assignment</i></a>
                        <a class="btn-floating btn-large waves-effect waves-light green margin-bottom-10"><i class="material-icons dp48">assignment</i></a>
                        <a class="btn-floating btn-large waves-effect waves-light blue margin-bottom-10"><i class="material-icons dp48">assignment</i></a>
                        <a class="btn-floating btn-large waves-effect waves-light orange margin-bottom-10"><i class="material-icons dp48">assignment</i></a>
                    </div>
                    <div class="col m12 s12 margin-bottom-10 hide-on-small-only">
                        <div class="card">
                            <div class="card-content">
                                <h5 class="fs-20">Code Sample</h5>
                            </div>
                            <div class="card-action">
                                <pre class="regular-table language-markup">
                                    <code class="language-markup">
&lt;a class=&quot;btn-floating btn-large waves-effect waves-light orange&quot;&gt;&lt;i class=&quot;material-icons dp48&quot;&gt;assignment&lt;/i&gt;&lt;/a&gt;
&lt;a class=&quot;btn-floating btn-large waves-effect waves-light primary-button&quot;&gt;&lt;i class=&quot;material-icons dp48&quot;&gt;assignment&lt;/i&gt;&lt;/a&gt;
                                     </code>
                                 </pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>