<div class="row" id="page-content">
    <div class="container-footers">
        <!-- page content goes here-->
        <div class="row section-header">
            <h4 class="page-title">Footers</h4>
        </div>
        <div class="row dashboard-wrapper content-container">
            <!--FOOTER 1-->
            <div class="col s12 m12 l12">
                <div class="foot1 card">
                    <div class="f-info f-cont">
                        <div class="valign">
                            <h3>MaRa</h3>
                            <p>(03) 3258 3254</p>
                            <p>hello@groupfive.ro</p>
                        </div>
                    </div>
                    <div class="f-cont">
                        <div class="valign center-align">
                            <ul>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Terms</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="f-cont">
                        <div class="valign right-align">
                            <a href=""><i class="zmdi zmdi-vimeo"></i></a>
                            <a href=""><i class="zmdi zmdi-twitter"></i></a>
                            <a href=""><i class="zmdi zmdi-dribbble"></i></a>
                            <a href=""><i class="zmdi zmdi-instagram"></i></a>
                            <p class="copy">&copy;Copyright 2016 Mara - All Rights Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--FOOTER 2-->
            <div class="col s12 m12 l12">
                <div class="foot2 card">
                    <div class="f-info f-cont">
                        <div class="valign left-align">
                            <ul>
                                <li><a href="#" class="fs-18">About</a></li>
                                <li><a href="#" class="fs-18">Terms</a></li>
                                <li><a href="#" class="fs-18">Careers</a></li>
                                <li><a href="#" class="fs-18">Contact</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <div>
                            <p><a href="">(03) 3258 3254</a></p>
                            <p><a href="">hello@groupfive.ro</a></p>
                        </div>
                    </div>
                    <div class="f-cont social-icons">
                        <div class="valign right-align">
                            <a href=""><i class="zmdi zmdi-vimeo"></i></a>
                            <a href=""><i class="zmdi zmdi-twitter"></i></a>
                            <a href=""><i class="zmdi zmdi-dribbble"></i></a>
                            <a href=""><i class="zmdi zmdi-instagram"></i></a>
                            <p class="copy">&copy;Copyright 2016 Mara - All Rights Reserved</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--FOOTER 3-->
            <div class="col s12 m12 l12">
                <div class="foot3 card ">
                    <div class="f-cont col s6 m6 l3">
                        <h3>MaRa</h3>
                        <p>Lorem ipsum dolor</p>
                    </div>
                    <div class="f-cont col s6 m6 l4">
                        <div>
                            <div class="col s12 m12 l12">
                                <h6>Navigate</h6>
                            </div>
                            <div class="col s6 m6 l6">
                                <a href="#" class="f-links">About</a><br>
                                <a href="#" class="f-links">Terms</a><br>
                                <a href="#" class="f-links">Careers</a><br>
                                <a href="#" class="f-links">Contact</a><br>
                            </div>
                            <div class="col s6 m6 l6" >
                                <a href="#" class="f-links">About</a><br>
                                <a href="#" class="f-links">Terms</a><br>
                                <a href="#" class="f-links">Careers</a><br>
                            </div>
                        </div>
                    </div>
                    <div class="f-cont col s12 m12 l5">
                        <h6>Subscribe</h6>
                        <p>Get monthly updates and free resources.</p>
                        <div>
                            <form class="footer-search">
                                <input class="f-email validate z-depth-1" type="email" placeholder="Email Address">
                                <a class="btn f-button">GO</a>
                            </form>
                        </div>
                    </div>
                    <div class="f-cont valign-wrapper f-foot col s12 m12 l12">
                        <div class="left-align valign col s6 m6 l6">
                            <p class="copy">&copy;Copyright 2016 Mara - All Rights Reserved</p>
                        </div>
                        <div class="social-icons valign right-align col s6 m6 l6">
                            <a href=""><i class="zmdi zmdi-vimeo"></i></a>
                            <a href=""><i class="zmdi zmdi-twitter"></i></a>
                            <a href=""><i class="zmdi zmdi-dribbble"></i></a>
                            <a href=""><i class="zmdi zmdi-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!--FOOTER 4-->
            <div class=" col s12 m12 l12">
                <div class="foot4 card">
                    <div class="f-cont col s6 m6 l3">
                        <h3>MaRa</h3>
                        <p>Lorem ipsum dolor</p>
                        <a href="#" class="f-links">About</a><br>
                        <a href="#" class="f-links">Terms</a><br>
                        <a href="#" class="f-links">Careers</a><br>
                        <a href="#" class="f-links">Contact</a><br>
                    </div>
                    <div class="f-cont f-update col s6 m6 l4">
                        <h6>Recent uploads</h6>
                        <p>Bacon ipsum dolor amet bacon jowl tongue turkey. Pork belly t-bone ball tip brisket, ham hock swine rump. Salami ribeye pancetta, meatloaf pastrami sirloin bacon</p>
                    </div>
                    <div class="f-cont col s12 m12 l5">
                        <h6>Subscribe</h6>
                        <p>Get monthly updates and free resources.</p>
                        <div>
                            <form class="footer-search">
                                <input class="f-email validate z-depth-1" type="email" placeholder="Email Address">
                                <a class="btn f-button">GO</a>
                            </form>
                        </div>
                    </div>
                    <div class="f-cont valign-wrapper f-foot col s12 m12 l12">
                        <div class="left-align valign col s6 m6 l6">
                            <p class="copy">&copy;Copyright 2016 Mara - All Rights Reserved</p>
                        </div>
                        <div class="social-icons valign right-align col s6 m6 l6">
                            <a href=""><i class="zmdi zmdi-twitter"></i></a>
                            <a href=""><i class="zmdi zmdi-dribbble"></i></a>
                            <a href=""><i class="zmdi zmdi-vimeo"></i></a>
                            <a href=""><i class="zmdi zmdi-instagram"></i></a>
                            <a href=""><i class="zmdi zmdi-behance"></i></a>
                            <a href=""><i class="zmdi zmdi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>