<div class="navbars col s12 m12 l12">
    <div class="row section-header">
        <h4 class="page-title">Navbars</h4>
    </div>
    <div class="row dashboard-wrapper content-container">
        <div class="row nav-color-white">
            <div class="col s12 m12 l12">
                <div class="row navbar-center">
                    <nav>
                        <div class="nav-wrapper">
                            <a href="#" class="brand-logo center">MARA</a>
                            <ul  class="header-left left hide-on-med-and-down">
                                <li><a href="">Video</a></li>
                                <li><a href="">Music</a></li>
                                <li><a href="">Photo</a></li>
                                <li><a href="">Shop</a></li>
                            </ul>
                            <div class="header-right">
                                <a href="#" data-activates="mobile-demo7" class="right button-collapse2 right-nav"><i class="material-icons menu">menu</i></a>
                                <ul class="right-ul right hide-on-med-and-down">
                                    <li><a href=""><i class="zmdi zmdi-search "></i></a></li>
                                    <li><a href="">Login</a></li>
                                    <li><a href="" class="waves-effect waves-light btn white-text signUp-btn">Sign Up</a></li>
                                </ul>
                                <ul id="mobile-demo7" class="side-nav">
                                    <li><a href="">Video</a></li>
                                    <li><a href="">Music</a></li>
                                    <li><a href="">Photo</a></li>
                                    <li><a href="">Shop</a></li>

                                    <li><a href=""><i class="zmdi zmdi-search grey-text text-darken-3"></i></a></li>
                                    <li><a href="">Login</a></li>
                                    <li><a href="" class="waves-effect waves-light btn white-text signUp-btn">Sign Up</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

        <div class="row nav-color-white">
            <div class="col s12 m12 l12">
                <div class="row navbar-left">
                    <nav>
                        <div class="nav-wrapper">
                            <a href="#" class="brand-logo ">MARA</a>
                            <ul  class="header-left  hide-on-med-and-down  logo-left">
                                <li><a href="">Video</a></li>
                                <li><a href="">Music</a></li>
                                <li><a href="">Photo</a></li>
                                <li><a href="">Shop</a></li>
                            </ul>
                            <div class="header-right">
                                <a href="#" data-activates="mobile-demo2" class="right button-collapse2 right-nav"><i class="material-icons menu">menu</i></a>
                                <ul class="right-ul right hide-on-med-and-down">
                                    <li><a href="">About</a></li>
                                    <li><a href="">Login</a></li>
                                    <li><a href=""><i class="zmdi zmdi-shopping-cart cart-icon"><span class="white-text cart-icon-span">2</span></i></a></li>
                                    <li><a href="" class="waves-effect waves-light btn transparent  signUp-btn2">Sign Up</a></li>
                                </ul>
                                <ul id="mobile-demo2" class="side-nav right">
                                    <li><a href="">Video</a></li>
                                    <li><a href="">Music</a></li>
                                    <li><a href="">Photo</a></li>
                                    <li><a href="">Shop</a></li>

                                    <li><a href="">About</a></li>
                                    <li><a href="">Login</a></li>
                                    <li><a href=""><i class="zmdi zmdi-shopping-cart grey-text text-darken-4 cart-icon"><span class="white-text cart-icon-span">2</span></i></a></li>
                                    <li><a href="" class="waves-effect waves-light btn transparent black-text signUp-btn2">Sign Up</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="row nav-color-white">
            <div class="col s12 m12 l12">
                <div class="row navbar-left">
                    <nav>
                        <div class="nav-wrapper">
                            <a href="#" class="brand-logo">MARA</a>
                            <ul  class="header-left hide-on-med-and-down  logo-left">
                                <li>
                                    <div class=" navbar-custom-search">
                                        <input type="search" required=""  placeholder="Search">
                                        <i class="zmdi zmdi-search search-icon fs-20"></i>
                                    </div>
                                </li>
                            </ul>
                            <div class="header-right">
                                <a href="#" data-activates="mobile-demo3" class="right button-collapse2 right-nav"><i class="material-icons menu">menu</i></a>
                                <ul class="right-ul right hide-on-med-and-down">
                                    <li><a href="">Video</a></li>
                                    <li><a href="">Music</a></li>
                                    <li><a href="">Photo</a></li>
                                    <li><a href="">Shop</a></li>
                                    <li><a href="" class="relative-item"><span class="profile-img-ribbon"></span><img class="responsive-img profile-img" src="../assets/images/users/john.png" alt="john"/></a></li>
                                    <li><a class='dropdown-button drop-down-profile' href='#' data-activates='dropdown1' data-beloworigin="true">John <i class="zmdi zmdi-caret-down drop-down-icon"></i></a></li>
                                   <li>
                                       <ul id='dropdown1' class='dropdown-content'>
                                           <li><a href="#!">one</a></li>
                                           <li><a href="#!">two</a></li>
                                           <li class="divider"></li>
                                           <li><a href="#!">three</a></li>
                                       </ul>
                                   </li>
                                </ul>
                                <ul id="mobile-demo3" class="side-nav right">
                                    <li><a href="" class="relative-item"><span class="profile-img-ribbon"></span><img class="responsive-img profile-img" src="../assets/images/users/john.png" alt="john"/></a></li>
                                    <li><a class='dropdown-button drop-down-profile' href='#' data-activates='dropdown10' data-beloworigin="true">John <i class="zmdi zmdi-caret-down drop-down-icon"></i></a></li>
                                   <li>
                                       <ul id='dropdown10' class='dropdown-content'>
                                           <li><a href="#!">one</a></li>
                                           <li><a href="#!">two</a></li>
                                           <li class="divider"></li>
                                           <li><a href="#!">three</a></li>
                                       </ul>
                                   </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="row nav-color-white">
            <div class="col s12 m12 l12">
                <div class="row navbar-left">
                    <nav>
                        <div class="nav-wrapper">
                            <a href="#" class="brand-logo">MARA</a>
                            <ul class="header-left logo-left hide-on-med-and-down" >
                                <li>
                                    <a class='dropdown-button drop-down-profile' href='#' data-activates='dropdown4' data-beloworigin="true">Dropdown <i class="zmdi zmdi-caret-down drop-down-icon"></i></a>
                                    <ul id='dropdown4' class='dropdown-content'>
                                        <li><a href="#!">one</a></li>
                                        <li><a href="#!">two</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#!">three</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul  class="hide-on-med-and-down ">
                                        <li>
                                            <div class=" navbar-custom-search">
                                                <input type="search" required=""  placeholder="Search">
                                                <i class="zmdi zmdi-search search-icon fs-20"></i>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="header-right">
                                <a href="#" data-activates="mobile-demo4" class="right button-collapse2 right-nav"><i class="material-icons menu">menu</i></a>
                                <ul class="right-ul right hide-on-med-and-down">
                                    <li><a href=""><i class="zmdi zmdi-apps"></i></a></li>
                                    <li><a href="" class="relative-item"><span class="notifications-ribbon amber accent-4"></span> <i class="zmdi zmdi-notifications zmdi-hc-2x l-ribbon"></i> </a></li>
                                    <li><a class='dropdown-button drop-down-profile relative-item' href='#' data-activates='dropdown2' data-beloworigin="true"><span class="profile-img-ribbon"></span><img class="responsive-img profile-img" src="../assets/images/users/john.png" alt="john"/><i class="zmdi zmdi-caret-down drop-down-icon"></i></a></li>
                                   <li>
                                       <ul id='dropdown2' class='dropdown-content'>
                                           <li><a href="#!">one</a></li>
                                           <li><a href="#!">two</a></li>
                                           <li class="divider"></li>
                                           <li><a href="#!">three</a></li>
                                       </ul>
                                   </li>
                                </ul>
                                <ul id="mobile-demo4" class="side-nav right">
                                    <li><a href=""><i class="zmdi zmdi-apps grey-text text-darken-4"></i></a></li>
                                    <li><a href="" class="relative-item"><span class="notifications-ribbon amber accent-4"></span> <i class="zmdi zmdi-notifications zmdi-hc-2x l-ribbon grey-text text-darken-4"></i> </a></li>
                                    <li><a class='dropdown-button drop-down-profile relative-item' href='#' data-activates='dropdown11' data-beloworigin="true"><span class="profile-img-ribbon"></span><img class="responsive-img profile-img" src="../assets/images/users/john.png" alt="john"/><i class="zmdi zmdi-caret-down drop-down-icon"></i></a></li>
                                   <li>
                                       <ul id='dropdown11' class='dropdown-content'>
                                           <li><a href="#!">one</a></li>
                                           <li><a href="#!">two</a></li>
                                           <li class="divider"></li>
                                           <li><a href="#!">three</a></li>
                                       </ul>
                                   </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="row nav-color">
            <div class="col s12 m12 l12">
                <div class="row navbar-left">
                    <nav>
                        <div class="nav-wrapper">
                            <a href="#" class="brand-logo"><img src="../assets/images/mara.png" alt="MARA"></a>
                            <ul class="header-left logo-left hide-on-med-and-down">
                                <li>
                                    <a class='dropdown-button drop-down-profile' href='#' data-activates='dropdown6' data-beloworigin="true">Dropdown <i class="zmdi zmdi-caret-down drop-down-icon"></i></a>
                                    <ul id='dropdown6' class='dropdown-content'>
                                        <li><a href="#!">one</a></li>
                                        <li><a href="#!">two</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#!">three</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="header-right">
                                <a href="#" data-activates="mobile-demo5" class="right button-collapse2 right-nav"><i class="material-icons menu">menu</i></a>
                                <ul class="right-ul right hide-on-med-and-down">
                                    <li>
                                        <ul class="hide-on-med-and-down ">
                                            <li>
                                                <div class=" navbar-custom-search">
                                                    <input type="search" required=""  placeholder="Search">
                                                    <i class="zmdi zmdi-search search-icon fs-20"></i>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href=""><i class="zmdi zmdi-apps"></i></a></li>
                                    <li><a href="" class="relative-item"><span class="notifications-ribbon amber accent-4"></span> <i class="zmdi zmdi-notifications l-ribbon"></i> </a></li>
                                    <li><a class='dropdown-button drop-down-profile relative-item' href='#' data-activates='dropdown5' data-beloworigin="true"><span class="profile-img-ribbon"></span><img class="responsive-img profile-img" src="../assets/images/users/john.png" alt="john"/><i class="zmdi zmdi-caret-down drop-down-icon"></i></a>
                                        <ul id='dropdown5' class='dropdown-content'>
                                            <li><a href="#!">one</a></li>
                                            <li><a href="#!">two</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#!">three</a></li>
                                        </ul>
                                    </li>
                                    <li><a class='dropdown-button drop-down-profile more-vert' href='#' data-activates='dropdown9' data-beloworigin="true"><i class="zmdi zmdi-more-vert"></i></a>
                                        <ul id='dropdown9' class='dropdown-content'>
                                            <li><a href="#!">one</a></li>
                                            <li><a href="#!">two</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#!">three</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul id="mobile-demo5" class="side-nav">
                                    <li>
                                        <ul class="hide-on-med-and-down ">
                                            <li>
                                                <div class=" navbar-custom-search">
                                                    <input type="search" required=""  placeholder="Search">
                                                    <i class="zmdi zmdi-search search-icon fs-20"></i>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a href=""><i class="zmdi zmdi-apps"></i></a></li>
                                    <li><a href="" class="relative-item"><span class="notifications-ribbon amber "></span> <i class="zmdi zmdi-notifications l-ribbon"></i> </a></li>
                                    <li><a class='dropdown-button drop-down-profile relative-item' href='#' data-activates='dropdown12' data-beloworigin="true"><span class="profile-img-ribbon"></span><img class="responsive-img profile-img" src="../assets/images/users/john.png" alt="john"/><i class="zmdi zmdi-caret-down drop-down-icon"></i></a>
                                        <ul id='dropdown12' class='dropdown-content'>
                                            <li><a href="#!">one</a></li>
                                            <li><a href="#!">two</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#!">three</a></li>
                                        </ul>
                                    </li>
                                    <li><a class='dropdown-button drop-down-profile more-vert' href='#' data-activates='dropdown13' data-beloworigin="true"><i class="zmdi zmdi-more-vert"></i></a>
                                        <ul id='dropdown13' class='dropdown-content'>
                                            <li><a href="#!">one</a></li>
                                            <li><a href="#!">two</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#!">three</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="row nav-color">
            <div class="col s12 m12 l12">
                <div class="row navbar-left">
                    <nav>
                        <div class="nav-wrapper">
                            <a href="#" class="brand-logo"><img src="../assets/images/mara.png" alt="MARA"></a>
                            <ul class=" header-left hide-on-med-and-down logo-left">
                                <li><a class="icon-label" href=""><i class="zmdi zmdi-videocam"></i>Video</a></li>
                                <li><a class="icon-label" href=""><i class="zmdi zmdi-playlist-audio"></i>Music</a></li>
                                <li><a class="icon-label" href=""><i class="zmdi zmdi-camera"></i>Photo</a></li>
                                <li><a class="icon-label2" href=""><i class="zmdi zmdi-shopping-cart"></i>Shop</a></li>
                                <li>
                                    <div class=" navbar-custom-search">
                                        <input type="search" required=""  placeholder="Search">
                                        <i class="zmdi zmdi-search  search-icon fs-20"></i>
                                    </div>
                                </li>
                            </ul>
                            <div class="header-right">
                                <a href="#" data-activates="mobile-demo6" class="right button-collapse2 right-nav"><i class="material-icons menu">menu</i></a>
                                <ul class="right-ul right hide-on-med-and-down">
                                    <li><a class='dropdown-button drop-down-profile relative-item' href='#' data-activates='dropdown7' data-beloworigin="true"><span class="profile-img-ribbon"></span><img class="responsive-img profile-img" src="../assets/images/users/john.png" alt="john"/><i class="zmdi zmdi-caret-down drop-down-icon"></i></a>
                                        <ul id='dropdown7' class='dropdown-content'>
                                            <li><a href="#!">one</a></li>
                                            <li><a href="#!">two</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#!">three</a></li>
                                        </ul>
                                    </li>
                                    <li><a class='dropdown-button drop-down-profile more-vert' href='#' data-activates='dropdown8' data-beloworigin="true"><i class="zmdi zmdi-more-vert"></i></a>
                                        <ul id='dropdown8' class='dropdown-content'>
                                            <li><a href="#!">one</a></li>
                                            <li><a href="#!">two</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#!">three</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <ul id="mobile-demo6" class="side-nav">
                                    <li><a class="icon-label" href=""><i class="zmdi zmdi-videocam"></i>Video</a></li>
                                    <li><a class="icon-label" href=""><i class="zmdi zmdi-playlist-audio"></i>Music</a></li>
                                    <li><a class="icon-label" href=""><i class="zmdi zmdi-camera"></i>Photo</a></li>
                                    <li><a class="icon-label2" href=""><i class="zmdi zmdi-shopping-cart"></i>Shop</a></li>
                                    <li><a class='dropdown-button drop-down-profile relative-item' href='#' data-activates='dropdown14' data-beloworigin="true"><span class="profile-img-ribbon"></span><img class="responsive-img profile-img" src="../assets/images/users/john.png" alt="john"/><i class="zmdi zmdi-caret-down drop-down-icon"></i></a>
                                        <ul id='dropdown14' class='dropdown-content'>
                                            <li><a href="#!">one</a></li>
                                            <li><a href="#!">two</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#!">three</a></li>
                                        </ul>
                                    </li>
                                    <li><a class='dropdown-button drop-down-profile more-vert' href='#' data-activates='dropdown15' data-beloworigin="true"><i class="zmdi zmdi-more-vert"></i></a>
                                        <ul id='dropdown15' class='dropdown-content'>
                                            <li><a href="#!">one</a></li>
                                            <li><a href="#!">two</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#!">three</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>