<div id="page-content">
    <div class="section-header">
       <h4>Tooltips</h4>
    </div>
    <div class="row content-container">
        <div class="row">
            <div class="col s12 no-padding">
               <div class="col s12 m6">
                   <p>
                       Tooltips are small, interactive, textual hints for mainly graphical elements. When using icons for actions you can use a tooltip to give people clarification on its function.
                   </p>
                   <div class="row">
                       <a class="btn tooltipped col s4 offset-s4 l2 offset-l1" data-position="bottom" data-delay="50" data-tooltip="I am tooltip">Bottom</a>
                       <a class="btn tooltipped col s4 offset-s4 l2 offset-l1" data-position="top" data-delay="50" data-tooltip="I am tooltip">Top</a>
                       <a class="btn tooltipped col s4 offset-s4 l2 offset-l1" data-position="left" data-delay="50" data-tooltip="I am tooltip">Left</a>
                       <a class="btn tooltipped col s4 offset-s4 l2 offset-l1" data-position="right" data-delay="50" data-tooltip="I am tooltip">Right</a>
                   </div>
                   <p>
                       Add the Tooltipped class to your element and add either top, bottom, left, right on data-tooltip to control the position.
                   </p>
               </div>
               <div class="col s12 m6 hide-on-small-only">
                   <div class="card">
                       <div class="card-content">
                           <h5 class="fs-20">Code Sample</h5>
                       </div>
                       <div class="card-action">
                           <pre class="language-html"><code>&lt;!-- data-position can be : bottom, top, left, or right --&gt;
&lt;!-- data-delay controls delay before tooltip shows (in milliseconds)--&gt;
&lt;a class=&quot;btn tooltipped&quot; data-position=&quot;bottom&quot; data-delay=&quot;50&quot; data-tooltip=&quot;I am tooltip&quot;&gt;Hover me!&lt;/a&gt;</code></pre>
                       </div>
                   </div>
               </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 no-padding">
                <div class="col s12 m6">
                    <h5>Initialization</h5>
                    <p>
                        Tooltips are initialized automatically, but if you have dynamically added tooltips, you will need to initialize them.
                    </p>
                </div>
                <div class="col s12 m6 hide-on-small-only">
                    <div class="card">
                        <div class="card-content">
                            <h5 class="fs-20">Code Sample</h5>
                        </div>
                        <div class="card-action">
                           <pre class="language-javascript"><code>$(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50});
});</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 no-padding">
                <div class="col s12 m6">
                    <h5>jQuery Plugin Options</h5>
                    <p>Several options are available to customize the way your toasts behave</p>
                </div>
                <div class="col s12 m6">
                    <div class="card">
                        <div class="card-content">
                            <table class="highlight">
                                <thead>
                                <tr>
                                    <th>Option Name</th>
                                    <th>Description</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>delay</td>
                                    <td>Delay the time before the tooltip appears. (Default: 350)</td>
                                </tr>
                                <tr>
                                    <td>tooltip</td>
                                    <td>Tooltip text. Can use custom HTML if you set the html option</td>
                                </tr>
                                <tr>
                                    <td>position</td>
                                    <td>Set the direction of the tooltip. 'top', 'right', 'bottom', 'left'. (Default: 'bottom')</td>
                                </tr>
                                <tr>
                                    <td>html</td>
                                    <td>Allow custom html inside the tooltip. (Default: false)</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 no-padding">
                <div class="col s12 m6">
                    <h5>Removal</h5>
                    <p>
                        To remove the tooltip from the button, pass in <code class="language-javascript">'remove'</code> as the option to the tooltip function
                    </p>
                </div>
                <div class="col s12 m6 hide-on-small-only">
                    <div class="card">
                        <div class="card-content">
                            <h5 class="fs-20">Code Sample</h5>
                        </div>
                        <div class="card-action">
                            <pre class="language-javascript"><code>// This will remove the tooltip functionality for the buttons on this page
$(&#39;.tooltipped&#39;).tooltip(&#39;remove&#39;);</code></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
