<div class="container-typography">
        <div class="row section-header">
            <h4 class="page-title">Typography</h4>
        </div>
        <div class="row dashboard-wrapper content-container">

        <div class="row description">
            <p class="col s12 m12 l4">Open Sans is a humanist sans serif typeface designed by Steve Matteson, Type Director of Ascender Corp.
                Open Sans was designed with an upright stress, open forms and a neutral, yet friendly appearance. It was optimized for print,
                web, and mobile interfaces, and has excellent legibility characteristics in its letterforms.</p>
            <div class="col s12 m12 l8 card-panel text-types hoverable">
                <div class="row valign-wrapper"><p class="col s8 m8 p1 text-regular">Lorem ipsum</p><p class="col s4 m4 valign">Regular</p></div>
                <div class="row valign-wrapper"><p class="col s8 m8 p2 text-light">DOLOR SIT AMET</p><p class="col s4 m4 valign">Light</p></div>
                <div class="row valign-wrapper"><p class="col s8 m8 p3 text-semibold">Consectetur adisciping</p><p class="col s4 m4 valign">Semibold</p></div>
                <div class="row valign-wrapper"><p class="col s8 m8 p4 text-bold">Vestibilum</p><p class="col s4 m4 valign">Bold</p></div>
                <div class="row valign-wrapper"><p class="col s8 m8 p5 text-semibold-italic">Perspiciatis unde omnis</p><p class="col s4 m4 valign">Semibold Italic</p></div>
                <div class="row valign-wrapper"><p class="col s8 m8 p6 text-extrabold">Accusamus</p><p class="col s4 m4 valign">Extrabold</p></div>
                <div class="row valign-wrapper"><p class="col s8 m8 p7 text-italic">Iste natus error sit voluptatem accusanotium dolor</p><p class="col s4 m4 valign">Italic</p></div>
                <div class="row valign-wrapper"><p class="col s8 m8 p8 text-light-italic">Arhitecto</p><p class="col s4 m4 valign">Light Italic</p></div>
                <div class="row valign-wrapper"><p class="col s8 m8 p9 text-extrabold-italic">Reprehenderit in voluptate</p><p class="col s4 m4 valign">Extrabold Italic</p></div>
                <div class="row valign-wrapper"><p class="col s8 m8 p10 text-bold-italic">PLACEAT FACERE</p><p class="col s4 m4 valign">Bold Italic</p></div>
            </div>
        </div>
        <div class="col s12 m12 l12">
            <div class="card-panel hoverable">
                <p class="fs-15">Font-size 15</p>
                <p class="fs-16">Font-size 16</p>
                <p class="fs-17">Font-size 17</p>
            </div>
            <p>To use these fonts, use the fs- class on an element and add a number until 50</p>
            <div class="card">
                <div class="card-content">
                    <h5 class="fs-20">Code Sample</h5>
                </div>
                <div class="card-action">
                    <pre style="max-height:420px ">
                        <code class="language-markup">
&lt;p class=&quot;fs-15&quot;&gt;font-size&lt;/p&gt;
&lt;p class=&quot;fs-16&quot;&gt;font-size&lt;/p&gt;
&lt;p class=&quot;fs-17&quot;&gt;font-size&lt;/p&gt;
                        </code>
                    </pre>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="section headers">
                <h4 class="header">Headings</h4>
                <div class="card-panel hoverable">
                    <div class="row valign-wrapper"><h1 class="col s10 m10 left">H1 Heading</h1><p class="col s2 m2 right-align valign">37 px Bold</p></div>
                    <div class="divider"></div>

                    <div class="row valign-wrapper"><h2 class="col s10 m10 left">H2 Heading</h2><p class="col s2 m2 right-align valign">31 px Bold</p></div>
                    <div class="divider"></div>

                    <div class="row valign-wrapper"><h3 class="col s10 m10 left">H3 Heading</h3><p class="col s2 m2 right-align valign">25 px Bold</p></div>
                    <div class="divider"></div>

                    <div class="row valign-wrapper"><h4 class="col s10 m10 left">H4 Heading</h4><p class="col s2 m2 right-align valign">19 px Bold</p></div>
                    <div class="divider"></div>

                    <div class="row valign-wrapper"><h5 class="col s10 m10 left">H5 Heading</h5><p class="col s2 m2 right-align valign">15 px Bold</p></div>
                    <div class="divider"></div>

                    <div class="row valign-wrapper"><h6 class="col s10 m10 left">H6 Heading</h6><p class="col s2 m2 right-align valign">13 px Bold</p></div>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="section body">
                <h4 class="header">Body</h4>
                <div class="row">
                    <div class=" body-wraper">
                        <div class="card hoverable">
                            <div class="card-content">
                                <h5>Paragraph</h5>
                            </div>
                            <div class="card-action">
                                <p>Lorem ipsum dolor sit amet, integer mauris eget proin ante, suspendisse nascetur cras enim a bibendum. Massa ligula placerat, cras in urna commodo nullam ut. Interdum etiam in leo duis suspendisse, mollis quam pede felis ut, justo sodales feugiat. Lorem ipsum dolor sit amet, integer mauris eget proin ante. </p>
                                <p>Dui nunc justo vestibulum risus donec, fringilla pellentesque duis sed turpis pulvinar pellentesque, donec sollicitudin eros. Sit volutpat sodales aliquet, tempus at tellus pede in, eros duis enim.Interdum etiam in leo duis suspendisse, mollis quam pede felis ut.</p>
                            </div>
                        </div>
                    </div>
                    <div class="body-wraper">
                        <div class="card hoverable">
                            <div class="card-content">
                                <h5>Lead Body</h5>
                            </div>
                            <div class="card-action">
                                <p class="lead">Lorem ipsum dolor sit amet, integer mauris eget proin ante, suspendisse nascetur cras enim a bibendum. Massa ligula placerat, cras in urna commodo. </p>
                                <p class="lead">Interdum etiam in leo duis suspendisse, mollis quam pede felis ut, justo sodales feugiat.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="body-wraper">
                        <div class="card hoverable">
                            <div class="card-content">
                                <h5>Marked Text</h5>
                            </div>
                            <div class="card-action">
                                <p>Lorem ipsum dolor sit amet, <mark>suspendisse</mark> nascetur cras enim a bibendum.</p>
                            </div>
                        </div>
                    </div>
                    <div class="body-wraper">
                        <div class="card hoverable">
                            <div class="card-content">
                                <h5>Underlined Text</h5>
                            </div>
                            <div class="card-action">
                                <p><u>Lorem ipsum dolor sit amet, integer mauris eget proin ante bibendum.</u></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="body-wraper">
                    <div class="card hoverable">
                        <div class="card-content">
                            <h5>Small Print</h5>
                        </div>
                        <div class="card-action">
                            <p><small>Lorem ipsum dolor sit amet, integer mauris eget proin ante bibendum.</small></p>
                        </div>
                    </div>
                </div>
                <div class="body-wraper">
                    <div class="card hoverable">
                        <div class="card-content">
                            <h5>Bold</h5>
                        </div>
                        <div class="card-action">
                            <p><b>Lorem ipsum dolor sit amet, integer proin ante bibendum.</b></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="body-wraper">
                    <div class="card hoverable">
                        <div class="card-content">
                            <h5>Italic</h5>
                        </div>
                        <div class="card-action">
                            <p><i>Lorem ipsum dolor sit amet, integer mauris eget proin ante bibendum.</i></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" >
                <div class="body-wraper">
                    <div class="card hoverable">
                        <div class="card-content">
                            <h5>Alignment classes</h5>
                        </div>
                        <div class="card-action">
                            <p class="left-align">Left aligned text.</p>
                            <p class="center-align">Center aligned text.</p>
                            <p class="right-align">Right aligned text.</p>
                            <p class="justify-align">Justified text.</p>
                            <p class="no-wrap-text">No wrap text.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="body-wraper">
                    <div class="col s12 m6 l6 card hoverable">
                        <div class="card-content">
                            <h5>Default Blockquote</h5>
                        </div>
                        <div class="card-action">
                            <blockquote>
                                Lorem ipsum dolor sit amet, integer mauris eget proin ante bibendum.
                            </blockquote>
                            <p>Blockquote with Citation</p>
                            <blockquote>
                                Lorem ipsum dolor sit amet, integer mauris eget proin ante bibendum.
                                <p><cite>-Someone famoes in <b>Times New Roman</b></cite></p>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>