<div >
    <div class="row section-header">
        <h4 class="page-title">Widgets</h4>
    </div>

    <div class="row dashboard-wrapper content-container widgets">
        <div class="col s12">
            <div class="card ">
                <div class="card-content clearfix">
                    <div class="col m12 s12"><h5>Panels</h5></div>
                    <div class="col s12 m4">
                        <div class="card card-default ">
                            <div class="card-header white-text default-panel-widget">
                                Default Panel
                            </div>
                            <div class="card-content">
                                <p>Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis.</p>
                            </div>
                            <div class="card-footer">
                                <span>Footer Panel</span>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="card card-primary">
                            <div class="card-header black-text">
                                Primary Panel
                            </div>
                            <div class="card-content">
                                <p>Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis.</p>
                            </div>
                            <div class="card-footer">
                                <span>Footer Panel</span>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="card card-success">
                            <div class="card-header white-text">
                                Success Panel
                            </div>
                            <div class="card-content">
                                <p>Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis.</p>
                            </div>
                            <div class="card-footer">
                                <span>Footer Panel</span>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="card card-info">
                            <div class="card-header white-text">
                                Info Panel
                            </div>
                            <div class="card-content">
                                <p>Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis.</p>
                            </div>
                            <div class="card-footer">
                                <span>Footer Panel</span>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="card card-warning">
                            <div class="card-header white-text">
                                Warning Panel
                            </div>
                            <div class="card-content">
                                <p>Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis.</p>
                            </div>
                            <div class="card-footer">
                                <span>Footer Panel</span>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <div class="card card-danger">
                            <div class="card-header white-text">
                                Danger Panel
                            </div>
                            <div class="card-content">
                                <p>Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis.</p>
                            </div>
                            <div class="card-footer">
                                <span>Footer Panel</span>
                            </div>
                        </div>
                    </div>
                    <div class="col m12 s12"><h5>Alerts Style</h5></div>
                    <div class="col s12 m6">
                        <div class="card light-blue">
                            <div class="card-content white-text">
                                Alert Type 1
                            </div>
                            <a href="" class="closed">x</a>
                        </div>
                        <div class="card red">
                            <div class="card-content white-text">
                                Alert Type 2
                            </div>
                            <a href="" class="closed">x</a>
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="card green">
                            <div class="card-content white-text">
                                Alert Type 3
                            </div>
                            <a href="" class="closed">x</a>
                        </div>
                        <div class="card orange">
                            <div class="card-content white-text">
                                Alert Type 4
                            </div>
                            <a href="" class="closed">x</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>