<div >
    <div class="row section-header">
        <h4 class="page-title">Blog</h4>
    </div>
    <div class="row dashboard-wrapper content-container">
        <div class="col s12">
            <div class="blog">
                <div class="row">
                    <div class="main-img">
                        <img class="responsive-img" src="../assets/images/cards/blog-main.gif" alt="gif">
                    </div>
                    <div class="col s12 m10 l8 offset-m1 offset-l2 card-panel white center blog-desc">
                        <h4 class="center center-title section margin-bottom-10">The US Military at work</h4>
                        <p class="blog-content">Because of the importance of air superiority, since the dawn of aerial combat armed forces have constantly competed to develop technologically superior fighters and to deploy these fighters in greater numbers, and fielding a viable fighter fleet consumes...</p>
                        <p class="margin-top-10 section no-padding addedBy">Added by <span class="blog-post-author"> Jonathan Dow</span> <i class="material-icons">schedule</i><span class="blog-post-date"> 27 Jan 2016</span></p>
                        <div class="divider"></div>
                        <div class="social-buttons-container">
                            <div class="inline-block">
                                <a href="#" class="black-text"><i class="zmdi zmdi-favorite grey-text text-lighten-1"></i> 12</a>
                                <a href="#" class="black-text"><i class="zmdi zmdi-comments grey-text text-lighten-1"></i> 12</a>
                            </div>
                            <div class="inline-block">
                                <a href="#" class="circle blue darken-2 icon"><i class="zmdi zmdi-facebook circle white-text"></i> <span class="badge green darken-1 white-text">2</span></a>
                                <a href="#" class="circle light-blue darken-1 icon"><i class="zmdi zmdi-twitter circle  white-text"></i> <span class="badge green darken-1 white-text">17</span></a>
                                <a href="#" class="circle red lighten-1 icon"><i class="zmdi zmdi-google-plus circle  white-text"></i> <span class="badge green darken-1 white-text">3</span></a>
                                <a href="#" class="circle red darken-1 icon"><i class="zmdi zmdi-pinterest circle  white-text"></i> <span class="badge green darken-1 white-text">9</span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="blog-header">Author Box</h4>
                <div class="row">
                    <div class="card-panel col s12 author">
                        <div class="col s12 m6" >
                            <h5>About the author</h5>
                            <div class="divider"></div>
                        </div>
                        <div class="row">
                            <div class="col s12 margin-top-10 avatar">
                                <div class="author-image">
                                    <img src="../assets/images/profile/blog1.jpg" alt="avatar profile" class="circle responsive-img">
                                </div>
                                <div class="col s12 author-details">
                                    <h5 class="name">Johanna Dow</h5>
                                    <p>Who are the world’s most powerful women this year? They are the smartest and toughest female business leaders, entrepreneurs, investors, scientists, philanthropists and CEOs making their mark in the world today.
                                    </p>
                                    <p>So, who are the most powerful women this year?</p>
                                    <div class="contact-buttons-container">
                                        <a href="#" class="circle grey"><i class="zmdi zmdi-home white-text "></i></a>
                                        <a href="#" class="circle grey mail-icon"><i class="zmdi zmdi-email white-text text-lighten-1 "></i></a>
                                        <a href="#" class="circle blue darken-2"><i class="zmdi zmdi-facebook circle white-text"></i></a>
                                        <a href="#" class="circle light-blue darken-1"><i class="zmdi zmdi-twitter circle  white-text"></i></a>
                                        <a href="#" class="circle red lighten-1"><i class="zmdi zmdi-google-plus circle  white-text"></i></a>
                                        <a href="#" class="circle red darken-1"><i class="zmdi zmdi-pinterest circle  white-text"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h4 class="blog-header">Comments box</h4>
                </div>
                <div class="comments card-panel">
                    <div class="col s12 m6 no-padding">
                        <h5 class="section">Comments <span class="comm-badge green darken-1 white-text">4</span> </h5>
                        <div class="divider"></div>
                    </div>
                    <div class="row">
                        <div class="col s12 margin-top-10 avatar">
                            <div class="col s2 no-padding avatar-img">
                                <img src="../assets/images/profile/blog2.jpg" alt="avatar profile2" class="circle responsive-img">
                            </div>
                            <div class="col s10 author-details">
                                <h5 class="name">Michael Dostoievski</h5>
                                <p class="post-date"><i class="zmdi zmdi-time"></i> 12:00 27/01/2016 </p>
                                <p>Statistics on women in positions of power remain bleak. According to the latest survey by Catalyst, a nonprofit that tracks gender parity in the workplace, women occupy a measly 4% of corner offices at S&P 500 companies.  And they hold only 25% of executive or senior-level jobs in those same firms.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col s12 margin-top-10 avatar">
                            <div class="col s2 no-padding avatar-img">
                                <img src="../assets/images/profile/blog3.jpg" alt="avatar profile3" class="circle responsive-img">
                            </div>
                            <div class="col s10 author-details">
                                <h5 class="name">Mary Jane</h5>
                                <p class="post-date"><i class="zmdi zmdi-time"></i> 12:00 27/01/2016 </p>
                                <p>Evidence of this trend is visible. In the past year alone, Taiwan, Myanmar, Nepal, Croatia, Mauritius, and Lithuania have elected or reelected female leaders to office. And of course, there is U.S. presidential candidate Hillary Clinton, who as of press time continues to hold the lead in the primaries.
                                </p>
                                <p>This election-year “2016 Global Leaders” list honors these women, who join seasoned pros such as German Chancellor Angela Merkel, number-one Power Woman for six years running.

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col s12 margin-top-10 avatar">
                            <div class="col s2 no-padding avatar-img">
                                <img src="../assets/images/profile/blog4.jpg" alt="avatar profile4" class="circle responsive-img">
                            </div>
                            <div class="col s10 author-details">
                                <h5 class="name">Thomas Bun</h5>
                                <p class="post-date"><i class="zmdi zmdi-time"></i> 12:00 27/01/2016 </p>
                                <p>Curating this year’s list inspired the usual reexamination of what it means to be powerful, and, more to the point, what it means to be powerful as a woman. Power can be subjective. Is it control, or is it influence?...
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <div class="col s12 margin-top-10 avatar">
                            <div class="col s2 no-padding avatar-img">
                                <img src="../assets/images/profile/blog5.jpg" alt="avatar profile5" class="circle responsive-img">
                            </div>
                            <div class="col s10 author-details">
                                <h5 class="name">Aveline Barrett</h5>
                                <p class="post-date"><i class="zmdi zmdi-time"></i> 12:00 27/01/2016 </p>
                                <p>Ameenah Gurib-Fakim, the first woman to become president in Mauritius, believes it’s the latter. “People say to have power, you hire and you fire,” she says. “I don’t subscribe to this notion. For me, power is the ability to influence. If you can influence in the long-term by leaving behind a legacy, to me, that’s real power.”</p>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row">
                        <form class="col s11 no-padding">
                            <h5 class="form-title">Leave a reply</h5>
                            <div class="row no-margin">
                                <div class="input-field col s12 no-padding">
                                    <i class="zmdi zmdi-account grey-text white form-icon"></i>
                                    <label for="name">Name</label>
                                    <input id="name" type="text" class="validate">
                                </div>
                            </div>
                            <div class="row no-margin">
                                <div class="input-field col s12 no-padding">
                                    <i class="zmdi zmdi-email grey-text white form-icon"></i>
                                    <label for="email">Email</label>
                                    <input id="email" type="email" class="validate">
                                </div>
                            </div>
                            <div class="row no-margin">
                                <div class="input-field col s12 no-padding">
                                    <i class="zmdi zmdi-home grey-text white form-icon"></i>
                                    <label for="website">Website</label>
                                    <input id="website" type="text" class="validate">
                                </div>
                            </div>
                            <div class="row no-margin">
                                <div class="input-field col s12 no-padding">
                                    <i class="zmdi zmdi-edit grey-text white form-icon"></i>
                                    <label for="message">Message</label>
                                    <input id="message" type="text" class="validate">
                                </div>
                            </div>
                            <button class="btn waves-effect waves-light white-text" type="submit" name="action">Submit
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>