<div class="full_width angular-v" id="full-page">
    <div class="lock-container valign-wrapper">
        <div class="container center">
            <div class="row valign-wrapper">
                <div class="col s12 m3">
                    <img src="../assets/images/users/john.png" alt="john" class="circle responsive-img">
                </div>
                <div class="col s12 m9">
                    <p class="left-align white-text li">
                        Jonathan Dow
                    </p>
                </div>
            </div>

            <div class="col s12 inputDiv">
                <div class="col s12">
                    <div class="input-field col m10 s12">
                        <input id="password" type="password" class="validate white-text">
                        <label for="password" class="left-align">Password</label>
                    </div>
                    <a class="waves-effect waves-ripple btn" href='javascript:void(0);' ui-sref="mara.index">UNLOCK</a>
                </div>
            </div>
        </div>
    </div>
</div>
