<div >
    <div class=" row section-header">
        <h4 class="page-title">Magazine</h4>
    </div>
    <div class="row content-container">
        <div class="magazine  col s12">
            <div class="section">
                <h5 class="light">Grid Listing</h5>
            </div>
            <div class="row">
                <div class="card-panel col s12 no-padding grid-list ">
                    <ul class="collection border-none margin light">
                        <li class="collection-item no-padding article post">
                            <div class="col s12 m6 post-image nr1"></div>
                            <div class="col s12 m6 post-info">
                                <h1 class="section light margin">
                                    Post Title
                                </h1>
                                <div >
                                    <p class="activity"><a href="javascript:void(0);" class="comms black-text"><i class="zmdi zmdi-comments grey-text text-darken-2"> </i> 4</a>
                                        <a href="javascript:void(0);" class="fb-comms black-text"><i class="zmdi zmdi-facebook grey-text text-darken-2"> </i> 15</a>
                                        <a href="javascript:void(0);" class="tw-comms black-text"><i class="zmdi zmdi-twitter grey-text text-darken-2"> </i> 21</a></p>
                                    <p class="light">Many fascinating items available in our Shop - combined shipping is available on multiple purchases and occurs automatically. Since all our jewelry is handmade with Natural Stones, there will be imperfection, color variation, inclusion and natural scratches... <a href="#">Read more</a></p>
                                    <p class="post-date grey-text text-lighten-1"><i class="zmdi zmdi-time"></i> 12:00 24/07/2016 </p>
                                </div>
                            </div>
                        </li>
                        <li class="collection-item no-padding article post">
                                <div class="col s12 m7 push-m5 post-image nr2"></div>
                                <div class="col s12 m5 pull-m7 post-info">
                                    <h1 class="section light margin">
                                        Post Title
                                    </h1>
                                    <div >
                                        <p class="activity"><a href="javascript:void(0);" class="comms black-text"><i class="zmdi zmdi-comments grey-text text-darken-2"> </i> 4</a>
                                            <a href="javascript:void(0);" class="fb-comms black-text"><i class="zmdi zmdi-facebook grey-text text-darken-2"> </i> 15</a>
                                            <a href="javascript:void(0);" class="tw-comms black-text"><i class="zmdi zmdi-twitter grey-text text-darken-2"> </i> 21</a></p>
                                        <p class="light">If you place an order with other items in the order, everything will be shipped together when these are ready.
                                            Simple posting is very useful, as the information is being sent straight forward. Simple cards are great at containing small bits of information. They are convenient because they require little markup to use effectively...
                                            <a href="javascript:void(0);">Read more</a></p>
                                        <p class="post-date grey-text text-lighten-1"><i class="zmdi zmdi-time"></i> 12:00 24/07/2016 </p>
                                    </div>
                                </div>
                        </li>
                        <li class="collection-item no-padding article post">
                            <div class="col s12 m8 post-image nr3"></div>
                            <div class="col s12 m4 post-info">
                                <h1 class="section light margin">
                                    Post Title
                                </h1>
                                <div >
                                    <p class="activity"><a href="javascript:void(0);" class="comms black-text"><i class="zmdi zmdi-comments grey-text text-darken-2"> </i> 4</a>
                                        <a href="javascript:void(0);" class="fb-comms black-text"><i class="zmdi zmdi-facebook grey-text text-darken-2"> </i> 15</a>
                                        <a href="javascript:void(0);" class="tw-comms black-text"><i class="zmdi zmdi-twitter grey-text text-darken-2"> </i> 21</a></p>
                                    <p class="light">Since all our jewelry is handmade with Natural Stones, there will be imperfection, color variation, inclusion and natural scratches...<a href="#">Read more</a></p>
                                    <p class="post-date grey-text text-lighten-1"><i class="zmdi zmdi-time"></i> 12:00 24/07/2016 </p>
                                </div>
                            </div>
                        </li>
                        <li class="collection-item no-padding article post">
                            <div class="col s12 m5 push-m7 post-image nr4"></div>
                            <div class="col s12 m7 pull-m5 post-info">
                                <h1 class="section light margin">
                                    Post Title
                                </h1>
                                <div >
                                    <p class="activity"><a href="javascript:void(0);" class="comms black-text"><i class="zmdi zmdi-comments grey-text text-darken-2"> </i> 4</a>
                                        <a href="javascript:void(0);" class="fb-comms black-text"><i class="zmdi zmdi-facebook grey-text text-darken-2"> </i> 15</a>
                                        <a href="javascript:void(0);" class="tw-comms black-text"><i class="zmdi zmdi-twitter grey-text text-darken-2"> </i> 21</a></p>
                                    <p class="light">Many fascinating items available in our Shop - combined shipping is available on multiple purchases and occurs automatically. Since all our jewelry is handmade with Natural Stones, there will be imperfection, color variation, inclusion and natural scratches...<a href="javascript:void(0);">Read more</a></p>
                                    <p class="post-date grey-text text-lighten-1"><i class="zmdi zmdi-time"></i> 12:00 24/07/2016 </p>
                                </div>
                            </div>
                        </li>
                        <li class="collection-item no-padding article post">
                            <div class="col s12 m8 post-image nr5"></div>
                            <div class="col s12 m4 post-info">
                                <h1 class="section light margin">
                                    Post Title
                                </h1>
                                <div >
                                    <p class="activity"><a href="javascript:void(0);" class="comms black-text"><i class="zmdi zmdi-comments grey-text text-darken-2"> </i> 4</a>
                                        <a href="javascript:void(0);" class="fb-comms black-text"><i class="zmdi zmdi-facebook grey-text text-darken-2"> </i> 15</a>
                                        <a href="javascript:void(0);" class="tw-comms black-text"><i class="zmdi zmdi-twitter grey-text text-darken-2"> </i> 21</a></p>
                                    <p class="light">Simple posting is very useful, as the information is being sent straight forward. Simple cards are great at containing small bits of information. They are convenient because they require little markup to use effectively...<a href="javascript:void(0);">Read more</a></p>
                                    <p class="post-date grey-text text-lighten-1"><i class="zmdi zmdi-time"></i> 12:00 24/07/2016 </p>
                                </div>
                            </div>
                        </li>
                        <li class="collection-item no-padding article post">
                            <div class="col s12 m7 push-m5 post-image nr6"></div>
                            <div class="col s12 m5 pull-m7 post-info">
                                <h1 class="section light margin">
                                    Post Title
                                </h1>
                                <div >
                                    <p class="activity"><a href="javascript:void(0);" class="comms black-text"><i class="zmdi zmdi-comments grey-text text-darken-2"> </i> 4</a>
                                        <a href="javascript:void(0);" class="fb-comms black-text"><i class="zmdi zmdi-facebook grey-text text-darken-2"> </i> 15</a>
                                        <a href="javascript:void(0);" class="tw-comms black-text"><i class="zmdi zmdi-twitter grey-text text-darken-2"> </i> 21</a></p>
                                    <p class="light">Since all our jewelry is handmade with Natural Stones, there will be imperfection, color variation, inclusion and natural scratches...<a href="javascript:void(0);">Read more</a></p>
                                    <p class="post-date grey-text text-lighten-1"><i class="zmdi zmdi-time"></i> 12:00 24/07/2016 </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="section">
                <h5 class="light">One Column Listing</h5>
            </div>
            <div class="row">
                <div class="card-panel col s12 no-padding one-col-list ">
                    <ul class="collection border-none margin light">
                        <li class="collection-item no-padding article post">
                            <div class="col s12 m5 img-container">
                                <div class="col s12 post-image nr7">
                                </div>
                            </div>
                            <div class="col s12 m7 post-info">
                                <h1 class="section light margin">
                                    Post Title
                                </h1>
                                <div >
                                    <p class="activity"><a href="javascript:void(0);" class="comms black-text"><i class="zmdi zmdi-comments grey-text text-darken-2"> </i> 4</a>
                                        <a href="javascript:void(0);" class="fb-comms black-text"><i class="zmdi zmdi-facebook grey-text text-darken-2"> </i> 15</a>
                                        <a href="javascript:void(0);" class="tw-comms black-text"><i class="zmdi zmdi-twitter grey-text text-darken-2"> </i> 21</a></p>
                                    <p class="light"> Many fascinating items available in our Shop - combined shipping is available on multiple purchases and occurs automatically. Since all our jewelry is handmade with Natural Stones, there will be imperfection, color variation, inclusion and natural scratches...<a href="javascript:void(0);">Read more</a></p>
                                    <p class="post-date grey-text text-lighten-1"><i class="zmdi zmdi-time"></i> 12:00 24/07/2016 </p>
                                </div>
                            </div>
                        </li>
                        <li class="collection-item no-padding article post">
                            <div class="col s12 m5 img-container">
                                <div class="col s12 post-image nr8">
                                </div>
                            </div>
                            <div class="col s12 m7 post-info">
                                <h1 class="section light margin">
                                    Post Title
                                </h1>
                                <div >
                                    <p class="activity"><a href="javascript:void(0);" class="comms black-text"><i class="zmdi zmdi-comments grey-text text-darken-2"> </i> 4</a>
                                        <a href="javascript:void(0);" class="fb-comms black-text"><i class="zmdi zmdi-facebook grey-text text-darken-2"> </i> 15</a>
                                        <a href="javascript:void(0);" class="tw-comms black-text"><i class="zmdi zmdi-twitter grey-text text-darken-2"> </i> 21</a></p>
                                    <p class="light">Simple posting is very useful, as the information is being sent straight forward. Simple cards are great at containing small bits of information. They are convenient because they require little markup to use effectively...<a href="javascript:void(0);">Read more</a></p>
                                    <p class="post-date grey-text text-lighten-1"><i class="zmdi zmdi-time"></i> 12:00 24/07/2016 </p>
                                </div>
                            </div>
                        </li>
                        <li class="collection-item no-padding article post">
                            <div class="col s12 m5 img-container">
                                <div class="col s12 post-image nr9">
                                </div>
                            </div>
                            <div class="col s12 m7 post-info">
                                <h1 class="section light margin">
                                    Post Title
                                </h1>
                                <div >
                                    <p class="activity"><a href="javascript:void(0);" class="comms black-text"><i class="zmdi zmdi-comments grey-text text-darken-2"> </i> 4</a>
                                        <a href="javascript:void(0);" class="fb-comms black-text"><i class="zmdi zmdi-facebook grey-text text-darken-2"> </i> 15</a>
                                        <a href="javascript:void(0);" class="tw-comms black-text"><i class="zmdi zmdi-twitter grey-text text-darken-2"> </i> 21</a></p>
                                    <p class="light">Many fascinating items available in our Shop - combined shipping is available on multiple purchases and occurs automatically. Since all our jewelry is handmade with Natural Stones, there will be imperfection, color variation, inclusion and natural scratches...<a href="javascript:void(0);">Read more</a></p>
                                    <p class="post-date grey-text text-lighten-1"><i class="zmdi zmdi-time"></i> 12:00 24/07/2016 </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="section">
                <h5 class="light">Two Column Listing</h5>
            </div>
            <div class="row">
                <div class="card-panel col s12 no-padding two-col-list ">
                    <ul class="collection border-none margin light">
                        <li class="collection-item col s12 m6 border-none article post">
                            <div class="col s12 left post-image nr9">
                            </div>
                            <div class="col s12 left post-info">
                                <h1 class="section light margin">
                                    Post Title
                                </h1>
                                <div >
                                    <p class="activity"><a href="javascript:void(0);" class="comms black-text"><i class="zmdi zmdi-comments grey-text text-darken-2"> </i> 4</a>
                                        <a href="javascript:void(0);" class="fb-comms black-text"><i class="zmdi zmdi-facebook grey-text text-darken-2"> </i> 15</a>
                                        <a href="javascript:void(0);" class="tw-comms black-text"><i class="zmdi zmdi-twitter grey-text text-darken-2"> </i> 21</a></p>
                                    <p class="light">
                                        If you place an order with other items in the order, everything will be shipped together when these are ready...<a href="javascript:void(0);">Read more</a></p>
                                    <p class="post-date grey-text text-lighten-1"><i class="zmdi zmdi-time"></i> 12:00 24/07/2016 </p>
                                </div>
                            </div>
                        </li>
                        <li class="collection-item col s12 m6 border-none article post">
                            <div class="col s12 left post-image nr10">
                            </div>
                            <div class="col s12 left post-info">
                                <h1 class="section light margin">
                                    Post Title
                                </h1>
                                <div >
                                    <p class="activity"><a href="javascript:void(0);" class="comms black-text"><i class="zmdi zmdi-comments grey-text text-darken-2"> </i> 4</a>
                                        <a href="javascript:void(0);" class="fb-comms black-text"><i class="zmdi zmdi-facebook grey-text text-darken-2"> </i> 15</a>
                                        <a href="javascript:void(0);" class="tw-comms black-text"><i class="zmdi zmdi-twitter grey-text text-darken-2"> </i> 21</a></p>
                                    <p class="light">Many fascinating items available in our Shop - combined shipping is available on multiple purchases and occurs automatically. Since all our jewelry is handmade with Natural Stones, there will be imperfection, color variation, inclusion and natural scratches...<a href="javascript:void(0);">Read more</a></p>
                                    <p class="post-date grey-text text-lighten-1"><i class="zmdi zmdi-time"></i> 12:00 24/07/2016 </p>
                                </div>
                            </div>
                        </li>
                        <li class="collection-item article post col s12 m6 border-none small-post">
                            <div class="col s6 img-container">
                                <div class="col s12 post-image nr8">
                                </div>
                            </div>
                            <div class="col s6 margin post-info">
                                <h1 class="light margin">
                                    Post Title
                                </h1>
                                <div >
                                    <p class="activity"><a href="javascript:void(0);" class="comms black-text"><i class="zmdi zmdi-comments grey-text text-darken-2"> </i> 4</a>
                                        <a href="javascript:void(0);" class="fb-comms black-text"><i class="zmdi zmdi-facebook grey-text text-darken-2"> </i> 15</a>
                                        <a href="javascript:void(0);" class="tw-comms black-text"><i class="zmdi zmdi-twitter grey-text text-darken-2"> </i> 21</a></p>
                                    <p class="light">
                                        Everything will be shipped together when the products are ready...<a href="javascript:void(0);">Read more</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="collection-item article post col s12 m6 border-none small-post">
                            <div class="col s6 no-padding-left img-container">
                                <div class="col s12 post-image nr11">
                                </div>
                            </div>
                            <div class="col s6 margin post-info">
                                <h1 class="light margin">
                                    Post Title
                                </h1>
                                <div >
                                    <p class="activity"><a href="javascript:void(0);" class="comms black-text"><i class="zmdi zmdi-comments grey-text text-darken-2"> </i> 4</a>
                                        <a href="javascript:void(0);" class="fb-comms black-text"><i class="zmdi zmdi-facebook grey-text text-darken-2"> </i> 15</a>
                                        <a href="javascript:void(0);" class="tw-comms black-text"><i class="zmdi zmdi-twitter grey-text text-darken-2"> </i> 21</a></p>
                                    <p class="light">
                                        If you place an order with other items in the order, everything...<a href="javascript:void(0);">Read more</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="collection-item article post col s12 m6 border-none small-post">
                            <div class="col s6 img-container">
                                <div class="col s12 post-image nr7">
                                </div>
                            </div>
                            <div class="col s6 margin post-info">
                                <h1 class="light margin">
                                    Post Title
                                </h1>
                                <div >
                                    <p class="activity"><a href="javascript:void(0);" class="comms black-text"><i class="zmdi zmdi-comments grey-text text-darken-2"> </i> 4</a>
                                        <a href="javascript:void(0);" class="fb-comms black-text"><i class="zmdi zmdi-facebook grey-text text-darken-2"> </i> 15</a>
                                        <a href="javascript:void(0);" class="tw-comms black-text"><i class="zmdi zmdi-twitter grey-text text-darken-2"> </i> 21</a></p>
                                    <p class="light">
                                        If you place an order with other items in the order...<a href="javascript:void(0);">Read more</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="collection-item article post col s12 m6 border-none small-post">
                            <div class="col s6 no-padding-left img-container">
                                <div class="col s12 post-image nr12">
                                </div>
                            </div>
                            <div class="col s6 margin post-info">
                                <h1 class="light margin">
                                    Post Title
                                </h1>
                                <div >
                                    <p class="activity"><a href="javascript:void(0);" class="comms black-text"><i class="zmdi zmdi-comments grey-text text-darken-2"> </i> 4</a>
                                        <a href="javascript:void(0);" class="fb-comms black-text"><i class="zmdi zmdi-facebook grey-text text-darken-2"> </i> 15</a>
                                        <a href="javascript:void(0);" class="tw-comms black-text"><i class="zmdi zmdi-twitter grey-text text-darken-2"> </i> 21</a></p>
                                    <p class="light"> Everything will be shipped together when the products are ready...<a href="javascript:void(0);">Read more</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="collection-item article post col s12 m6 border-none small-post">
                            <div class="col s6 img-container">
                                <div class="col s12 post-image nr13">
                                </div>
                            </div>
                            <div class="col s6 margin post-info">
                                <h1 class="light margin">
                                    Post Title
                                </h1>
                                <div >
                                    <p class="activity"><a href="javascript:void(0);" class="comms black-text"><i class="zmdi zmdi-comments grey-text text-darken-2"> </i> 4</a>
                                        <a href="javascript:void(0);" class="fb-comms black-text"><i class="zmdi zmdi-facebook grey-text text-darken-2"> </i> 15</a>
                                        <a href="javascript:void(0);" class="tw-comms black-text"><i class="zmdi zmdi-twitter grey-text text-darken-2"> </i> 21</a></p>
                                    <p class="light"> Everything will be shipped together when the products are ready...<a href="javascript:void(0);">Read more</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="collection-item article post col s12 m6 border-none small-post">
                            <div class="col s6 no-padding-left img-container">
                                <div class="col s12 post-image nr1">
                                </div>
                            </div>
                            <div class="col s6 margin post-info">
                                <h1 class="light margin">
                                    Post Title
                                </h1>
                                <div >
                                    <p class="activity"><a href="javascript:void(0);" class="comms black-text"><i class="zmdi zmdi-comments grey-text text-darken-2"> </i> 4</a>
                                        <a href="javascript:void(0);" class="fb-comms black-text"><i class="zmdi zmdi-facebook grey-text text-darken-2"> </i> 15</a>
                                        <a href="javascript:void(0);" class="tw-comms black-text"><i class="zmdi zmdi-twitter grey-text text-darken-2"> </i> 21</a></p>
                                    <p class="light"> If you place an order with other items in the order, everything...<a href="javascript:void(0);">Read more</a></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="section">
                <h5 class="light">Widgets Tabs</h5>
            </div>
            <div class="row">
                <div class="card-panel col s12 m6 widgets-tabs">
                    <ul class="tabs">
                        <li class="tab col s3"><a href="#recent" class="active">Recent</a></li>
                        <li class="tab col s3"><a  href="#popular">Popular</a></li>
                        <li class="tab col s3"><a href="#something">Something</a></li>
                    </ul>
                    <div id="recent" class="col 6 no-padding">
                        <ul>
                            <li class="collection-item article post col s12 border-none small-post">
                                <div class="col s6 img-container">
                                    <div class="col s12 post-image nr11">
                                    </div>
                                </div>
                                <div class="col s6 margin post-info">
                                    <h1 class="light margin">
                                        Post Title
                                    </h1>
                                    <div >
                                        <p class="activity"><a href="javascript:void(0);" class="comms black-text"><i class="zmdi zmdi-comments grey-text text-darken-2"> </i> 4</a>
                                            <a href="javascript:void(0);" class="fb-comms black-text"><i class="zmdi zmdi-facebook grey-text text-darken-2"> </i> 15</a>
                                            <a href="javascript:void(0);" class="tw-comms black-text"><i class="zmdi zmdi-twitter grey-text text-darken-2"> </i> 21</a></p>
                                        <p class="light">Order with other items and everything...<a href="javascript:void(0);">Read more</a></p>
                                    </div>
                                </div>
                            </li>
                            <li class="collection-item article post col s12 border-none small-post">
                                <div class="col s6 img-container">
                                    <div class="col s12 post-image nr12">
                                    </div>
                                </div>
                                <div class="col s6 margin post-info">
                                    <h1 class="light margin">
                                        Post Title
                                    </h1>
                                    <div >
                                        <p class="activity"><a href="javascript:void(0);" class="comms black-text"><i class="zmdi zmdi-comments grey-text text-darken-2"> </i> 4</a>
                                            <a href="javascript:void(0);" class="fb-comms black-text"><i class="zmdi zmdi-facebook grey-text text-darken-2"> </i> 15</a>
                                            <a href="javascript:void(0);" class="tw-comms black-text"><i class="zmdi zmdi-twitter grey-text text-darken-2"> </i> 21</a></p>
                                        <p class="light">Order with other items and everything...<a href="javascript:void(0);">Read more</a></p>
                                    </div>
                                </div>
                            </li>
                            <li class="collection-item article post col s12 border-none small-post">
                                <div class="col s6 img-container">
                                    <div class="col s12 post-image nr1">
                                    </div>
                                </div>
                                <div class="col s6 margin post-info">
                                    <h1 class="light margin">
                                        Post Title
                                    </h1>
                                    <div >
                                        <p class="activity"><a href="javascript:void(0);" class="comms black-text"><i class="zmdi zmdi-comments grey-text text-darken-2"> </i> 4</a>
                                            <a href="javascript:void(0);" class="fb-comms black-text"><i class="zmdi zmdi-facebook grey-text text-darken-2"> </i> 15</a>
                                            <a href="javascript:void(0);" class="tw-comms black-text"><i class="zmdi zmdi-twitter grey-text text-darken-2"> </i> 21</a></p>
                                        <p class="light">Order with other items and everything...<a href="javascript:void(0);">Read more</a></p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div id="popular" class="col 6 no-padding">
                        <ul>
                            <li class="collection-item article post col s12 border-none small-post">
                                <div class="col s6 img-container">
                                    <div class="col s12 post-image nr11">
                                    </div>
                                </div>
                                <div class="col s6 margin post-info">
                                    <h1 class="light margin">
                                        Post Title
                                    </h1>
                                    <div >
                                        <p class="activity"><a href="javascript:void(0);" class="comms black-text"><i class="zmdi zmdi-comments grey-text text-darken-2"> </i> 4</a>
                                            <a href="javascript:void(0);" class="fb-comms black-text"><i class="zmdi zmdi-facebook grey-text text-darken-2"> </i> 15</a>
                                            <a href="javascript:void(0);" class="tw-comms black-text"><i class="zmdi zmdi-twitter grey-text text-darken-2"> </i> 21</a></p>
                                        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit...<a href="javascript:void(0);">Read more</a></p>
                                    </div>
                                </div>
                            </li>
                            <li class="collection-item article post col s12 border-none small-post">
                                <div class="col s6 img-container">
                                    <div class="col s12 post-image nr12">
                                    </div>
                                </div>
                                <div class="col s6 margin post-info">
                                    <h1 class="light margin">
                                        Post Title
                                    </h1>
                                    <div >
                                        <p class="activity"><a href="javascript:void(0);" class="comms black-text"><i class="zmdi zmdi-comments grey-text text-darken-2"> </i> 4</a>
                                            <a href="javascript:void(0);" class="fb-comms black-text"><i class="zmdi zmdi-facebook grey-text text-darken-2"> </i> 15</a>
                                            <a href="javascript:void(0);" class="tw-comms black-text"><i class="zmdi zmdi-twitter grey-text text-darken-2"> </i> 21</a></p>
                                        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit...<a href="javascript:void(0);">Read more</a></p>
                                    </div>
                                </div>
                            </li>
                            <li class="collection-item article post col s12 border-none small-post">
                                <div class="col s6 img-container">
                                    <div class="col s12 post-image nr1">
                                    </div>
                                </div>
                                <div class="col s6 margin post-info">
                                    <h1 class="light margin">
                                        Post Title
                                    </h1>
                                    <div >
                                        <p class="activity"><a href="javascript:void(0);" class="comms black-text"><i class="zmdi zmdi-comments grey-text text-darken-2"> </i> 4</a>
                                            <a href="javascript:void(0);" class="fb-comms black-text"><i class="zmdi zmdi-facebook grey-text text-darken-2"> </i> 15</a>
                                            <a href="javascript:void(0);" class="tw-comms black-text"><i class="zmdi zmdi-twitter grey-text text-darken-2"> </i> 21</a></p>
                                        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit...<a href="javascript:void(0);">Read more</a></p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div id="something" class="col 6 no-padding">
                        <ul>
                            <li class="collection-item article post col s12 border-none small-post">
                                <div class="col s6 img-container">
                                    <div class="col s12 post-image nr11">
                                    </div>
                                </div>
                                <div class="col s6 margin post-info">
                                    <h1 class="light margin">
                                        Post Title
                                    </h1>
                                    <div >
                                        <p class="activity"><a href="javascript:void(0);" class="comms black-text"><i class="zmdi zmdi-comments grey-text text-darken-2"> </i> 4</a>
                                            <a href="javascript:void(0);" class="fb-comms black-text"><i class="zmdi zmdi-facebook grey-text text-darken-2"> </i> 15</a>
                                            <a href="javascript:void(0);" class="tw-comms black-text"><i class="zmdi zmdi-twitter grey-text text-darken-2"> </i> 21</a></p>
                                        <p class="light">Order with other items and everything...<a href="javascript:void(0);">Read more</a></p>
                                    </div>
                                </div>
                            </li>
                            <li class="collection-item article post col s12 border-none small-post">
                                <div class="col s6 img-container">
                                    <div class="col s12 post-image nr12">
                                    </div>
                                </div>
                                <div class="col s6 margin post-info">
                                    <h1 class="light margin">
                                        Post Title
                                    </h1>
                                    <div >
                                        <p class="activity"><a href="javascript:void(0);" class="comms black-text"><i class="zmdi zmdi-comments grey-text text-darken-2"> </i> 4</a>
                                            <a href="javascript:void(0);" class="fb-comms black-text"><i class="zmdi zmdi-facebook grey-text text-darken-2"> </i> 15</a>
                                            <a href="javascript:void(0);" class="tw-comms black-text"><i class="zmdi zmdi-twitter grey-text text-darken-2"> </i> 21</a></p>
                                        <p class="light">Order with other items and everything...<a href="javascript:void(0);">Read more</a></p>
                                    </div>
                                </div>
                            </li>
                            <li class="collection-item article post col s12 border-none small-post">
                                <div class="col s6 img-container">
                                    <div class="col s12 post-image nr1">
                                    </div>
                                </div>
                                <div class="col s6 margin post-info">
                                    <h1 class="light margin">
                                        Post Title
                                    </h1>
                                    <div >
                                        <p class="activity"><a href="javascript:void(0);" class="comms black-text"><i class="zmdi zmdi-comments grey-text text-darken-2"> </i> 4</a>
                                            <a href="javascript:void(0);" class="fb-comms black-text"><i class="zmdi zmdi-facebook grey-text text-darken-2"> </i> 15</a>
                                            <a href="javascript:void(0);" class="tw-comms black-text"><i class="zmdi zmdi-twitter grey-text text-darken-2"> </i> 21</a></p>
                                        <p class="light">Order with other items and everything...<a href="javascript:void(0);">Read more</a></p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="section">
                <h5 class="light">Review listing</h5>
            </div>
            <div class="row">
                <div class="card-panel col s12 m6 no-padding review">
                    <div class="col s12 no-padding img-container-big nr2">
                        <div class="post-info grad col s12">
                            <h1 class="light margin white-text">
                                Post Title
                            </h1>
                            <p class="post-date grey-text text-lighten-2"><i class="zmdi zmdi-time"></i> 12:00 24/07/2016 </p>
                        </div>
                        <div class="rating">
                            <p class="center-align stars margin"><i class="zmdi zmdi-star white-text"></i>
                                <i class="zmdi zmdi-star white-text"></i>
                                <i class="zmdi zmdi-star white-text"></i>
                                <i class="zmdi zmdi-star white-text"></i>
                                <i class="zmdi zmdi-star-outline white-text"></i></p>
                            <p class="activity center-align"><a href="javascript:void(0);" class="comms white-text"><i class="zmdi zmdi-comments white-text"> </i> 4</a>
                                <a href="javascript:void(0);" class="fb-comms white-text"><i class="zmdi zmdi-facebook white-text"> </i> 15</a>
                                <a href="javascript:void(0);" class="tw-comms white-text"><i class="zmdi zmdi-twitter white-text"> </i> 21</a></p>
                        </div>
                    </div>
                    <ul>
                        <li class="collection-item article post col s12 border-none small-post">
                            <div class="col s6 img-container">
                                <div class="col s12 post-image nr8">
                                </div>
                            </div>
                            <div class="col s6 margin post-info">
                                <h1 class="light margin no-padding">
                                    Post Title
                                </h1>
                                <div >
                                    <p class="stars"><i class="zmdi zmdi-star"></i>
                                        <i class="zmdi zmdi-star"></i>
                                        <i class="zmdi zmdi-star"></i>
                                        <i class="zmdi zmdi-star"></i>
                                        <i class="zmdi zmdi-star-outline"></i></p>
                                    <p class="activity"><a href="javascript:void(0);" class="comms black-text"><i class="zmdi zmdi-comments grey-text text-darken-2"> </i> 4</a>
                                        <a href="javascript:void(0);" class="fb-comms black-text"><i class="zmdi zmdi-facebook grey-text text-darken-2"> </i> 15</a>
                                        <a href="javascript:void(0);" class="tw-comms black-text"><i class="zmdi zmdi-twitter grey-text text-darken-2"> </i> 21</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="collection-item article post col s12 border-none small-post">
                            <div class="col s6 img-container">
                                <div class="col s12 post-image nr7">
                                </div>
                            </div>
                            <div class="col s6 margin post-info">
                                <h1 class="light margin no-padding">
                                    Post Title
                                </h1>
                                <div >
                                    <p class="stars"><i class="zmdi zmdi-star"></i>
                                        <i class="zmdi zmdi-star"></i>
                                        <i class="zmdi zmdi-star"></i>
                                        <i class="zmdi zmdi-star"></i>
                                        <i class="zmdi zmdi-star-outline"></i></p>
                                    <p class="activity"><a href="javascript:void(0);" class="comms black-text"><i class="zmdi zmdi-comments grey-text text-darken-2"> </i> 4</a>
                                        <a href="javascript:void(0);" class="fb-comms black-text"><i class="zmdi zmdi-facebook grey-text text-darken-2"> </i> 15</a>
                                        <a href="javascript:void(0);" class="tw-comms black-text"><i class="zmdi zmdi-twitter grey-text text-darken-2"> </i> 21</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="collection-item article post col s12 border-none small-post">
                            <div class="col s6 img-container">
                                <div class="col s12 post-image nr13">
                                </div>
                            </div>
                            <div class="col s6 margin post-info">
                                <h1 class="light margin no-padding">
                                    Post Title
                                </h1>
                                <div >
                                    <p class="stars"><i class="zmdi zmdi-star"></i>
                                        <i class="zmdi zmdi-star"></i>
                                        <i class="zmdi zmdi-star"></i>
                                        <i class="zmdi zmdi-star"></i>
                                        <i class="zmdi zmdi-star-outline"></i></p>
                                    <p class="activity"><a href="javascript:void(0);" class="comms black-text"><i class="zmdi zmdi-comments grey-text text-darken-2"> </i> 4</a>
                                        <a href="javascript:void(0);" class="fb-comms black-text"><i class="zmdi zmdi-facebook grey-text text-darken-2"> </i> 15</a>
                                        <a href="javascript:void(0);" class="tw-comms black-text"><i class="zmdi zmdi-twitter grey-text text-darken-2"> </i> 21</a></p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>