<div >
    <div class="row section-header">
        <h4 class="page-title">Pricing</h4>
    </div>
    <div class="row dashboard-wrapper content-container">
        <div class="pricing">
            <h4 class="center">Start up your Business today</h4>
            <h5 class="center light">We create different services for your product. 30 days guaranteed.</h5>
            <div>
                <button class="btn waves-effect waves-light start-button" type="submit" name="action">Start Now</button>
            </div>
            <div class="row">
                <section class="col s10 offset-s1">
                    <div class="col s12 m4 no-padding">
                        <div class="card col s12 no-padding">
                            <div class="card-image grey lighten-4">
                                <div class="card-title black-text">
                                    STARTUP
                                </div>
                                <div class="price center-align medium">
                                    <sup>$</sup>
                                    40
                                    <sub>/mo</sub>
                                </div>
                            </div>
                            <div class="card-content no-padding">
                                <ul class="collection border-none no-margin light">
                                    <li class="collection-item activ"><i class="zmdi zmdi-check green-text"></i>Lorem ipsum</li>
                                    <li class="collection-item activ"><i class="zmdi zmdi-check green-text"></i>Dolor sit amet</li>
                                    <li class="collection-item activ"><i class="zmdi zmdi-check green-text"></i>Consectetur adisciping</li>
                                    <li class="collection-item activ"><i class="zmdi zmdi-check green-text"></i>Elit eiused tempor</li>
                                    <li class="collection-item activ"><i class="zmdi zmdi-check green-text"></i>Incidunt ut magna</li>
                                    <li class="collection-item activ"><i class="zmdi zmdi-check green-text"></i>Aliqua etam underon s</li>
                                    <li class="collection-item inactive"><i class="zmdi zmdi-close red-text"></i>Vestibulum</li>
                                    <li class="collection-item inactive"><i class="zmdi zmdi-close red-text"></i>Sternoc eidomastoidianis</li>
                                    <li class="collection-item center-align valign-wrapper">
                                        <button class="waves-effect waves-light white black-text light btn col s11 center-block valign">Start Trial</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4 no-padding">
                        <div class="card col s12 no-padding">
                            <div class="card-image card-header">
                                <div class="card-title white-text">
                                    BUSINESS
                                </div>
                                <div class="price center-align white-text">
                                    <sup>$</sup>
                                    70
                                    <sub>/mo</sub>
                                </div>
                            </div>
                            <div class="card-content no-padding">
                                <ul class="collection border-none no-margin light">
                                    <li class="collection-item activ"><i class="zmdi zmdi-check green-text"></i>Lorem ipsum</li>
                                    <li class="collection-item activ"><i class="zmdi zmdi-check green-text"></i>Dolor sit amet</li>
                                    <li class="collection-item activ"><i class="zmdi zmdi-check green-text"></i>Consectetur adisciping</li>
                                    <li class="collection-item activ"><i class="zmdi zmdi-check green-text"></i>Elit eiused tempor</li>
                                    <li class="collection-item activ"><i class="zmdi zmdi-check green-text"></i>Incidunt ut magna</li>
                                    <li class="collection-item activ"><i class="zmdi zmdi-check green-text"></i>Aliqua etam underon s</li>
                                    <li class="collection-item inactive"><i class="zmdi zmdi-close red-text"></i>Vestibulum</li>
                                    <li class="collection-item inactive"><i class="zmdi zmdi-close red-text"></i>Sternoc eidomastoidianis</li>
                                    <li class="collection-item center-align valign-wrapper">
                                        <button class="waves-effect waves-light trial  btn col s11 center-block valign">Start Trial</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4 no-padding">
                        <div class="card col s12 no-padding">
                            <div class="card-image grey lighten-4">
                                <div class="card-title black-text">
                                    ENTERPRISE
                                </div>
                                <div class="price center-align">
                                    <sup>$</sup>
                                    99
                                    <sub>/mo</sub>
                                </div>
                            </div>
                            <div class="card-content no-padding">
                                <ul class="collection border-none no-margin light">
                                    <li class="collection-item activ"><i class="zmdi zmdi-check green-text"></i>Lorem ipsum</li>
                                    <li class="collection-item activ"><i class="zmdi zmdi-check green-text"></i>Dolor sit amet</li>
                                    <li class="collection-item activ"><i class="zmdi zmdi-check green-text"></i>Consectetur adisciping</li>
                                    <li class="collection-item activ"><i class="zmdi zmdi-check green-text"></i>Elit eiused tempor</li>
                                    <li class="collection-item activ"><i class="zmdi zmdi-check green-text"></i>Incidunt ut magna</li>
                                    <li class="collection-item activ"><i class="zmdi zmdi-check green-text"></i>Aliqua etam underon s</li>
                                    <li class="collection-item inactive"><i class="zmdi zmdi-close red-text"></i>Vestibulum</li>
                                    <li class="collection-item inactive"><i class="zmdi zmdi-close red-text"></i>Sternoc eidomastoidianis</li>
                                    <li class="collection-item center-align valign-wrapper">
                                        <button class="waves-effect waves-light white black-text light btn col s11 center-block valign">Start Trial</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>