<div>
    <style>
        .profile-tabs {
            margin-top: 8px;
        }
        .profile-content{
            padding: 20px 20px 20px 0;
        }
    </style>
    <div class="row">
        <div class="profile">
            <div class="card profile-card">
                <div class="card-bg">
                    <div class="row header-content">
                        <div class="profile-content">
                            <div class="col m12 no-padding">
                                <ul class="collection border-none profile-collection">
                                    <li class="collection-item transparent avatar ">
                                        <img src="../assets/images/profile/blog2.jpg" alt="profile" class="circle">
                                        <div>
                                            <span class="title fs-24 text-bold">Jonathan Dow</span>
                                            <p>UX/UI  Designer<br></p>
                                            <p class="grey-text"><i class="material-icons tiny ">location_on</i><span>Lisbon, Portugal</span></p>
                                            <ul class=" profile-info">
                                                <li><a href="" class="grey-text white"><i class="zmdi zmdi-facebook fs-24"></i></a></li>
                                                <li><a href="" class="grey-text white"><i class="zmdi zmdi-google-plus fs-24"></i></a></li>
                                                <li><a href="" class="grey-text white"><i class="zmdi zmdi-twitter fs-24"></i></a></li>
                                                <li><a href="" class="grey-text white"><i class="zmdi zmdi-linkedin fs-24"></i></a></li>
                                            </ul>
                                            <a href="" class="btn btn-small secondC-btn waves-effect">Follow</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <nav>
                    <div class="nav-wrapper grey lighten-3 header-content">
                        <div class="col m5 s12 profile-tabs">
                            <ul class="tabs">
                                <li class="tab col s3"><a href="#" class="active" >Stream</a></li>
                                <li class="tab col s3"><a href="#">Friend</a></li>
                                <li class="tab col s3"><a href="#">Profile</a></li>
                            </ul>
                        </div>
                        <ul class="right black-text profile-list list-inline hide-on-small-only">
                            <li class="center-align">
                                <a class="black-text"><strong>200</strong><span>Followers</span></a>
                            </li>
                            <li class="vertical-divider"></li>
                            <li class="center-align">
                                <a class="black-text"><strong>150</strong><span>Following</span></a>
                            </li>
                            <li class="vertical-divider"></li>
                            <li class="center-align">
                                <a class="black-text profile-last"><strong>17</strong><span>Activities</span></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <!--Timeline Profile-->
            <div class=" row dashboard-wrapper content-container">
                <div class="col m12">
                    <div class="col s12 m8 l9 white">
                        <ul class="timeline">
                            <li class="event">
                                <img class="profile-avatar" src="../assets/images/users/john.png" alt="john"/>
                                <div class="chat-text">
                                    <p class="fs-12 margin ">3 minutes ago</p>
                                    <h6 class="margin"><strong>Helena Bonham</strong></h6>
                                    <div>
                                        <p>Hey, mate! See you at brunch?</p>
                                    </div>
                                    <div class="margin-bottom-10 margin-top-10 interactions">
                                        <a href="" class="btn-small btn waves-effect white-text"><i class="zmdi zmdi-replay"></i></a>
                                        <a href="" class="btn-small btn waves-effect white-text" ><i class="zmdi zmdi-star"></i></a>
                                    </div>

                                    <div class="m12">
                                        <div class="grey lighten-4 z-depth-1">
                                            <textarea class="textarea-profile" placeholder="Type your message..." rows="6" cols="80"></textarea>
                                            <div class="upload-files">
                                                    <span class="grey-text">
                                                        <i class="zmdi zmdi-attachment-alt fs-18"></i>
                                                    </span>
                                                    <span class="grey-text">
                                                       <i class="zmdi zmdi-camera fs-18"></i>
                                                    </span>
                                                    <span  class="grey-text">
                                                        <i class="zmdi zmdi-videocam fs-18"></i>
                                                    </span>
                                                <div class="right">
                                                    <a href="" class="btn btn-small waves-effect secondC-btn white-text">Post</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="event">
                                <img class="profile-avatar" src="../assets/images/users/jim1.png" alt="jim"/>
                                <div class="chat-text">
                                    <p class="fs-12 margin ">3 minutes ago</p>
                                    <h6 class="margin"><strong>Helena Bonham</strong></h6>
                                    <div>
                                        <p>Hey, mate! See you at brunch?</p>
                                    </div>
                                    <div class="margin-bottom-10 margin-top-10 interactions">
                                        <a href="" class="btn-small btn waves-effect white-text"><i class="zmdi zmdi-replay"></i></a>
                                        <a href="" class="btn-small btn waves-effect white-text" ><i class="zmdi zmdi-star"></i></a>
                                    </div>
                                    <div class="m12">
                                        <div class="grey lighten-4 z-depth-1">
                                            <textarea class="textarea-profile" placeholder="Type your message..." rows="6" cols="80"></textarea>
                                            <div class="upload-files">
                                                    <span class="grey-text">
                                                        <i class="zmdi zmdi-attachment-alt fs-18"></i>
                                                    </span>
                                                    <span class="grey-text">
                                                       <i class="zmdi zmdi-camera fs-18"></i>
                                                    </span>
                                                    <span  class="grey-text">
                                                        <i class="zmdi zmdi-videocam fs-18"></i>
                                                    </span>
                                                <div class="right">
                                                    <a href="" class="btn btn-small waves-effect secondC-btn white-text">Post</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="event">
                                <img class="profile-avatar" src="../assets/images/users/johanna.png" alt="johanna"/>
                                <div class="chat-text">
                                    <div>
                                        <p class="fs-12 margin ">3 minutes ago</p>
                                        <h6 class="margin chat-reply-active"><strong>Helena Bonham</strong></h6>
                                    </div>
                                    <p>Hey, mate! See you at brunch?</p>

                                    <div class="feed-preview row">
                                        <a data-lightbox="example-set" href="http://lokeshdhakar.com/projects/lightbox2/images/image-3.jpg" class="feed-item">
                                            <img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/image-3.jpg" alt="image" />
                                        </a>
                                        <a data-lightbox="example-set" href="http://lokeshdhakar.com/projects/lightbox2/images/image-4.jpg" class="feed-item">
                                            <img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/image-4.jpg" alt="image" />
                                        </a>
                                        <a data-lightbox="example-set" href="http://lokeshdhakar.com/projects/lightbox2/images/image-6.jpg" class="feed-item">
                                            <img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-6.jpg" alt="image" />
                                        </a>
                                        <a data-lightbox="example-set" href="http://lokeshdhakar.com/projects/lightbox2/images/image-5.jpg" class="feed-item">
                                            <img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-5.jpg" alt="image" />
                                        </a>
                                        <a data-lightbox="example-set" href="http://lokeshdhakar.com/projects/lightbox2/images/image-2.jpg" class="feed-item">
                                            <img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-2.jpg" alt="image" />
                                        </a>
                                    </div>
                                    <div class="margin-bottom-10 margin-top-10 interactions">
                                        <a href="" class="btn-small btn waves-effect white-text"><i class="zmdi zmdi-replay"></i></a>
                                        <a href="" class="btn-small btn waves-effect white-text" ><i class="zmdi zmdi-star"></i></a>
                                    </div>
                                </div>
                            </li>
                            <li class="event">
                                <img class="profile-avatar" src="../assets/images/users/john.png" alt="john"/>
                                <div class="chat-text">
                                    <div>
                                        <p class="small-text">3 minutes ago</p>
                                        <h6 class="margin"><strong>Helena Bonham</strong></h6>
                                    </div>
                                    <p>Hey, mate! See you at brunch?</p>
                                    <div class="margin-bottom-10 margin-top-10 interactions">
                                        <a href="" class="btn-small btn waves-effect white-text"><i class="zmdi zmdi-replay"></i></a>
                                        <a href="" class="btn-small btn waves-effect white-text" ><i class="zmdi zmdi-star"></i></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col m4 l3  s12">
                        <ul class="collection  with-header avatar-profile-av ">
                            <li class="collection-header"><h6 class="white-text fs-24">Who to follow</h6></li>
                            <li class="grey lighten-4  collection-item border-none avatar">
                                <img src="../assets/images/users/john.png" alt="john" class="circle"><span class="avatar-available"></span>
                                <span class="title"><strong>Peter Brugel</strong></span>
                                <p class="grey-text text-lighten-1">Designer</p>
                            </li>
                            <li class="grey lighten-4 collection-item border-none avatar ">
                                <img src="../assets/images/profile/blog4.jpg" alt="Liam Donatello" class="circle "><span class="avatar-available"></span>
                                <span class="title"><strong>Liam Donatello</strong></span>
                                <p class="grey-text text-lighten-1">iOS Developer</p>
                            </li>
                            <li class="grey lighten-4 collection-item border-none avatar ">
                                <img src="../assets/images/profile/blog3.jpg" alt="Liam Donatello" class="circle"><span class="avatar-not-available"></span>
                                <span class="title"><strong>Liam Donatello</strong></span>
                                <p class="grey-text text-lighten-1">iOS Developer</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>