<div class="signup-container angular-v">
    <div class="container center signin-page"  id="full-page">
        <div class="row black white-text signin-content">
            <h1 class="center-align mTitle" style="font-family: BaronFont">MARA</h1>
            <div class="container white signUpContainer center">
                <div class="signUpContent">
                    <h6 class="black-text center-align">Sign in with your Mara account:</h6>
                    <div class="input-field">
                        <input id="name" type="text" class="validate black-text">
                        <label for="name" class="left-align">Name</label>
                    </div>
                    <div class="input-field">
                        <input id="email" type="text" class="validate black-text">
                        <label for="email" class="left-align">Email</label>
                    </div>
                    <div class="input-field">
                        <input id="password" type="password" class="validate black-text">
                        <label for="password" class=" left-align">Password</label>
                    </div>
                    <p>
                        <input type="checkbox" id="terms" />
                        <label for="terms" class="black-text">Agree the terms and policy</label>
                    </p>
                    <a class="waves-effect waves-light btn white-text  pink lighten-1 signInButton"  href='javascript:void(0);' ui-sref="mara.index">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>