<div>
    <div class="row section-header">
        <h4 class="page-title">Timeline</h4>
    </div>
    <div class="row dashboard-wrapper content-container">
        <div class="timeline-page col s12 card">
            <div class="timeline card-content white">
                <div class="timeline-milestone">
                    <span class="milestone-title white-text">Today</span>
                </div>
                <div class="timeline-event">
                    <div class="timeline-content">
                        <div class="content-box">
                            <h6>Meeting at 12:00 <small>added at 11:00 am</small></h6>
                            <p>
                                With a leader of such wide-ranging impact, it is impossible to isolate just a few principles of his true greatness. While all leaders must pass, the great ones “pass-on” what is important by example, by how they lived.
                            </p>
                        </div>
                    </div>
                    <div class="timeline-badge timeline-badge1 white-text">
                        <i class="zmdi zmdi-case"></i>
                    </div>
                </div>
                <div class="timeline-event">
                    <div class="timeline-content">
                        <div class="content-box">
                            <h6>Go shopping <small>added at 10:00 am</small></h6>
                            <p>
                                Be Courageous And In-Character: The essence of Ali was his courageous character. From Sonny Liston to the Civil Rights movement and the Vietnam War, he was always fearless in the face of fear, particularly when the stakes were high.
                            </p>
                        </div>
                    </div>
                    <div class="timeline-badge timeline-badge2 white-text">
                        <i class="zmdi zmdi-shopping-cart"></i>
                    </div>
                </div>
                <div class="timeline-event">
                    <div class="timeline-content">
                        <div class="content-box">
                            <h6>Get on time <small>added at 9:00 am</small></h6>
                            <p>
                                Bryant Gumbel, journalist and HBO host, said, “He simply refused to be afraid. And being that way, he gave other people courage.”
                            </p>
                        </div>
                    </div>
                    <div class="timeline-badge timeline-badge3 white-text">
                        <i class="zmdi zmdi-time"></i>
                    </div>
                </div>
                <div class="timeline-event">
                    <div class="timeline-content">
                        <div class="content-box">
                            <h6>One on one <small>added at 8:00 am</small></h6>
                            <p>
                                Managers see risk and try to carefully mitigate it; true leaders see risk, and if their values or principles are at risk, they run into the fire. In Ali’s words, “He who is not courageous enough to take risks will accomplish nothing in life.”
                            </p>
                        </div>
                    </div>
                    <div class="timeline-badge timeline-badge1 white-text">
                        <i class="zmdi zmdi-card-giftcard"></i>
                    </div>
                </div>
                <div class="timeline-event">
                    <div class="timeline-content">
                        <div class="content-box">
                            <h6>Send mail to client <small>added at 7:00 am</small></h6>
                            <p>
                                Innovation: Managers improve what is. Managers enhance what is. Managers move forward what is. Leaders go beyond what is. When we face competition bigger and stronger than us, what do we do?
                            </p>
                        </div>
                    </div>
                    <div class="timeline-badge timeline-badge2 white-text">
                        <i class="zmdi zmdi-email"></i>
                    </div>
                </div>
                <div class="timeline-event">
                    <div class="timeline-content">
                        <div class="content-box">
                            <h6> Meeting <small>added at 6:00 am</small></h6>
                            <p>
                                Be On-Purpose Through Service: Ali once said, “Service to others is the rent you pay for your room here on earth.” Managers secure success while leaders see service as their true measure of significance.
                            </p>
                        </div>
                    </div>
                    <div class="timeline-badge timeline-badge3 white-text">
                        <i class="zmdi zmdi-copy"></i>
                    </div>
                </div>
                <div class="timeline-milestone">
                    <span class="milestone-title white-text">Yesterday</span>
                </div>
                <div class="timeline-event">
                    <div class="timeline-content">
                        <div class="content-box">
                            <h6>Buy a gift <small>added on Mon 17</small></h6>
                            <p>
                                Love All: In the end, the true measure of our success will not merely be in our accomplishments, but in the big difference we make in the lives of other people. Managers leave accomplishments; leaders leave people transformed through love and character.
                            </p>
                        </div>
                    </div>
                    <div class="timeline-badge timeline-badge1 white-text">
                        <i class="zmdi zmdi-card-giftcard"></i>
                    </div>
                </div>
                <div class="timeline-event">
                    <div class="timeline-content">
                        <div class="content-box">
                            <h6>Send mail to client <small>added on Mon 17</small></h6>
                            <p>
                                Ali fought for us all with his love, service, character, and his unrelenting desire to fight for the principles of peace, equality, freedom, and self-determination.
                            </p>
                        </div>
                    </div>
                    <div class="timeline-badge timeline-badge2 white-text">
                        <i class="zmdi zmdi-email"></i>
                    </div>
                </div>
                <div class="timeline-event">
                    <div class="timeline-content">
                        <div class="content-box">
                            <h6>The papers for colleague <small>added at 6:00 am</small></h6>
                            <p>
                                He fought for us all. This is what made him an authentic, purpose-driven leader. His enduring mark continues to resonate in our hearts through the joy, courage, service and inspiration he gave so freely.
                            </p>
                        </div>
                    </div>
                    <div class="timeline-badge timeline-badge3 white-text">
                        <i class="zmdi zmdi-copy"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>