<header id="header">
    <div class="navbar">
        <nav>
            <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full waves-effect waves-light"><i class="material-icons">menu</i><h4>PSG College of Technology</a>
            <div class="nav-wrapper">
                <ul class="left">
                    <li>
                        <a href="index.html" class="brand-logo"></a>
                    </li>
                </ul>
              
            </div>
        </nav>
    </div>
</header>
