// @mixin box-shadow-2($args1, $args2) {
//     -webkit-box-shadow: $args1, $args2;
//     -moz-box-shadow: $args1, $args2;
//     box-shadow: $args1, $args2;
// }
@mixin transition( $target, $duration, $type ){
  -webkit-transition: $target $duration $type;
  -moz-transition: $target $duration $type;
  -ms-transition: $target $duration $type;
  -o-transition: $target $duration $type;
  transition: $target $duration $type;
}
@mixin box-shadow( $w, $x, $y, $z, $color ){
  -webkit-box-shadow: $w $x $y $z $color;
  -moz-box-shadow: $w $x $y $z $color;
  box-shadow: $w $x $y $z $color;
}
@mixin border-radius( $radius ){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin transform ( $property ){
  -webkit-transform: $property;
  -moz-transform: $property;
  -ms-transform: $property;
  -o-transform: $property;
  transform: $property;
}
@mixin themeColorScheme(
      $light, $regular, $dark, $badge, $cta, $discountRibbon, $sidebarImage,
      $firstComplementary, $secondComplementary, $thirdComplementary, $userMessageBg
){
  .search-top-bar {
    a {
      &.purchase {
        color: $regular;
      }
    }
  }
  .default-background {
    background-color: $regular;
  }
  .default-background-light {
    background-color: $light;
  }
  .default-background-dark {
    background-color: $dark;
  }
  .first-complementary-bg {
    background-color: $firstComplementary;
  }
  .first-complementary-color {
    color: $firstComplementary
  }
  .second-complementary-bg {
    background-color: $secondComplementary;
  }
  .second-complementary-color {
    color: $secondComplementary;
  }
  .third-complementary-bg {
    background-color: $thirdComplementary;
  }
  .third-complementary-color {
    color: $thirdComplementary;
  }
  i {
   &.new-additions {
     &:after {
       background-color: $firstComplementary;
     }
   }
  }
  span {
    &.badge {
      &.new {
        &.sidenav-badge {
          background-color: $firstComplementary;
        }
      }
    }
  }
  .btn {
    background-color: $dark;
    &.custom-btn{
      background-color: transparent;
      &:hover{
        background: transparent;
      }
    }
    &.default-background {
      &:hover {
        background-color: $light;
      }
    }
    &:hover, &:focus{
      background-color: $light;
    }
  }
  input:not([type]):focus:not([readonly]):not(.valid):not(.invalid), input[type=text]:focus:not([readonly]):not(.valid):not(.invalid), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid $regular;
    box-shadow: 0 1px 0 0 $regular;
  }

  input:not([type]):focus:not([readonly])+label, input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label{
    color: $regular;
  }

  .input-field .prefix.active{
    color: $regular;
  }

  .theme-settings {
    &>#open-theme-settings {
      background-color: $regular;
    }
    .purchase {
      a {
        color: $regular;
      }
    }
    .switch {
      label {
        input[type=checkbox]:checked+.lever {
          background-color: $dark;
        }
      }
    }
  }
  .e-commerce {
    .card {
      &.e-com {
        .card-image {
          .minimalCard-bubble {
            background-color: $cta;
          }
          .card-ribbon {
            background-color: $discountRibbon;
            &:after {
              content: "";
              color: white;
              font-size: 0.5em;
              position: absolute;
              border: 30px solid $discountRibbon;
              z-index: 3;
              border-top-width: 10px;
              border-bottom-color: transparent;
              border-bottom-width: 20px;
              left: 0;
              top: 40px;
              -webkit-transition: height 0.5s;
              transition: height 0.5s;
            }
          }
        }
        .card-action {
          .e-commerceBtn {
            background-color: $cta;
          }
        }
      }
    }
    .prod-panel {
      .e-commerceBtn1 {
        background-color: $cta;
      }
      .e-commerceBtn2 {
        border: 1px solid $cta;
        color: $cta;
      }
    }
  }
  .icon {
    a {
      &:hover {
        background-color: $regular;
      }
    }
  }
  .table-of-contents{
    a{
      background-color: transparent;
      &.active{
        padding-left: 18px;
        font-weight: 600;
        color: $regular;
        border-left: 2px solid $regular;
      }
      &:hover{
        font-weight: 500;
        padding-left: 19px;
        color: $regular;
        border-left: 1px solid $regular;
      }
    }
  }
  .fixed-color {
    a.button-collapse2 {
      background-color: $regular;
    }
  }
  nav {
    background-color: $regular;
    .nav-wrapper {
      a {
        &.brand-logo {
          background-color: $regular;
          @media #{$small-and-down}{
            height: 56px;
            line-height: 1;
          }
        }
      }
    }
    input[type=search]:not(:focus) {
      background-color: $light;
    }
    ul {
      &.profile-activities {
        a {
          &.activate, &:hover {
            background-color: $regular !important;
          }
        }
      }
    }
    &.site-nav {
      ul {
        li {
          &>.dropdown-content {
            li {
              &>a {
                color: $regular;
              }
            }
          }
        }
      }
    }
  }
  [type="checkbox"].filled-in:not(:checked)+label:after {
    border: 2px solid $light;
  }
  [type="checkbox"].filled-in:checked+label:after {
    border: 2px solid $light;
    background-color: $light;
  }
  .card-default {
//    border: 1px solid $regular;
    &>.card-header {
      background-color: $regular;
    }
    &.feed-card{
      .card-header{
        background-color: $firstComplementary;
      }
    }
  }
  .pricing{
    .card{
      .card-header {
        background-color: $regular;
      }
    }
  }
  .default-badge-background {
    background-color: $badge;
  }
  .notif-btn {
//    background: transparent;
    span {
      &.badge-green {
        background-color: $badge;
      }
    }
  }
  span {
    &.badge {
      &.new {
        background-color: $regular;
      }
    }
  }
  .collection {
    a {
      &.collection-item {
        color: $regular;
      }
      &.active{
        color:#fff;
        background-color: $regular;
      }
    }
  }
  .profile-collection {
    &.collection {
      .collection-item {
        &>a {
          &.btn {
            background-color: $light;
          }
        }
      }
    }
  }
  .profile {
    .chat-text{
      .interactions {
        &>a {
          &.btn {
            background-color: $light;
            opacity: .6;
          }
        }
      }
    }
  }
  .dropdown-content {
    li {
      &>a, &>span {
        color: $regular;
      }
    }
  }
  .wrapper {
    &.vertical-sidebar {
      .side-nav {
        li {
          &.active {
            color: $regular;
          }
        }
        .collapsible {
          .userinfo {
            background-image: url( $sidebarImage );
          }
          .collapsible-header {
            &.active {
              color: $regular;
            }
            &:hover {
              color: $regular;
            }
          }
          .collapsible-body {
            li {
              &.active {
                background-color: $regular;
              }
            }
          }
        }
      }
    }
  }
  .color-custom{
    background-color: $light;
  }
  .reply-text {
    .send-reply {
      .color-custom{
        background-color: $cta;
      }
    }
  }
  .fc {
    .fc-event {
      background-color: $dark;
      border-color: $dark;
    }
    .fc-button {
      background-color: $regular;
      &.fc-state-active {
        background-color: $light;
      }
    }
  }
  .part2{
    .part2_1_1{
      .waves-effect.waves-pink .waves-ripple {
        background-color: $light
      }
    }
  }
  .autocomplete-content{
      .autocomplete-option{
        span{
          color: $regular !important;
        }
      }
  }
  .e-commerce-products{
    .top-bg{
      background: #fff;
    }
  }
  .foot4{
    background-color:$regular;
  }
  footer{
    background-color:$regular;
    .foot4{
      background-color:$regular;
      i.zmdi{
        transition: all 0.2s ease;
        &:hover{
          color:white;
        }
      }
    }
    .btn{
      background-color:$badge;
    }
  }
  .foot4{
    i.zmdi{
      &:hover{
        color:$light;
      }
    }
    h3{
      color:#fff;
    }
  }
  .foot3{
    i.zmdi{
      &:hover{
        color:$light;
      }
    }
  }
  .foot2{
    i.zmdi{
      &:hover{
        color:$light;
      }
    }
  }
  .foot1{
    i.zmdi{
      &:hover{
        color:$light;
      }
    }
    .f-info{
      h3{
        color:$regular;
      }
    }
  }
  .dataTables_wrapper{
    .dataTables_paginate{
      border: 1px solid $dark;
      .paginate_button{
        border-right: 1px solid $dark;
        &.current{
          background-color: $regular;
          border-left: none;
          border-right: 1px solid $dark;
          &:hover{
            color: #fff !important;
          }
        }
        &.disabled{
          &:hover{
            color: #fff !important;
          }
        }
        &:hover{
          background-color: $dark;
          color: #fff;
        }
        &.next{
          border-right: 1px solid transparent;
        }
      }
    }
  }
  .tabs{
    .tab{
      a{
        color: $light;
      }
    }
    .indicator{
      background-color: $light;
    }
  }
  #update-status{
    .btn{
      background-color: $regular!important;
    }
  }
  #back-to-orders{
    background-color: $light!important;
  }
  #search-order,  #search-order1{
//    border-bottom: 2px solid $light!important;
    &:focus{
      border-bottom: 2px solid $dark!important;
    }
  }
  .nav-color-white{
    nav {
      background-color: #fff;
      .nav-wrapper {
        a {
          &.brand-logo {
            background-color: transparent;
            height: 64px;
            line-height: 1.2;
            font-size: 46px;
            color:$regular;
            @media #{$small-and-down}{
              height: 56px;
              line-height: 1;
            }
          }
        }
      }
      input[type=search]:not(:focus) {
        background-color: $light;
      }
      ul {
        a {
          color:$regular;
        }
        &.profile-activities {
          a {
            color:$regular;
            &.activate, &:hover {
              background-color: #fff !important;
            }
          }
        }
      }
      &.site-nav {
        ul {
          li {
            &>.dropdown-content {
              li {
                &>a {
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
    .material-icons.menu{
      color: $regular;
    }
  }
  .fontello-icon{
    color:$regular;
  }
  .social-quotes1{
    background-color:$light;
  }
  .social-quotes2{
    background-color:$firstComplementary;
  }
  .social-quotes3{
    background-color:$secondComplementary;
  }
  .social-quotes4{
    background-color:$thirdComplementary;
  }

  .socialMessage{
    .messageBox{
      .first{
        &.avatar{
          .card-panel{
            background-color: $firstComplementary;
          }
          .card-panel.user-message {
            background-color: $userMessageBg;
          }
        }
      }
    }
  }
  .blog-desc{
    .addedBy{
      color:$regular;
    }
  }
  .pricing{
    .btn{
      &.start-button{
        background-color: $firstComplementary;
      }
      &.trial {
        background-color: $secondComplementary;
      }
    }
  }
  .paragraph-title {
    color: $firstComplementary;
  }
  .timeline {
    .timeline-milestone {
      .milestone-title{
        background-color: $regular;
      }
    }
    .timeline-badge1 {
      background-color: $firstComplementary;
    }

    .timeline-badge2 {
      background-color: $secondComplementary;
    }

    .timeline-badge3 {
      background-color: $thirdComplementary;
    }
  }

  .profile {
    .collection {
      .collection-header {
        background-color: $secondComplementary;
      }
    }
    .secondC-btn {
      background-color: $secondComplementary;
    }
  }
  .feed-page{
    .upload-files{
      .secondC-btn {
        background-color: $firstComplementary;

      }
    }
  }
  .part1{
    .color-custom:first-child{
      background-color: $firstComplementary;
    }
  }
  #elements2{
      i{
        &.active{
          color:$regular;
      }
    }
    .btn{
      background-color: $firstComplementary;
    }
  }

  #elements5{
    .btn:nth-child(2n+1){
      background-color: $secondComplementary;
    }
    .btn:nth-child(2n){
      background-color: $firstComplementary;
    }
  }
  .card-default{
    .default-panel-widget{
      background-color: $firstComplementary;
    }
  }

  .signUp-btn {
    background-color: $regular;
  }
  .signUp-btn2 {
    border-color: $regular;
  }

  .tabInbox_3_1{
    .active-item{
      background-color: $regular;
    }
  }
  .first{
    &.avatar{
      .card-panel{
        background-color: $firstComplementary;
      }
      .card-panel.user-message {
        background-color: $userMessageBg;
      }
    }
  }


  .buttons{
    .primary-button,.primary-button:hover{
      background-color:rgb(243, 165, 48);;
      &.custom-btn{
        background-color: transparent;
        border-color:$firstComplementary;
        color:$firstComplementary;
      }
    }
  }
  .classic-breadcrumbs .nav-wrapper{
    @if $regular == #00abc0 {
      .breadcrumb, .breadcrumb:before {
        color: #666;
      }
    }
  }
}
