<header id="header">
    <div class="navbar">
        <nav>
            <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full waves-effect waves-light hide-on-large-only"><i class="material-icons">menu</i></a>
            <div class="nav-wrapper  hidden-xs ">
                <ul class="left">
                    <li>
                        <a  class="brand-logo"><img src="../assets/images/logos/psg-tech.png" alt="PSG College of Arts and Science"><span class="hidden-xs">PSG College of Technology</span></a>
                    </li>
                </ul>
         
            </div>
        </nav>
    </div>
</header>