<aside class="sidebar-left">
    <ul class="side-nav fixed clearfix left" id="nav-mobile">
        <li id="ili">
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header">
                        <i class="zmdi zmdi-apps zmdi-hc-fw"></i>Admissions<i class="zmdi zmdi-chevron-down"></i>
                        <i class="zmdi zmdi-chevron-up"></i>
                    </div>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href='javascript:void(0);' ui-sref="ies.adm.committees" current>Admissions Committee</a></li>
                            <li><a href='javascript:void(0);' ui-sref="ies.adm.master" current>Master Data</a></li>
                            <li><a href='javascript:void(0);' ui-sref="ies.adm.manualRegistration" current>Manual Registration</a></li>
                            <li><a href='javascript:void(0);' ui-sref="ies.adm.applicantportal" current>Applicant Portal</a></li>
                            <li><a href='javascript:void(0);' ui-sref="ies.adm.counselling" current>Counselling Schedule</a></li>
                            <li><a href='javascript:void(0);' ui-sref="ies.adm.admissions" current>Admissions</a></li>
                            <li><a href='javascript:void(0);' ui-sref="ies.adm.verification" current>Admissions Verification</a></li>
                            <li><a href='javascript:void(0);' ui-sref="ies.adm.feecollection" current>Fee Collection</a></li>
                            <li><a href='javascript:void(0);' ui-sref="ies.adm.rankingrules" current>Ranking Rules Definiton</a></li>
                            <li><a href='javascript:void(0);' ui-sref="ies.adm.notification" current>Notification</a></li>
                            <li><a href='javascript:void(0);' ui-sref="ies.adm.applicantregister" current>applicantRegister</a></li>
                            <li><a href='javascript:void(0);' ui-sref="ies.adm.applicantlogin" current>applicantLogin</a></li>
                            <li><a href='javascript:void(0);' ui-sref="ies.adm.report" current>Report</a></li>
                            <li><a href='javascript:void(0);' ui-sref="ies.adm.quotas" current>Reservation Quotas</a></li>
                            <li><a href='javascript:void(0);' ui-sref="ies.adm.pay" current>Pay Now</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li id="ili">
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="zmdi zmdi-apps zmdi-hc-fw"></i>Administration <i class="zmdi zmdi-chevron-down"></i><i class="zmdi zmdi-chevron-up"></i></div>
                    <div class="collapsible-body">
                        <ul>
                            <li><a href='javascript:void(0);' ui-sref="ies.adm.dropout" current>Dropout</a></li>
                            <li><a href='javascript:void(0);' ui-sref="ies.adm.rollnoformat" current>Rollno Format</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</aside>