<nav class="horizontal-nav hide-on-med-and-down">
    <div class="nav-wrapper ">
        <ul class="">
            <li>
                <a class="dropdown-button waves-effect" href="javascript:void(0);" data-activates="1">Internship<i class="material-icons right">arrow_drop_down</i></a>
                <ul id="1" class="dropdown-content">
                           <li><a href='javascript:void(0);' ui-sref="ies.intern.institution" current>Institution</a>   
                            <li><a href='javascript:void(0);' ui-sref="ies.intern.industry" current>Industry</a></li>
                            <li><a href='javascript:void(0);' ui-sref="ies.intern.student" current>Student</a></li>
                             <li><a href='javascript:void(0);' ui-sref="ies.intern.institute" current>institute</a></li>
                </ul>
            </li>
    </div>
    
</nav>

