        <div>
            <div class="row section-header">
                <h4 class="page-title">Image hover effects</h4>
            </div>
            <div class=" row dashboard-wrapper content-container">
                <div class="col s12 m12 l12 no-padd">
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="transparent">
                                <h5 class="media-header">Lily</h5>
                            </div>
                            <div class="mgrid">
                                <figure class="effect-lily">
                                    <img src="../assets/images/gallery/1.jpg" alt="img1"/>
                                    <figcaption>
                                        <div>
                                            <h2>Nice <span>Lily</span></h2>
                                            <p>Lily likes to play with crayons and pencils</p>
                                        </div>
                                        <a href="javascript:void(0);">View more</a>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="mgrid-code code1 hide-on-med-and-down">
                                <div class="card">
                                    <div class="card-content">
                                        <h5 class="fs-20">Code Sample</h5>
                                    </div>
                                    <div class="card-action">
                                        <pre class="big-pre">
                                            <code class="language-markup">
&lt;div class=&quot;mgrid col s12 m6 l6 no-padding&quot;&gt;
    &lt;figure class=&quot;effect-lily&quot;&gt;
        &lt;img src=&quot;assets/images/gallery/1.jpg&quot; alt=&quot;img1&quot;/&gt;
        &lt;figcaption&gt;
            &lt;div&gt;
                &lt;h2&gt;Nice &lt;span&gt;Lily&lt;/span&gt;&lt;/h2&gt;
                &lt;p&gt;Lily likes to play with crayons and pencils&lt;/p&gt;
            &lt;/div&gt;
            &lt;a href=&quot;#&quot;&gt;View more&lt;/a&gt;
        &lt;/figcaption&gt;
    &lt;/figure&gt;
&lt;/div&gt;
                                            </code>
                                        </pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="transparent">
                                <h5 class="media-header">Sadie</h5>
                            </div>
                            <div class="mgrid">
                                <figure class="effect-sadie">
                                    <img src="../assets/images/gallery/2.jpg" alt="img2"/>
                                    <figcaption>
                                        <h2>Holy <span>Sadie</span></h2>
                                        <p>Sadie never took her eyes off me. <br>She had a dark soul.</p>
                                        <a href="javascript:void(0);">View more</a>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="mgrid-code code1 hide-on-med-and-down">
                                <div class="card">
                                    <div class="card-content">
                                        <h5 class="fs-20">Code Sample</h5>
                                    </div>
                                    <div class="card-action">
                                         <pre class="big-pre">
                                            <code class="language-markup">
&lt;div class=&quot;mgrid col s12 m6 l6 no-padding&quot;&gt;
    &lt;figure class=&quot;effect-sadie&quot;&gt;
        &lt;img src=&quot;assets/images/gallery/2.jpg&quot; alt=&quot;img2&quot;/&gt;
        &lt;figcaption&gt;
            &lt;h2&gt;Holy &lt;span&gt;Sadie&lt;/span&gt;&lt;/h2&gt;
            &lt;p&gt;Sadie never took her eyes off me. &lt;br&gt;She had a dark soul.&lt;/p&gt;
            &lt;a href=&quot;#&quot;&gt;View more&lt;/a&gt;
        &lt;/figcaption&gt;
    &lt;/figure&gt;
&lt;/div&gt;
                                            </code>
                                        </pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="transparent">
                                <h5 class="media-header">Honey</h5>
                            </div>
                            <div class="mgrid">
                                <figure class="effect-honey">
                                    <img src="../assets/images/gallery/4.jpg" alt="img4"/>
                                    <figcaption>
                                        <h2>Dreamy <span>Honey</span> <i>Now</i></h2>
                                        <a href="javascript:void(0);">View more</a>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="mgrid-code code1 hide-on-med-and-down">
                                <div class="card">
                                    <div class="card-content">
                                        <h5 class="fs-20">Code Sample</h5>
                                    </div>
                                    <div class="card-action">
                                         <pre class="big-pre">
                                            <code class="language-markup">
&lt;div class=&quot;mgrid col s12 m6 l6 no-padding&quot;&gt;
    &lt;figure class=&quot;effect-honey&quot;&gt;
        &lt;img src=&quot;assets/images/gallery/4.jpg&quot; alt=&quot;img4&quot;/&gt;
        &lt;figcaption&gt;
            &lt;h2&gt;Dreamy &lt;span&gt;Honey&lt;/span&gt; &lt;i&gt;Now&lt;/i&gt;&lt;/h2&gt;
            &lt;a href=&quot;#&quot;&gt;View more&lt;/a&gt;
        &lt;/figcaption&gt;
    &lt;/figure&gt;
&lt;/div&gt;
                                            </code>
                                        </pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="transparent">
                                <h5 class="media-header">Layla</h5>
                            </div>
                            <div class="mgrid">
                                <figure class="effect-layla">
                                    <img src="../assets/images/gallery/3.jpg" alt="img3"/>
                                    <figcaption>
                                        <h2>Crazy <span>Layla</span></h2>
                                        <p>When Layla appears, she brings an eternal summer along.</p>
                                        <a href="javascript:void(0);">View more</a>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="mgrid-code code1 hide-on-med-and-down">
                                <div class="card">
                                    <div class="card-content">
                                        <h5 class="fs-20">Code Sample</h5>
                                    </div>
                                    <div class="card-action">
                                        <pre class="big-pre">
                                           <code class="language-markup">
&lt;div class=&quot;mgrid col s12 m6 l6 no-padding&quot;&gt;
    &lt;figure class=&quot;effect-layla&quot;&gt;
        &lt;img src=&quot;assets/images/gallery/3.jpg&quot; alt=&quot;img3&quot;/&gt;
        &lt;figcaption&gt;
            &lt;h2&gt;Crazy &lt;span&gt;Layla&lt;/span&gt;&lt;/h2&gt;
            &lt;p&gt;When Layla appears, she brings an eternal summer along.&lt;/p&gt;
            &lt;a href=&quot;#&quot;&gt;View more&lt;/a&gt;
        &lt;/figcaption&gt;
    &lt;/figure&gt;
&lt;/div&gt;
                                            </code>
                                        </pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="transparent">
                                <h5 class="media-header">Zoe</h5>
                            </div>
                            <div class="mgrid">
                                <figure class="effect-zoe">
                                    <img src="../assets/images/gallery/5.jpg" alt="img5"/>
                                    <figcaption>
                                        <h2>Creative <span>Zoe</span></h2>
                                        <p class="icon-links">
                                            <a href="javascript:void(0);"><i class="zmdi zmdi-attachment"></i></a>
                                            <a href="javascript:void(0);"><i class="zmdi zmdi-eye"></i></a>
                                            <a href="javascript:void(0);"><i class="zmdi zmdi-star"></i></a>
                                        </p>
                                        <p class="description">Zoe never had the patience of her sisters. She deliberately punched the bear in his face.</p>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="mgrid-code code1 hide-on-med-and-down">
                                <div class="card">
                                    <div class="card-content">
                                        <h5 class="fs-20">Code Sample</h5>
                                    </div>
                                    <div class="card-action">
                                         <pre class="big-pre">
                                            <code class="language-markup">
&lt;div class=&quot;mgrid col s12 m6 l6 no-padding&quot;&gt;
    &lt;figure class=&quot;effect-zoe&quot;&gt;
        &lt;img src=&quot;assets/images/gallery/5.jpg&quot; alt=&quot;img5&quot;/&gt;
        &lt;figcaption&gt;
            &lt;h2&gt;Creative &lt;span&gt;Zoe&lt;/span&gt;&lt;/h2&gt;
            &lt;p class=&quot;icon-links&quot;&gt;
                &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;zmdi zmdi-attachment&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;zmdi zmdi-eye&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;zmdi zmdi-star&quot;&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;/p&gt;
            &lt;p class=&quot;description&quot;&gt;
                Zoe never had the patience of her sisters.
                She deliberately punched the bear in his face.
            &lt;/p&gt;
        &lt;/figcaption&gt;
    &lt;/figure&gt;
&lt;/div&gt;
                                            </code>
                                        </pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="transparent">
                                <h5 class="media-header">Oscar</h5>
                            </div>
                            <div class="mgrid">
                                <figure class="effect-oscar">
                                    <img src="../assets/images/gallery/6.jpg" alt="img6"/>
                                    <figcaption>
                                        <h2>Warm <span>Oscar</span></h2>
                                        <p>Oscar is a decent man. He used to clean porches with pleasure.</p>
                                        <a href="javascript:void(0);">View more</a>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="mgrid-code code1 hide-on-med-and-down">
                                <div class="card">
                                    <div class="card-content">
                                        <h5 class="fs-20">Code Sample</h5>
                                    </div>
                                    <div class="card-action">
                                         <pre class="big-pre">
                                            <code class="language-markup">
&lt;div class=&quot;mgrid col s12 m6 l6 no-padding&quot;&gt;
    &lt;figure class=&quot;effect-oscar&quot;&gt;
        &lt;img src=&quot;assets/images/gallery/6.jpg&quot; alt=&quot;img6&quot;/&gt;
        &lt;figcaption&gt;
            &lt;h2&gt;Warm &lt;span&gt;Oscar&lt;/span&gt;&lt;/h2&gt;
            &lt;p&gt;Oscar is a decent man. He used to clean porches with pleasure.&lt;/p&gt;
            &lt;a href=&quot;#&quot;&gt;View more&lt;/a&gt;
        &lt;/figcaption&gt;
    &lt;/figure&gt;
&lt;/div&gt;
                                            </code>
                                        </pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="transparent">
                                <h5 class="media-header">Marley</h5>
                            </div>
                            <div class="mgrid">
                                <figure class="effect-marley">
                                    <img src="../assets/images/gallery/7.jpg" alt="img7"/>
                                    <figcaption>
                                        <h2>Sweet <span>Marley</span></h2>
                                        <p>Marley tried to convince her but she was not interested.</p>
                                        <a href="javascript:void(0);">View more</a>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="mgrid-code code1 hide-on-med-and-down">
                                <div class="card">
                                    <div class="card-content">
                                        <h5 class="fs-20">Code Sample</h5>
                                    </div>
                                    <div class="card-action">
                                         <pre class="big-pre">
                                            <code class="language-markup">
&lt;div class=&quot;mgrid col s12 m6 l6 no-padding&quot;&gt;
    &lt;figure class=&quot;effect-marley&quot;&gt;
        &lt;img src=&quot;assets/images/gallery/7.jpg&quot; alt=&quot;img7&quot;/&gt;
        &lt;figcaption&gt;
            &lt;h2&gt;Sweet &lt;span&gt;Marley&lt;/span&gt;&lt;/h2&gt;
            &lt;p&gt;Marley tried to convince her but she was not interested.&lt;/p&gt;
            &lt;a href=&quot;#&quot;&gt;View more&lt;/a&gt;
        &lt;/figcaption&gt;
    &lt;/figure&gt;
&lt;/div&gt;
                                            </code>
                                        </pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="transparent">
                                <h5 class="media-header">Ruby</h5>
                            </div>
                            <div class="mgrid">
                                <figure class="effect-ruby">
                                    <img src="../assets/images/gallery/8.jpg" alt="img8"/>
                                    <figcaption>
                                        <h2>Glowing <span>Ruby</span></h2>
                                        <p>Ruby did not need any help. Everybody knew that.</p>
                                        <a href="javascript:void(0);">View more</a>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="mgrid-code code1 hide-on-med-and-down">
                                <div class="card">
                                    <div class="card-content">
                                        <h5 class="fs-20">Code Sample</h5>
                                    </div>
                                    <div class="card-action">
                                         <pre class="big-pre">
                                            <code class="language-markup">
&lt;div class=&quot;mgrid col s12 m6 l6 no-padding&quot;&gt;
    &lt;figure class=&quot;effect-ruby&quot;&gt;
        &lt;img src=&quot;assets/images/gallery/8.jpg&quot; alt=&quot;img8&quot;/&gt;
        &lt;figcaption&gt;
            &lt;h2&gt;Glowing &lt;span&gt;Ruby&lt;/span&gt;&lt;/h2&gt;
            &lt;p&gt;Ruby did not need any help. Everybody knew that.&lt;/p&gt;
            &lt;a href=&quot;#&quot;&gt;View more&lt;/a&gt;
        &lt;/figcaption&gt;
    &lt;/figure&gt;
&lt;/div&gt;
                                            </code>
                                        </pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="transparent">
                                <h5 class="media-header">Roxy</h5>
                            </div>
                            <div class="mgrid">
                                <figure class="effect-roxy">
                                    <img src="../assets/images/gallery/9.jpg" alt="img9"/>
                                    <figcaption>
                                        <h2>Charming <span>Roxy</span></h2>
                                        <p>Roxy was my best friend. She'd cross any border for me.</p>
                                        <a href="javascript:void(0);">View more</a>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="mgrid-code code1 hide-on-med-and-down">
                                <div class="card">
                                    <div class="card-content">
                                        <h5 class="fs-20">Code Sample</h5>
                                    </div>
                                    <div class="card-action">
                                        <pre class="big-pre">
                                            <code class="language-markup">
&lt;div class=&quot;mgrid col s12 m6 l6 no-padding&quot;&gt;
    &lt;figure class=&quot;effect-roxy&quot;&gt;
        &lt;img src=&quot;assets/images/gallery/9.jpg&quot; alt=&quot;img9&quot;/&gt;
        &lt;figcaption&gt;
            &lt;h2&gt;Charming &lt;span&gt;Roxy&lt;/span&gt;&lt;/h2&gt;
            &lt;p&gt;Roxy was my best friend. She&#39;d cross any border for me.&lt;/p&gt;
            &lt;a href=&quot;#&quot;&gt;View more&lt;/a&gt;
        &lt;/figcaption&gt;
    &lt;/figure&gt;
&lt;/div&gt;
                                            </code>
                                        </pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="transparent">
                                <h5 class="media-header">Bubba</h5>
                            </div>
                            <div class="mgrid">
                                <figure class="effect-bubba">
                                    <img src="../assets/images/gallery/10.jpg" alt="img10"/>
                                    <figcaption>
                                        <h2>Fresh <span>Bubba</span></h2>
                                        <p>Bubba likes to appear out of thin air.</p>
                                        <a href="javascript:void(0);">View more</a>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="mgrid-code code1 hide-on-med-and-down">
                                <div class="card">
                                    <div class="card-content">
                                        <h5 class="fs-20">Code Sample</h5>
                                    </div>
                                    <div class="card-action">
                                         <pre class="big-pre">
                                            <code class="language-markup">
&lt;div class=&quot;mgrid col s12 m6 l6 no-padding&quot;&gt;
    &lt;figure class=&quot;effect-bubba&quot;&gt;
        &lt;img src=&quot;assets/images/gallery/10.jpg&quot; alt=&quot;img10&quot;/&gt;
        &lt;figcaption&gt;
            &lt;h2&gt;Fresh &lt;span&gt;Bubba&lt;/span&gt;&lt;/h2&gt;
            &lt;p&gt;Bubba likes to appear out of thin air.&lt;/p&gt;
            &lt;a href=&quot;#&quot;&gt;View more&lt;/a&gt;
        &lt;/figcaption&gt;
    &lt;/figure&gt;
&lt;/div&gt;
                                            </code>
                                        </pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="transparent">
                                <h5 class="media-header">Romeo</h5>
                            </div>
                            <div class="mgrid">
                                <figure class="effect-romeo">
                                    <img src="../assets/images/gallery/11.jpg" alt="img11"/>
                                    <figcaption>
                                        <h2>Wild <span>Romeo</span></h2>
                                        <p>Romeo never knows what he wants. He seemed to be very cross about something.</p>
                                        <a href="javascript:void(0);">View more</a>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="mgrid-code code1 hide-on-med-and-down">
                                <div class="card">
                                    <div class="card-content">
                                        <h5 class="fs-20">Code Sample</h5>
                                    </div>
                                    <div class="card-action">
                                         <pre class="big-pre">
                                            <code class="language-markup">
&lt;figure class=&quot;effect-romeo&quot;&gt;
    &lt;img src=&quot;assets/images/gallery/11.jpg&quot; alt=&quot;img11&quot;/&gt;
    &lt;figcaption&gt;
        &lt;h2&gt;Wild &lt;span&gt;Romeo&lt;/span&gt;&lt;/h2&gt;
        &lt;p&gt;Romeo never knows what he wants. He seemed to be very cross about something.&lt;/p&gt;
        &lt;a href=&quot;#&quot;&gt;View more&lt;/a&gt;
    &lt;/figcaption&gt;
&lt;/figure&gt;
                                            </code>
                                        </pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="transparent">
                                <h5 class="media-header">Dexter</h5>
                            </div>
                            <div class="mgrid">
                                <figure class="effect-dexter">
                                    <img src="../assets/images/gallery/12.jpg" alt="img12"/>
                                    <figcaption>
                                        <h2>Strange <span>Dexter</span></h2>
                                        <p>Dexter had his own strange way. You could watch him training ants.</p>
                                        <a href="javascript:void(0);">View more</a>
                                    </figcaption>
                                </figure>
                            </div>
                            <div class="mgrid-code code1 hide-on-med-and-down">
                                <div class="card">
                                    <div class="card-content">
                                        <h5 class="fs-20">Code Sample</h5>
                                    </div>
                                    <div class="card-action">
                                         <pre class="big-pre">
                                            <code class="language-markup">
&lt;figure class=&quot;effect-romeo&quot;&gt;
    &lt;img src=&quot;assets/images/gallery/11.jpg&quot; alt=&quot;img11&quot;/&gt;
    &lt;figcaption&gt;
        &lt;h2&gt;Wild &lt;span&gt;Romeo&lt;/span&gt;&lt;/h2&gt;
        &lt;p&gt;Romeo never knows what he wants. He seemed to be very cross about something.&lt;/p&gt;
        &lt;a href=&quot;#&quot;&gt;View more&lt;/a&gt;
    &lt;/figcaption&gt;
&lt;/figure&gt;
                                            </code>
                                        </pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
