<div >
    <style>
        .material-placeholder {
            display: inline-block;
        }
    </style>
    <div class="section-header">
        <h4 class="page-title">Gallery</h4>
    </div>
    <div class="col s12 m12 l12 small-pad">
        <div class=" row dashboard-wrapper content-container">
            <div class="transparent">
                <div class="col m12"><h5 class="media-header">Gallery with captioned images</h5></div>
            </div>
            <div>
                <div class="row ">
                    <div class="col s12 m6 l3">
                        <img class="materialboxed" data-caption="A picture" src="../assets/images/gallery/1.jpg" alt="image1">
                    </div>
                    <div class="col s12 m6 l3">
                        <img class="materialboxed" data-caption="A picture" src="../assets/images/gallery/2.jpg" alt="image2">
                    </div>
                    <div class="col s12 m6 l3">
                        <img class="materialboxed" data-caption="A picture" src="../assets/images/gallery/3.jpg" alt="image3">
                    </div>
                    <div class="col s12 m6 l3">
                        <img class="materialboxed" data-caption="A picture" src="../assets/images/gallery/4.jpg" alt="image4">
                    </div>
                    <div class="col s12 m6 l3">
                        <img class="materialboxed" data-caption="A picture" src="../assets/images/gallery/5.jpg" alt="image5">
                    </div>
                    <div class="col s12 m6 l3">
                        <img class="materialboxed" data-caption="A picture" src="../assets/images/gallery/6.jpg" alt="image6">
                    </div>
                    <div class="col s12 m6 l3">
                        <img class="materialboxed" data-caption="A picture" src="../assets/images/gallery/7.jpg" alt="image7">
                    </div>
                    <div class="col s12 m6 l3">
                        <img class="materialboxed" data-caption="A picture" src="../assets/images/gallery/1.jpg" alt="image1">
                    </div>
                    <div class="col s12 m6 l3">
                        <img class="materialboxed" data-caption="A picture" src="../assets/images/gallery/8.jpg" alt="image8">
                    </div>
                    <div class="col s12 m6 l3">
                        <img class="materialboxed" data-caption="A picture" src="../assets/images/gallery/9.jpg" alt="image9">
                    </div>
                    <div class="col s12 m6 l3">
                        <img class="materialboxed" data-caption="A picture" src="../assets/images/gallery/10.jpg" alt="image10">
                    </div>
                    <div class="col s12 m6 l3">
                        <img class="materialboxed" data-caption="A picture" src="../assets/images/gallery/11.jpg" alt="image11">
                    </div>
                    <div class="col s12 m6 l3">
                        <img class="materialboxed" data-caption="A picture" src="../assets/images/gallery/12.jpg" alt="image12">
                    </div>
                    <div class="col s12 m6 l3">
                        <img class="materialboxed" data-caption="A picture" src="../assets/images/gallery/13.jpg" alt="image13">
                    </div>
                    <div class="col s12 m6 l3">
                        <img class="materialboxed" data-caption="A picture" src="../assets/images/gallery/14.jpg" alt="image14">
                    </div>
                    <div class="col s12 m6 l3">
                        <img class="materialboxed" data-caption="A picture" src="../assets/images/gallery/15.jpg" alt="image15">
                    </div>
                </div>
            </div>

        <div class="col s12 m12 l12 hide-on-small-only">
            <div class="card">
                <div class="card-content">
                    <h5 class="fs-20">Code Sample</h5>
                </div>
                <div class="card-action">
                    <pre>
                        <code class="language-markup">
&lt;img class=&quot;materialboxed&quot; data-caption=&quot;A picture&quot; src=&quot;/assets/images/gallery/1.jpg&quot; alt=&quot;image1&quot;&gt;
&lt;img class=&quot;materialboxed&quot; data-caption=&quot;A picture&quot; src=&quot;/assets/images/gallery/2.jpg&quot; alt=&quot;image2&quot;&gt;
&lt;img class=&quot;materialboxed&quot; data-caption=&quot;A picture&quot; src=&quot;/assets/images/gallery/3.jpg&quot; alt=&quot;image3&quot;&gt;
&lt;img class=&quot;materialboxed&quot; data-caption=&quot;A picture&quot; src=&quot;/assets/images/gallery/4.jpg&quot; alt=&quot;image4&quot;&gt;
&lt;img class=&quot;materialboxed&quot; data-caption=&quot;A picture&quot; src=&quot;/assets/images/gallery/5.jpg&quot; alt=&quot;image5&quot;&gt;
&lt;img class=&quot;materialboxed&quot; data-caption=&quot;A picture&quot; src=&quot;/assets/images/gallery/6.jpg&quot; alt=&quot;image6&quot;&gt;
&lt;img class=&quot;materialboxed&quot; data-caption=&quot;A picture&quot; src=&quot;/assets/images/gallery/7.jpg&quot; alt=&quot;image7&quot;&gt;
&lt;img class=&quot;materialboxed&quot; data-caption=&quot;A picture&quot; src=&quot;/assets/images/gallery/8.jpg&quot; alt=&quot;image8&quot;&gt;
&lt;img class=&quot;materialboxed&quot; data-caption=&quot;A picture&quot; src=&quot;/assets/images/gallery/9.jpg&quot; alt=&quot;image9&quot;&gt;
&lt;img class=&quot;materialboxed&quot; data-caption=&quot;A picture&quot; src=&quot;/assets/images/gallery/10.jpg&quot; alt=&quot;image10&quot;&gt;
&lt;img class=&quot;materialboxed&quot; data-caption=&quot;A picture&quot; src=&quot;/assets/images/gallery/11.jpg&quot; alt=&quot;image11&quot;&gt;
&lt;img class=&quot;materialboxed&quot; data-caption=&quot;A picture&quot; src=&quot;/assets/images/gallery/12.jpg&quot; alt=&quot;image12&quot;&gt;
&lt;img class=&quot;materialboxed&quot; data-caption=&quot;A picture&quot; src=&quot;/assets/images/gallery/13.jpg&quot; alt=&quot;image13&quot;&gt;
&lt;img class=&quot;materialboxed&quot; data-caption=&quot;A picture&quot; src=&quot;/assets/images/gallery/14.jpg&quot; alt=&quot;image14&quot;&gt;
&lt;img class=&quot;materialboxed&quot; data-caption=&quot;A picture&quot; src=&quot;/assets/images/gallery/15.jpg&quot; alt=&quot;image15&quot;&gt;
                        </code>
                    </pre>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
