<div >
    <div class="section-header">
        <h4 class="page-title">Image Sliders</h4>
    </div>
    <div class="col s12 m12 l12 small-pad">
        <div class=" row dashboard-wrapper content-container">
            <div class="transparent">
                <h5 class="media-header">Slider</h5>
            </div>
            <div class="slider">
                <ul class="slides">
                    <li>
                        <img src="../assets/images/feeds/feed_1.jpg" alt="feed"/> <!-- random image -->
                        <div class="caption center-align">
                            <h3>This is our big Tagline!</h3>
                            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                        </div>
                    </li>
                    <li>
                        <img src="../assets/images/feeds/feed_2.jpg" alt="feed"/> <!-- random image -->
                        <div class="caption left-align">
                            <h3>Left Aligned Caption</h3>
                            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                        </div>
                    </li>
                    <li>
                        <img src="../assets/images/feeds/feed_3.jpg" alt="feed"/> <!-- random image -->
                        <div class="caption right-align">
                            <h3>Right Aligned Caption</h3>
                            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                        </div>
                    </li>
                    <li>
                        <img src="../assets/images/feeds/feed_4.jpg" alt="feed"/> <!-- random image -->
                        <div class="caption center-align">
                            <h3>This is our big Tagline!</h3>
                            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="card hide-on-small-only">
                <div class="card-content">
                    <h5 class="fs-20">Code Sample</h5>
                </div>
                <div class="card-action">
                    <pre style="max-height: 388px">
                        <code class="language-markup">
&lt;div class=&quot;slider&quot;&gt;
    &lt;ul class=&quot;slides&quot;&gt;
        &lt;li&gt;
            &lt;img src=&quot;/assets/images/feeds/feed_1.jpg&quot;&gt;
            &lt;div class=&quot;caption center-align&quot;&gt;
                &lt;h3&gt;This is our big Tagline!&lt;/h3&gt;
                &lt;h5 class=&quot;light grey-text text-lighten-3&quot;&gt;Here's our small slogan.&lt;/h5&gt;
            &lt;/div&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;img src=&quot;/assets/images/feeds/feed_2.jpg&quot;&gt;
            &lt;div class=&quot;caption left-align&quot;&gt;
                &lt;h3&gt;Left Aligned Caption&lt;/h3&gt;
                &lt;h5 class=&quot;light grey-text text-lighten-3&quot;&gt;Here's our small slogan.&lt;/h5&gt;
            &lt;/div&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;img src=&quot;/assets/images/feeds/feed_3.jpg&quot;&gt;
            &lt;div class=&quot;caption right-align&quot;&gt;
                &lt;h3&gt;Right Aligned Caption&lt;/h3&gt;
                &lt;h5 class=&quot;light grey-text text-lighten-3&quot;&gt;Here's our small slogan.&lt;/h5&gt;
            &lt;/div&gt;
        &lt;/li&gt;
        &lt;li&gt;
            &lt;img src=&quot;/assets/images/feeds/feed_4.jpg&quot;&gt;
            &lt;div class=&quot;caption center-align&quot;&gt;
                &lt;h3&gt;This is our big Tagline!&lt;/h3&gt;
                &lt;h5 class=&quot;light grey-text text-lighten-3&quot;&gt;Here's our small slogan.&lt;/h5&gt;
            &lt;/div&gt;
        &lt;/li&gt;
    &lt;/ul&gt;
&lt;/div&gt;
                        </code>
                    </pre>
                </div>
            </div>
        <div class="transparent">
            <h5 class="media-header">Carousel</h5>
        </div>
        <div class="gallery-carousel">
            <a class="carousel-item-gallery" href="javascript:void(0);"><img src="../assets/images/gallery/19.jpg" alt="feed"/></a>
            <a class="carousel-item-gallery" href="javascript:void(0);"><img src="../assets/images/gallery/20.jpg" alt="feed"/></a>
            <a class="carousel-item-gallery" href="javascript:void(0);"><img src="../assets/images/gallery/21.jpg" alt="feed"/></a>
            <a class="carousel-item-gallery" href="javascript:void(0);"><img src="../assets/images/gallery/22.jpg" alt="feed"/></a>
            <a class="carousel-item-gallery" href="javascript:void(0);"><img src="../assets/images/gallery/23.jpg" alt="feed"/></a>
        </div>
        <div class="card hide-on-small-only">
            <div class="card-content">
                <h5 class="fs-20">Code Sample</h5>
            </div>
            <div class="card-action">
                <pre>
                    <code class="language-markup">
&lt;div class=&quot;gallery-carousel&quot;&gt;
    &lt;a class=&quot;carousel-item-gallery&quot; href=&quot;#one!&quot;&gt;&lt;img src=&quot;/assets/images/gallery/19.jpg&quot;&gt;&lt;/a&gt;
    &lt;a class=&quot;carousel-item-gallery&quot; href=&quot;#two!&quot;&gt;&lt;img src=&quot;/assets/images/gallery/20.jpg&quot;&gt;&lt;/a&gt;
    &lt;a class=&quot;carousel-item-gallery&quot; href=&quot;#three!&quot;&gt;&lt;img src=&quot;/assets/images/gallery/21.jpg&quot;&gt;&lt;/a&gt;
    &lt;a class=&quot;carousel-item-gallery&quot; href=&quot;#four!&quot;&gt;&lt;img src=&quot;/assets/images/gallery/22.jpg&quot;&gt;&lt;/a&gt;
    &lt;a class=&quot;carousel-item-gallery&quot; href=&quot;#five!&quot;&gt;&lt;img src=&quot;/assets/images/gallery/23.jpg&quot;&gt;&lt;/a&gt;
&lt;/div&gt;
                    </code>
                </pre>
            </div>
        </div>
    </div>
</div>
</div>
