<div >
    <style>
        pre{
            max-height: 208px;
        }
    </style>
    <div class="row section-header">
        <h4 class="page-title">Layouts</h4>
    </div>
    <div class="row dashboard-wrapper content-container">
        <div class="layouts">
            <div id="default" class="col s12 m6">
                <div class="card">
                    <div class="card-content">
                        <h5 class="fs-20">Fixed Header</h5>
                    </div>
                    <div class="card-action">
                        <div class="layout-base card-panel">
                            <div class="grey lighten-1 layout-side-nav">
                            </div>
                            <div class="layout-header card-panel margin white">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 code hide-on-small-only">
                <div class="card">
                    <div class="card-content">
                        <h5 class="fs-20">Code Sample</h5>
                    </div>
                    <div class="card-action">
                                <pre>
                                    <code class="language-markup">
&lt;body&gt;
    &lt;div class=&quot;wrapper vertical-sidebar&quot;&gt;
        &lt;header id=&quot;header&quot;&gt;
        &lt;/header&gt;
        &lt;aside class=&quot;sidebar-left&quot;&gt;
        &lt;/aside&gt;
        &lt;main id=&quot;content&quot;&gt;
            &lt;div id=&quot;page-content&quot;&gt;
            &lt;/div&gt;
        &lt;/main&gt;
    &lt;/div&gt;
&lt;/body&gt;
                                </code>
                            </pre>
                        </div>
                    </div>
                </div>
                <div id="fixed-header" class="col s12 m6">
                    <div class="card">
                        <div class="card-content">
                            <h5 class="fs-20">Floating Header</h5>
                        </div>
                        <div class="card-action">
                            <div class="layout-base card-panel">
                                <div class="grey lighten-1 layout-side-nav">
                                </div>
                                <div class="layout-header dashed card-panel margin white">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 code hide-on-small-only">
                    <div class="card">
                        <div class="card-content">
                            <h5 class="fs-20">Code Sample</h5>
                        </div>
                        <div class="card-action">
                            <pre class="language-markup">
                                <code class="language-markup">
&lt;body class=&quot;floating-header&quot;&gt;
    &lt;div class=&quot;wrapper vertical-sidebar&quot;&gt;
        &lt;header id=&quot;header&quot;&gt;
        &lt;/header&gt;
        &lt;aside class=&quot;sidebar-left&quot;&gt;
        &lt;/aside&gt;
        &lt;main id=&quot;content&quot;&gt;
            &lt;div id=&quot;page-content&quot;&gt;
            &lt;/div&gt;
        &lt;/main&gt;
    &lt;/div&gt;
&lt;/body&gt;
                                </code>
                            </pre>
                        </div>
                    </div>
                </div>
                <div id="boxed" class="col s12 m6">
                    <div class="card">
                        <div class="card-content">
                            <h5 class="fs-20">Vertical Sidebar</h5>
                        </div>
                        <div class="card-action">
                            <div class="layout-base card-panel">
                                <div class="grey lighten-1 layout-side-nav">
                                </div>
                                <div class="layout-header card-panel margin white">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 code hide-on-small-only">
                    <div class="card">
                        <div class="card-content">
                            <h5 class="fs-20">Code Sample</h5>
                        </div>
                        <div class="card-action">
                            <pre class="language-markup">
                                <code class="language-markup">
&lt;body class=&quot;boxed-layout&quot;&gt;
    &lt;div class=&quot;wrapper vertical-sidebar&quot;&gt;
        &lt;header id=&quot;header&quot;&gt;
        &lt;/header&gt;
        &lt;aside class=&quot;sidebar-left&quot;&gt;
        &lt;/aside&gt;
        &lt;main id=&quot;content&quot;&gt;
            &lt;div id=&quot;page-content&quot;&gt;
            &lt;/div&gt;
        &lt;/main&gt;
    &lt;/div&gt;
&lt;/body&gt;
                                </code>
                            </pre>
                        </div>
                    </div>
                </div>
                <div id="horizontal-nav" class="col s12 m6">
                    <div class="card">
                        <div class="card-content">
                            <h5 class="fs-20">Horizontal Navigation</h5>
                        </div>
                        <div class="card-action">
                            <div class="layout-base card-panel">
                                <div class="grey lighten-1 layout-side-nav horizontal">
                                </div>
                                <div class="layout-header card-panel margin white">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 code hide-on-small-only">
                    <div class="card">
                        <div class="card-content">
                            <h5 class="fs-20">Code Sample</h5>
                        </div>
                        <div class="card-action">
                            <pre class="language-markup">
                                <code class="language-markup">
&lt;body class=&quot;horizontal-navigation&quot;&gt;
    &lt;div class=&quot;wrapper vertical-sidebar&quot;&gt;
        &lt;header id=&quot;header&quot;&gt;
        &lt;/header&gt;
        &lt;nav class=&quot;site-nav&quot;&gt;
        &lt;/nav&gt;
        &lt;main id=&quot;content&quot;&gt;
            &lt;div id=&quot;page-content&quot;&gt;
            &lt;/div&gt;
        &lt;/main&gt;
    &lt;/div&gt;
&lt;/body&gt;
                                </code>
                            </pre>
                        </div>
                    </div>
                </div>
                <div id="horiz-fix-box" class="col s12 m6">
                    <div class="card">
                        <div class="card-content">
                            <h5 class="fs-20">Floating Header and Horizontal Navigation</h5>
                        </div>
                        <div class="card-action">
                            <div class="layout-base card-panel">
                                <div class="dashed grey lighten-1 layout-side-nav horizontal">
                                </div>
                                <div class="layout-header dashed card-panel margin white">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 code hide-on-small-only">
                    <div class="card">
                        <div class="card-content">
                            <h5 class="fs-20">Code Sample</h5>
                        </div>
                        <div class="card-action">
                            <pre class="language-markup">
                                <code class="language-markup">
&lt;body class=&quot;floating-header boxed-layout horizontal-navigation&quot;&gt;
    &lt;div class=&quot;wrapper vertical-sidebar&quot;&gt;
        &lt;header id=&quot;header&quot;&gt;
        &lt;/header&gt;
        &lt;nav class=&quot;site-nav&quot;&gt;
        &lt;/nav&gt;
        &lt;main id=&quot;content&quot;&gt;
            &lt;div id=&quot;page-content&quot;&gt;
            &lt;/div&gt;
        &lt;/main&gt;
    &lt;/div&gt;
&lt;/body&gt;
                            </code>
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
