<div class="e-commerce">
    <div class="row section-header">
        <h4 class="page-title">Cards</h4>
    </div>
    <div class="row dashboard-wrapper content-container">
        <div>
            <div class="row">
                <div>
                    <div class="col s12 m6 l6">
                        <div class="card e-com">
                            <div class="card-image">
                                <div class="card-ribbon center-align"><p>- 20%</p></div>
                                <img class="activator" src="../assets/images/cards/cards_1.jpg" alt="demo card1">
                                <span class="card-title">Product Name</span>
                                <div class="card-category">
                                    <p>299$</p>
                                </div>
                            </div>
                            <div class="card-content">
                                <p>
                                    Many fascinating items available in our Shop - combined shipping is available on multiple purchases and occurs automatically...
                                </p>
                            </div>
                            <div class="card-action center-align">
                                <a class="waves-effect btn custom-btn waves-light e-commerceBtn card-btn">Add to Cart</a>
                                <a href="#" class="margin"><i class="zmdi zmdi-share right center-align"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l6">
                        <div class="card e-com code1">
                            <div class="card-image">
                                <div class="card-ribbon center-align"><p>- 20%</p></div>
                                <img class="activator" src="../assets/images/cards/cards_5.jpg" alt="demo card2">
                                <span class="card-title">Product Name</span>
                                <div class="card-category">
                                    <p>299$</p>
                                </div>
                            </div>
                            <div class="card-content">
                                <p>
                                    Since all our jewelry is handmade with Natural Stones, there will be imperfection, color variation, inclusion and natural scratches...
                                </p>
                            </div>
                            <div class="card-action center-align">
                                <a class="waves-effect btn custom-btn waves-light e-commerceBtn card-btn">Add to Cart</a>
                                <a href="#" class="margin"><i class="zmdi zmdi-share right center-align"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="section-header cards-section transparent">
                    <h5>Example</h5>
                </div>
                <div class="col s12 m6 l5">
                    <div class="card e-com example1">
                        <div class="card-image">
                            <div class="card-ribbon center-align"><p>- 20%</p></div>
                            <img class="activator" src="../assets/images/cards/cards_5.jpg" alt="demo card3">
                            <span class="card-title">Product Name</span>
                            <div class="card-category">
                                <p>299$</p>
                            </div>
                        </div>
                        <div class="card-content">
                            <p>
                                Since all our jewelry is handmade with Natural Stones, there will be imperfection, color variation, inclusion and natural scratches...
                            </p>
                        </div>
                        <div class="card-action center-align">
                            <a class="waves-effect btn custom-btn waves-light e-commerceBtn card-btn">Add to Cart</a>
                            <a href="#" class="margin"><i class="zmdi zmdi-share right center-align"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l7 hide-on-small-only">
                    <div class="card code1">
                        <div class="card-content">
                            <h5 class="fs-20">Code Sample</h5>
                        </div>
                        <div class="card-action">
                            <pre class=" language-markup" style="max-height: 423px">
                                <code class=" language-markup">.
&lt;div class=&quot;card e-com&quot;&gt;
    &lt;div class=&quot;card-image&quot;&gt;
        &lt;div class=&quot;card-ribbon center-align&quot;&gt;&lt;p&gt;- 20%&lt;/p&gt;&lt;/div&gt;
        &lt;img class=&quot;activator&quot; src=&quot;../assets/images/cards/cards_5.jpg&quot;&gt;
        &lt;span class=&quot;card-title&quot;&gt;Product Name&lt;/span&gt;
        &lt;div class=&quot;card-category&quot;&gt;
            &lt;p&gt;299$&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card-content&quot;&gt;
        &lt;p&gt; Since all our jewelry is handmade with Natural Stones, there will be imperfection, color variation, inclusion and natural scratches...
        &lt;/p&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card-action center-align&quot;&gt;
        &lt;a class=&quot;waves-effect btn custom-btn waves-light e-commerceBtn&quot;&gt;Add to Cart&lt;/a&gt;
        &lt;a href=&quot;#&quot; class=&quot;margin&quot;&gt;&lt;i class=&quot;zmdi zmdi-share right center-align&quot;&gt;&lt;/i&gt;&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;
                                </code>
                            </pre>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="section-header cards-section transparent">
                    <h5>Minimal Cards</h5>
                </div>
                <div class="col s12 m6 l6">
                    <div class="card e-com">
                        <div class="card-image">
                            <div class="minimalCard-bubble center-align">
                                <p>- 20%</p>
                            </div>
                            <img class="activator minimal-card" src="../assets/images/cards/cards_3.jpg" alt="demo card4">
                            <span class="card-title">Product Name</span>
                        </div>
                        <div class="card-content">
                            <p>
                                If you place an order with other items in the order, everything will be shipped together when these are ready...
                            </p>
                        </div>
                        <div class="card-action center-align">
                            <div class="row minimal-price minimal-pricePad">
                                <span class="p-price1">$299</span>
                                <span class="p-price2">save up to $40</span>
                            </div>
                            <a class="waves-effect btn custom-btn waves-light e-commerceBtn">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l6">
                    <div class="card e-com">
                        <div class="card-image">
                            <img class="activator minimal-card" src="../assets/images/cards/cards_5.jpg" alt="demo card5">
                            <span class="card-title">Product Name</span>
                        </div>
                        <div class="card-content">
                            <p>
                                If you place an order with other items in the order, everything will be shipped together when these are ready...
                            </p>
                        </div>
                        <div class="card-action center-align">
                            <div class="row minimal-price">
                                <span class="p-price1">$79</span>
                            </div>
                            <a class="waves-effect btn custom-btn waves-light e-commerceBtn">Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="section-header cards-section transparent">
                    <h5>Example</h5>
                </div>
                <div class="col s12 m6 l5">
                    <div class="card e-com example2">
                        <div class="card-image">
                            <div class="minimalCard-bubble center-align">
                                <p>- 20%</p>
                            </div>
                            <img class="activator" src="../assets/images/cards/cards_3.jpg" alt="demo card6">
                            <span class="card-title">Product Name</span>
                        </div>
                        <div class="card-content">
                            <p>
                                Many fascinating items available in our Shop - combined shipping is available on multiple purchases and occurs automatically...
                            </p>
                        </div>
                        <div class="card-action center-align">
                            <div class="row minimal-price minimal-pricePad">
                                <span class="p-price1">$299</span>
                                <span class="p-price2">save up to $40</span>
                            </div>
                            <a class="waves-effect btn custom-btn waves-light e-commerceBtn">Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l7 hide-on-small-only">
                    <div class="card code2">
                        <div class="card-content">
                            <h5 class="fs-20">Code Sample</h5>
                        </div>
                        <div class="card-action">
                            <pre class=" language-markup" style="max-height: 512px">
                                <code class=" language-markup">.
&lt;div class=&quot;card e-com&quot;&gt;
    &lt;div class=&quot;card-image&quot;&gt;
        &lt;div class=&quot;minimalCard-bubble center-align&quot;&gt;
            &lt;p&gt;- 20%&lt;/p&gt;
        &lt;/div&gt;
        &lt;img class=&quot;activator&quot; src=&quot;../assets/images/cards/cards_3.jpg&quot;&gt;
        &lt;span class=&quot;card-title&quot;&gt;Product Name&lt;/span&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card-content&quot;&gt;
        &lt;p&gt; Many fascinating items available in our Shop - combined shipping is available on multiple purchases and occurs automatically...
        &lt;/p&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card-action center-align&quot;&gt;
        &lt;div class=&quot;row minimal-price minimal-pricePad&quot;&gt;
            &lt;span class=&quot;p-price1&quot;&gt;$299&lt;/span&gt;
            &lt;span class=&quot;p-price2&quot;&gt;save up to $40&lt;/span&gt;
        &lt;/div&gt;
        &lt;a class=&quot;waves-effect btn custom-btn waves-light e-commerceBtn&quot;&gt;Add to Cart&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;
                                </code>
                            </pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>