<div class="e-commerce">
    <div class="row section-header">
        <h4 class="page-title">Carousel</h4>
    </div>
    <div class="row dashboard-wrapper content-container">
        <div>
            <div class="row">
                <div>
                    <div class="slider1 slider">
                        <ul class="slides">
                            <li>
                                <div class="col s12 m4 l4">
                                    <div class="card e-com">
                                        <div class="card-image">
                                            <div class="card-ribbon center-align"><p>- 20%</p></div>
                                            <img class="activator" src="../assets/images/cards/cards_1.jpg" alt="demo card1">
                                            <span class="card-title">Product Name</span>
                                            <div class="card-category">
                                                <p>299$</p>
                                            </div>
                                        </div>
                                        <div class="card-content">
                                            <p>
                                                Many fascinating items available in our Shop - combined shipping is available...
                                            </p>
                                        </div>
                                        <div class="card-action center-align">
                                            <a class="waves-effect btn custom-btn waves-light e-commerceBtn">Add to Cart</a>
                                            <a href="#" class="margin"><i class="zmdi zmdi-share right center-align"></i></a>                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 m4 l4">
                                    <div class="card e-com">
                                        <div class="card-image">
                                            <div class="card-ribbon center-align"><p>- 20%</p></div>
                                            <img class="activator" src="../assets/images/cards/cards_5.jpg" alt="demo card2">
                                            <span class="card-title">Product Name</span>
                                            <div class="card-category">
                                                <p>79$</p>
                                            </div>
                                        </div>
                                        <div class="card-content">
                                            <p>
                                                Many fascinating items available in our Shop - combined shipping is available...
                                            </p>
                                        </div>
                                        <div class="card-action center-align">
                                            <a class="waves-effect btn custom-btn waves-light e-commerceBtn">Add to Cart</a>
                                            <a href="#" class="margin"><i class="zmdi zmdi-share right center-align"></i></a>                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 m4 l4">
                                    <div class="card e-com">
                                        <div class="card-image">
                                            <img class="activator" src="../assets/images/cards/cards_2.jpg" alt="demo card3">
                                            <span class="card-title">Product Name</span>
                                            <div class="card-category">
                                                <p>49$</p>
                                            </div>
                                        </div>
                                        <div class="card-content">
                                            <p>
                                                Many fascinating items available in our Shop - combined shipping is available...
                                            </p>
                                        </div>
                                        <div class="card-action center-align">
                                            <a class="waves-effect btn custom-btn waves-light e-commerceBtn">Add to Cart</a>
                                            <a href="#" class="margin"><i class="zmdi zmdi-share right center-align"></i></a>                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="col s12 m4 l4">
                                    <div class="card e-com">
                                        <div class="card-image">
                                            <div class="card-ribbon center-align"><p>- 20%</p></div>
                                            <img class="activator" src="../assets/images/cards/cards_1.jpg" alt="demo card4">
                                            <span class="card-title">Product Name</span>
                                            <div class="card-category">
                                                <p>299$</p>
                                            </div>
                                        </div>
                                        <div class="card-content">
                                            <p>
                                                Many fascinating items available in our Shop - combined shipping is available...
                                            </p>
                                        </div>
                                        <div class="card-action center-align">
                                            <a class="waves-effect btn custom-btn waves-light e-commerceBtn">Add to Cart</a>
                                            <a href="#" class="margin"><i class="zmdi zmdi-share right center-align"></i></a>                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 m4 l4">
                                    <div class="card e-com">
                                        <div class="card-image">
                                            <div class="card-ribbon center-align"><p>- 20%</p></div>
                                            <img class="activator" src="../assets/images/cards/cards_4.jpg" alt="demo card5">
                                            <span class="card-title">Product Name</span>
                                            <div class="card-category">
                                                <p>79$</p>
                                            </div>
                                        </div>
                                        <div class="card-content">
                                            <p>
                                                Many fascinating items available in our Shop - combined shipping is available...
                                            </p>
                                        </div>
                                        <div class="card-action center-align">
                                            <a class="waves-effect btn custom-btn waves-light e-commerceBtn">Add to Cart</a>
                                            <a href="#" class="margin"><i class="zmdi zmdi-share right center-align"></i></a>                                        </div>
                                    </div>
                                </div>
                                <div class="col s12 m4 l4">
                                    <div class="card e-com">
                                        <div class="card-image">
                                            <img class="activator" src="../assets/images/cards/cards_3.jpg" alt="demo card6">
                                            <span class="card-title">Product Name</span>
                                            <div class="card-category">
                                                <p>49$</p>
                                            </div>
                                        </div>
                                        <div class="card-content">
                                            <p>
                                                Many fascinating items available in our Shop - combined shipping is available...
                                            </p>
                                        </div>
                                        <div class="card-action center-align">
                                            <a class="waves-effect btn custom-btn waves-light e-commerceBtn">Add to Cart</a>
                                            <a href="#" class="margin"><i class="zmdi zmdi-share right center-align"></i></a>                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="section-header cards-section transparent">
                    <h5>Example</h5>
                </div>
                <div class="col s12 m6 l5">
                    <div class="card e-com example1">
                        <div class="card-image">
                            <div class="card-ribbon center-align"><p>- 20%</p></div>
                            <img class="activator" src="../assets/images/cards/cards_5.jpg" alt="demo card7">
                            <span class="card-title">Product Name</span>
                            <div class="card-category">
                                <p>299$</p>
                            </div>
                        </div>
                        <div class="card-content">
                            <p>
                                Many fascinating items available in our Shop - combined shipping is available...
                            </p>
                        </div>
                        <div class="card-action center-align">
                            <a class="waves-effect btn custom-btn waves-light e-commerceBtn">Add to Cart</a>
                            <a href="#" class="margin"><i class="zmdi zmdi-share right center-align"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l7 card code1 hide-on-small-only">
                    <div class="card-content">
                        <h5 class="fs-20">Code Sample</h5>
                    </div>
                    <div class="card-action">
                        <pre style="max-height:400px ">
                            <code class="language-markup">
&lt;div class=&quot;card e-com&quot;&gt;
    &lt;div class=&quot;card-image&quot;&gt;
        &lt;div class=&quot;card-ribbon center-align&quot;&gt;&lt;p&gt;- 20%&lt;/p&gt;&lt;/div&gt;
        &lt;img class=&quot;activator&quot; src=&quot;/assets/images/cards/cards_5.jpg&quot;&gt;
        &lt;span class=&quot;card-title&quot;&gt;Product Name&lt;/span&gt;
        &lt;div class=&quot;card-category&quot;&gt;
            &lt;p&gt;299$&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card-content&quot;&gt;
        &lt;p&gt; Many fascinating items available in our Shop - combined shipping is available...
        &lt;/p&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card-action center-align&quot;&gt;
        &lt;a class=&quot;waves-effect btn custom-btn waves-light e-commerceBtn&quot;&gt;Add to Cart&lt;/a&gt;
        &lt;a href=&quot;#&quot; class=&quot;margin&quot;&gt;&lt;i class=&quot;zmdi zmdi-share right center-align&quot;&gt;&lt;/i&gt;&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;
                            </code>
                        </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>