<div class="e-commerce">
    <div class="row section-header">
        <h4 class="page-title">Discounts</h4>
    </div>
    <div class="row dashboard-wrapper content-container">
        <div>
            <div class="row">
                <div>
                    <div class="col s12 m6 l6">
                        <div class="card e-com">
                            <div class="card-image">
                                <img class="activator" src="../assets/images/coupons/coupon_5.jpeg" alt="demo coupon2">
                                <span class="card-title">Product Name</span>
                                <div class="card-category">
                                    <p>299$</p>
                                </div>
                            </div>
                            <div class="card-content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
                                </p>
                            </div>
                            <div class="card-action center-align">
                                <a class="waves-effect btn custom-btn waves-light e-commerceBtn disc-btn">Claim</a>
                                <a href="#"><i class="zmdi zmdi-share right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l6">
                        <div class="card e-com">
                            <div class="card-image">
                                <img class="activator" src="../assets/images/coupons/coupon_7.jpeg" alt="demo coupon3">
                                <span class="card-title">Product Name</span>
                                <div class="card-category">
                                    <p>FREE</p>
                                </div>
                            </div>
                            <div class="card-content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
                                </p>
                            </div>
                            <div class="card-action center-align">
                                <a class="waves-effect btn custom-btn waves-light e-commerceBtn disc-btn">Claim</a>
                                <a href="#"><i class="zmdi zmdi-share right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="section-header cards-section transparent">
                    <h5>Example</h5>
                </div>
                <div class="col s12 m6 l5">
                    <div class="card e-com example1">
                        <div class="card-image">
                            <img class="activator" src="../assets/images/coupons/coupon_7.jpeg" alt="demo coupon4">
                            <span class="card-title">Product Name</span>
                            <div class="card-category">
                                <p>299$</p>
                            </div>
                        </div>
                        <div class="card-content">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
                            </p>
                        </div>
                        <div class="card-action center-align">
                            <a class="waves-effect btn custom-btn waves-light e-commerceBtn disc-btn">Claim</a>
                            <a href="#"><i class="zmdi zmdi-share right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l7 hide-on-small-only">
                    <div class="card code1">
                        <div class="card-content">
                            <h5 class="fs-20">Code Sample</h5>
                        </div>
                        <div class="card-action">
                                <pre style="max-height:374px ">
                                    <code class="language-markup">
&lt;div class=&quot;card e-com&quot;&gt;
    &lt;div class=&quot;card-image&quot;&gt;
        &lt;img class=&quot;activator&quot; src=&quot;/assets/images/coupons/coupon_1.jpg&quot;&gt;
        &lt;span class=&quot;card-title&quot;&gt;Product Name&lt;/span&gt;
        &lt;div class=&quot;card-category&quot;&gt;
            &lt;p&gt;299$&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card-content&quot;&gt;
        &lt;p&gt;
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua...
        &lt;/p&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card-action center-align&quot;&gt;
        &lt;a class=&quot;waves-effect btn custom-btn waves-light e-commerceBtn&quot;&gt;Claim&lt;/a&gt;
        &lt;a href=&quot;#&quot;&gt;&lt;i class=&quot;zmdi zmdi-share right&quot;&gt;&lt;/i&gt;&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;
                                </code>
                            </pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>