<div >
    <div class="row white container">
        <div class="col s12 m12 l12 invoice">
            <div class="section pad-10">
                <h1>Invoice</h1>
            </div>
            <div>
                <div class="col s12 m6 pad-10">
                    <img src="../assets/images/logo-pink.gif">
                </div>
                <div class="col s12 m4 l3 no-padding right">
                    <p class="details margin-m-l">Prepared by<br>
                        <span class="name bold">John Dow Inc.</span><br>
                        2010-A Harbison <br>
                        Vacaville, CA. 95687<br>
                        Info@info.com
                    </p>
                </div>
                <div class="col s12 pad-10">
                    <p class="details margin-m-l">
                        Prepared for <br>
                        <span class="name bold">Company Name Here</span><br>
                        User Name here<br><br><br>
                        Invoice#: 257878787<br>
                        Due date: 11/21/2015<br>
                        Paid date: 10/21/2015
                    </p>
                </div>
            </div>
            <div class="col s12 no-padding">
                <table class="responsive-table">
                    <thead>
                        <tr>
                            <th data-field="description">Description</th>
                            <th class="center-align" data-field="price">Unit Price</th>
                            <th class="center-align" data-field="amount">Quantity</th>
                            <th class="center-align" data-field="quantity">Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="grey lighten-4">
                            <td>Item no. 1 </td>
                            <td class="center-align">$19.95</td>
                            <td class="center-align left-bordered">1</td>
                            <td class="center-align left-bordered">$19.95</td>
                        </tr>
                        <tr class="grey lighten-4">
                            <td>Item no. 2 </td>
                            <td class="center-align">$79.95</td>
                            <td class="center-align left-bordered">2</td>
                            <td class="center-align left-bordered">$79.95</td>
                        </tr>
                        <tr class="grey lighten-4">
                            <td>Item no. 3 </td>
                            <td class="center-align">$28.87</td>
                            <td class="center-align left-bordered">7</td>
                            <td class="center-align left-bordered">$29.87</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="invoice-subtotal">
                <div class="col s8 m6 right no-padding">
                    <p class="col s11 details right-align">
                        Subotal: $129.91
                    </p>
                    <div class="divider col s12"></div>
                    <p class="details col s11 pink-text text-darken-3 right-align"><span class="bold">Total:</span> $129.81 </p>
                </div>
            </div>
            <div class="col s12 no-padding">
                <div class="invoice-subtotal">
                    <p class="details"><span class="name light">Invoice Notes</span></p>
                    <p class="details light">
                        All sellers are required to have an automatic payment method on file. We accept the following types of automatic payment methods:
                        PayPal, Credit Card, Direct Pay from your checking account.
                        Your invoice payment will be automatically processed by your payment due date, according to the payment method you chose when you created your seller account.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>