<div class="e-commerce">
    <div class="row section-header">
        <h4 class="page-title">Product Panel</h4>
    </div>
    <div class="row dashboard-wrapper content-container">
        <div>
            <div class="row">
                <div class="col s12 m10 l10 prod-panel">
                    <div class="col s12 m6 l6">
                        <div class="card e-com">
                            <div class="card-image">
                                <img class="activator" src="../assets/images/magazine/post7.jpg" alt="demo product panel">
                                <span class="card-title">Micu Klein Glasses</span>
                                <div class="card-category">
                                    <p>49$</p>
                                </div>
                            </div>
                            <div class="card-content">
                                <p>
                                    Many fascinating items available in our Shop - combined shipping is available...
                                </p>
                            </div>
                            <div class="card-action center-align">
                                <a class="modal-trigger waves-effect waves-light btn product-panel-trigger"  href="#panel">Open Panel</a>
                                <a class="margin" href="#"><i class="zmdi zmdi-share right center-align"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="modal" id="panel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <i class="zmdi zmdi-close-circle-o modal-close"></i>
                                <div class="row">
                                    <div class="col s12 m12 l5">
                                        <ul class="panel-slides">
                                            <li>
                                                <img class="sliderImg" src="../assets/images/magazine/post16.png" alt="post"/>
                                            </li>
                                        </ul>
                                        <div class="carousel-container">
                                            <div class="row carousel-spacer"></div>
                                            <div class="carousel carousel1">
                                                <a class="carousel-item" href='javascript:void(0);' ><img src="../assets/images/magazine/post7.jpg" alt="post"/></a>
                                                <a class="carousel-item" href='javascript:void(0);' ><img src="../assets/images/magazine/post16.png" alt="post"/></a>
                                                <a class="carousel-item" href='javascript:void(0);' ><img src="../assets/images/magazine/post12.jpg" alt="post"/></a>
                                                <a class="carousel-item" href='javascript:void(0);' ><img src="../assets/images/magazine/post15.jpeg" alt="post"/></a>
                                                <a class="carousel-item" href='javascript:void(0);' ><img src="../assets/images/magazine/post14.jpeg" alt="post"/></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 m6 l4 product-details">
                                        <h2>Micu Klein Glasses</h2>
                                        <p class="paragraph1">Gender: woman</p>
                                        <p>Glass Color: transparent, brown</p>
                                        <p>Frame Color: brown,black,gold</p>
                                        <p>UV Filter: 3</p>
                                        <p>Polarized lens</p>
                                        <p class="paragraph1">Composition:</p>
                                        <p>Frame: plastic, metal</p>
                                        <p>Glass: plastic</p>
                                        <p class="paragraph1">Dimensions:</p>
                                        <p>Glass: 56 mm</p>
                                        <p>Distance between lens: 28 mm</p>
                                        <p>Arms: 126 mm</p>
                                        <p class="paragraph1">Product Code:</p>
                                        <p>DK3066COL03</p>
                                    </div>
                                    <div class="col s12 m6 l3 product-actions">
                                        <span class="span1">$299</span><span> RRP $450</span>
                                        <p>Size</p>
                                        <div class="row">
                                            <button type="button" class="btn size-btn waves-effect">S</button>
                                            <button type="button" class="btn size-btn waves-effect">M</button>
                                            <button type="button" class="btn size-btn waves-effect">L</button>
                                            <button type="button" class="btn size-btn disabled-btn waves-effect">XL</button>
                                            <button type="button" class="btn size-btn disabled-btn waves-effect">XXL</button>
                                        </div>
                                        <div class="row transportation">
                                            <i class="zmdi zmdi-hc-2x zmdi-truck"></i>
                                            <span>Transportation in 30 days.</span>
                                        </div>
                                        <button type="button" class="btn e-commerceBtn1 waves-effect">Add to Cart</button>
                                        <button type="button" class="btn e-commerceBtn2 waves-effect"><i class="zmdi zmdi-favorite"></i>Add to Favourites</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="section-header cards-section transparent">
                    <h5>Example</h5>
                </div>
                <div>
                    <div class="col s12 m12 l12 prod-panel">
                        <div class="col s12 m12 l5">
                            <ul class="panel-slides">
                                <li>
                                    <img class="sliderImg2" src="../assets/images/magazine/post16.png" alt="post"/>
                                </li>
                            </ul>
                            <div class="carousel-container">
                                <div class="row carousel-spacer"></div>
                                <div class="carousel carousel2">
                                    <a class="carousel-item item2" href='javascript:void(0);' ><img src="../assets/images/magazine/post16.png" alt="post"/></a>
                                    <a class="carousel-item item2" href='javascript:void(0);' ><img src="../assets/images/magazine/post12.jpg" alt="post"/></a>
                                    <a class="carousel-item item2" href='javascript:void(0);' ><img src="../assets/images/magazine/post15.jpeg" alt="post"/></a>
                                    <a class="carousel-item item2" href='javascript:void(0);' ><img src="../assets/images/magazine/post7.jpg" alt="post"/></a>
                                    <a class="carousel-item item2" href='javascript:void(0);' ><img src="../assets/images/magazine/post14.jpeg" alt="post"/></a>
                                </div>
                            </div>
                        </div>
                        <div class="col s12 m6 l4 product-details">
                            <h2>Micu Klein Glasses</h2>
                            <p class="paragraph1">Gender: woman</p>
                            <p>Glass Color: transparent, brown</p>
                            <p>Frame Color: brown,black,gold</p>
                            <p>UV Filter: 3</p>
                            <p>Polarized lens</p>
                            <p class="paragraph1">Composition:</p>
                            <p>Frame: plastic, metal</p>
                            <p>Glass: plastic</p>
                            <p class="paragraph1">Dimensions:</p>
                            <p>Glass: 56 mm</p>
                            <p>Distance between lens: 28 mm</p>
                            <p>Arms: 126 mm</p>
                            <p class="paragraph1">Product Code:</p>
                            <p>DK3066COL03</p>
                        </div>
                        <div class="col s12 m6 l3 product-actions">
                            <span class="span1">$299</span><span> RRP $450</span>
                            <p>Size</p>
                            <div class="row">
                                <button type="button" class="btn size-btn waves-effect">S</button>
                                <button type="button" class="btn size-btn waves-effect">M</button>
                                <button type="button" class="btn size-btn waves-effect">L</button>
                                <button type="button" class="btn size-btn disabled-btn waves-effect">XL</button>
                                <button type="button" class="btn size-btn disabled-btn waves-effect">XXL</button>
                            </div>
                            <div class="row transportation">
                                <i class="zmdi zmdi-hc-2x zmdi-truck"></i>
                                <span>Transportation in 30 days.</span>
                            </div>
                            <button type="button" class="btn e-commerceBtn1 waves-effect">Add to Cart</button>
                            <button type="button" class="btn e-commerceBtn2 waves-effect"><i class="zmdi zmdi-favorite"></i>Add to Favourites</button>
                        </div>
                    </div>
                    <div class="col s12 m12 l12 hide-on-small-only">
                        <div class="card" style="margin-top: 30px">
                            <div class="card-content">
                                <h5 class="fs-20">Code Sample</h5>
                            </div>
                            <div class="card-action">
                                <pre style="max-height:420px ">
                                    <code class="language-markup">
    &lt;div class=&quot;col s12 m12 l12 prod-panel&quot;&gt;
        &lt;div class=&quot;col s12 m12 l5&quot;&gt;
            &lt;ul class=&quot;panel-slides&quot;&gt;
                &lt;li&gt;
                    &lt;img class=&quot;sliderImg2&quot; src=&quot;/assets/images/magazine/post16.png&quot;&gt;
                &lt;/li&gt;
            &lt;/ul&gt;
        &lt;div class=&quot;carousel-container&quot;&gt;
            &lt;div class=&quot;row carousel-spacer&quot;&gt;&lt;/div&gt;
                &lt;div class=&quot;carousel carousel2&quot;&gt;
                    &lt;a class=&quot;carousel-item item2&quot; href=&quot;#one&quot;&gt;&lt;img src=&quot;/assets/images/magazine/post16.png&quot;&gt;&lt;/a&gt;
                    &lt;a class=&quot;carousel-item item2&quot; href=&quot;#two&quot;&gt;&lt;img src=&quot;/assets/images/magazine/post12.jpg&quot;&gt;&lt;/a&gt;
                    &lt;a class=&quot;carousel-item item2&quot; href=&quot;#three&quot;&gt;&lt;img src=&quot;/assets/images/magazine/post15.jpeg&quot;&gt;&lt;/a&gt;
                    &lt;a class=&quot;carousel-item item2&quot; href=&quot;#four&quot;&gt;&lt;img src=&quot;/assets/images/magazine/post7.jpg&quot;&gt;&lt;/a&gt;
                    &lt;a class=&quot;carousel-item item2&quot; href=&quot;#five&quot;&gt;&lt;img src=&quot;/assets/images/magazine/post14.jpeg&quot;&gt;&lt;/a&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col s12 m6 l4 product-details&quot;&gt;
            &lt;h2&gt;Micu Klein Glasses&lt;/h2&gt;
            &lt;p class=&quot;paragraph1&quot;&gt;Gender: woman&lt;/p&gt;
            &lt;p&gt;Glass Color: transparent, brown&lt;/p&gt;
            &lt;p&gt;Frame Color: brown,black,gold&lt;/p&gt;
            &lt;p&gt;UV Filter: 3&lt;/p&gt;
            &lt;p&gt;Polarized lens&lt;/p&gt;
            &lt;p class=&quot;paragraph1&quot;&gt;Composition:&lt;/p&gt;
            &lt;p&gt;Frame: plastic, metal&lt;/p&gt;
            &lt;p&gt;Glass: plastic&lt;/p&gt;
            &lt;p class=&quot;paragraph1&quot;&gt;Dimensions:&lt;/p&gt;
            &lt;p&gt;Glass: 56 mm&lt;/p&gt;
            &lt;p&gt;Distance between lens: 28 mm&lt;/p&gt;
            &lt;p&gt;Arms: 126 mm&lt;/p&gt;
            &lt;p class=&quot;paragraph1&quot;&gt;Product Code:&lt;/p&gt;
            &lt;p&gt;DK3066COL03&lt;/p&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col s12 m6 l3 product-actions&quot;&gt;
            &lt;span class=&quot;span1&quot;&gt;$299&lt;/span&gt;&lt;span&gt; RRP $450&lt;/span&gt;
            &lt;p&gt;Size&lt;/p&gt;
            &lt;div class=&quot;row&quot;&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn size-btn waves-effect&quot;&gt;S&lt;/button&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn size-btn waves-effect&quot;&gt;M&lt;/button&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn size-btn waves-effect&quot;&gt;L&lt;/button&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn size-btn disabled-btn waves-effect&quot;&gt;XL&lt;/button&gt;
                &lt;button type=&quot;button&quot; class=&quot;btn size-btn disabled-btn waves-effect&quot;&gt;XXL&lt;/button&gt;
            &lt;/div&gt;
            &lt;div class=&quot;row transportation&quot;&gt;
                &lt;i class=&quot;zmdi zmdi-hc-2x zmdi-truck&quot;&gt;&lt;/i&gt;
                &lt;span&gt;Transportation in 30 days.&lt;/span&gt;
            &lt;/div&gt;
            &lt;button type=&quot;button&quot; class=&quot;btn e-commerceBtn1 waves-effect&quot;&gt;Add to Cart&lt;/button&gt;
            &lt;button type=&quot;button&quot; class=&quot;btn e-commerceBtn2 waves-effect&quot;&gt;&lt;i class=&quot;zmdi zmdi-favorite&quot;&gt;&lt;/i&gt;Add to Favourites&lt;/button&gt;
        &lt;/div&gt;
    &lt;/div&gt;
                                    </code>
                                </pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>