<div id="page-content" class="e-commerce-products">
    <div class="row dashboard-wrapper content-container">
        <div class="top-bg"></div>
        <div class="col m12 s12 table-layout " id="product-list">
            <div class="above-prod-table">
                <div class="col left prod-title-div no-padding">
                    <span>Products</span>
                    <div class="product-count">
                        <span>Total Products:</span>
                        <span>20</span>
                    </div>
                </div>
                <div class="input-field col s6  right search-div hide-on-small-only">
                    <i class="material-icons search-icon">search</i>
                    <input id="search-product" type="text" class="validate">
                    <label for="icon_prefix" class="search-label">Search</label>
                </div>
            </div>
            <div class="card clearfix">
                <div class="card-content clearfix">
                    <table id="products-table"  class="responsive-table dataTable display">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Active</th>
                            <th class="all">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-prodimg="../assets/images/user_test_bg.png" data-prodname="Green Skirt">
                            <td>1</td>
                            <td><img class="product-image" src="../assets/images/user_test_bg.png" alt="user"/></td>
                            <td>Green Skirt</td>
                            <td>Skirts</td>
                            <td>10$</td>
                            <td>
                                <div class="quantity-div">
                                    <div class="quantity-indicator red"></div>
                                    <div class="">3</div>
                                </div>
                            </td>

                            <td><i class="zmdi zmdi-hc-2x zmdi-close-circle red-text"></i></td>
                            <td><div class="edit-product waves-effect waves-ripple center-align"><i class="zmdi zmdi-edit"></i></div></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td><img class="product-image" src="../assets/images/user_test_bg.png" alt="user"/></td>
                            <td>All Stars</td>
                            <td>Shoes</td>
                            <td>15$</td>
                            <td><div class="quantity-div">
                                <div class="quantity-indicator green"></div>
                                <div class="">46</div>
                            </div></td>
                            <td><i class="zmdi zmdi-hc-2x zmdi-check-circle green-text"></i></td>
                            <td><div class="edit-product waves-effect waves-ripple center-align"><i class="zmdi zmdi-edit"></i></div></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td><img class="product-image" src="../assets/images/user_test_bg.png" alt="user"/></td>
                            <td>Tennis</td>
                            <td>Shoes</td>
                            <td>129$</td>
                            <td><div class="quantity-div">
                                <div class="quantity-indicator amber"></div>
                                <div class="">15</div>
                            </div></td>
                            <td><i class="zmdi zmdi-hc-2x zmdi-check-circle green-text"></i></td>
                            <td><div class="edit-product waves-effect waves-ripple center-align"><i class="zmdi zmdi-edit"></i></div></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td><img class="product-image" src="../assets/images/user_test_bg.png" alt="user"/></td>
                            <td>Green Skirt</td>
                            <td>Skirts</td>
                            <td>10$</td>
                            <td>
                                <div class="quantity-div">
                                    <div class="quantity-indicator red"></div>
                                    <div class="">3</div>
                                </div>
                            </td>

                            <td><i class="zmdi zmdi-hc-2x zmdi-close-circle red-text"></i></td>
                            <td><div class="edit-product waves-effect waves-ripple center-align"><i class="zmdi zmdi-edit"></i></div></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td><img class="product-image" src="../assets/images/user_test_bg.png" alt="user"/></td>
                            <td>All Stars</td>
                            <td>Shoes</td>
                            <td>15$</td>
                            <td><div class="quantity-div">
                                <div class="quantity-indicator green"></div>
                                <div class="">46</div>
                            </div></td>
                            <td><i class="zmdi zmdi-hc-2x zmdi-check-circle green-text"></i></td>
                            <td><div class="edit-product waves-effect waves-ripple center-align"><i class="zmdi zmdi-edit"></i></div></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td><img class="product-image" src="../assets/images/user_test_bg.png" alt="user"/></td>
                            <td>Tennis</td>
                            <td>Shoes</td>
                            <td>129$</td>
                            <td><div class="quantity-div">
                                <div class="quantity-indicator amber"></div>
                                <div class="">15</div>
                            </div></td>
                            <td><i class="zmdi zmdi-hc-2x zmdi-check-circle green-text"></i></td>
                            <td><div class="edit-product waves-effect waves-ripple center-align"><i class="zmdi zmdi-edit"></i></div></td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td><img class="product-image" src="../assets/images/user_test_bg.png" alt="user"/></td>
                            <td>Green Skirt</td>
                            <td>Skirts</td>
                            <td>10$</td>
                            <td>
                                <div class="quantity-div">
                                    <div class="quantity-indicator red"></div>
                                    <div class="">3</div>
                                </div>
                            </td>

                            <td><i class="zmdi zmdi-hc-2x zmdi-close-circle red-text"></i></td>
                            <td><div class="edit-product waves-effect waves-ripple center-align"><i class="zmdi zmdi-edit"></i></div></td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td><img class="product-image" src="../assets/images/user_test_bg.png" alt="user"/></td>
                            <td>All Stars</td>
                            <td>Shoes</td>
                            <td>15$</td>
                            <td><div class="quantity-div">
                                <div class="quantity-indicator green"></div>
                                <div class="">46</div>
                            </div></td>
                            <td><i class="zmdi zmdi-hc-2x zmdi-check-circle green-text"></i></td>
                            <td><div class="edit-product waves-effect waves-ripple center-align"><i class="zmdi zmdi-edit"></i></div></td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td><img class="product-image" src="../assets/images/user_test_bg.png" alt="user"/></td>
                            <td>Tennis</td>
                            <td>Shoes</td>
                            <td>129$</td>
                            <td><div class="quantity-div">
                                <div class="quantity-indicator amber"></div>
                                <div class="">15</div>
                            </div></td>
                            <td><i class="zmdi zmdi-hc-2x zmdi-check-circle green-text"></i></td>
                            <td><div class="edit-product waves-effect waves-ripple center-align"><i class="zmdi zmdi-edit"></i></div></td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td><img class="product-image" src="../assets/images/user_test_bg.png" alt="user"/></td>
                            <td>Green Skirt</td>
                            <td>Skirts</td>
                            <td>10$</td>
                            <td>
                                <div class="quantity-div">
                                    <div class="quantity-indicator red"></div>
                                    <div class="">3</div>
                                </div>
                            </td>

                            <td><i class="zmdi zmdi-hc-2x zmdi-close-circle red-text"></i></td>
                            <td><div class="edit-product waves-effect waves-ripple center-align"><i class="zmdi zmdi-edit"></i></div></td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td><img class="product-image" src="../assets/images/user_test_bg.png" alt="user"/></td>
                            <td>All Stars</td>
                            <td>Shoes</td>
                            <td>15$</td>
                            <td><div class="quantity-div">
                                <div class="quantity-indicator green"></div>
                                <div class="">46</div>
                            </div></td>
                            <td><i class="zmdi zmdi-hc-2x zmdi-check-circle green-text"></i></td>
                            <td><div class="edit-product waves-effect waves-ripple center-align"><i class="zmdi zmdi-edit"></i></div></td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td><img class="product-image" src="../assets/images/user_test_bg.png" alt="user"/></td>
                            <td>Tennis</td>
                            <td>Shoes</td>
                            <td>129$</td>
                            <td><div class="quantity-div">
                                <div class="quantity-indicator amber"></div>
                                <div class="">15</div>
                            </div></td>
                            <td><i class="zmdi zmdi-hc-2x zmdi-check-circle green-text"></i></td>
                            <td><div class="edit-product waves-effect waves-ripple center-align"><i class="zmdi zmdi-edit"></i></div></td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td><img class="product-image" src="../assets/images/user_test_bg.png" alt="user"/></td>
                            <td>Green Skirt</td>
                            <td>Skirts</td>
                            <td>10$</td>
                            <td>
                                <div class="quantity-div">
                                    <div class="quantity-indicator red"></div>
                                    <div class="">3</div>
                                </div>
                            </td>

                            <td><i class="zmdi zmdi-hc-2x zmdi-close-circle red-text"></i></td>
                            <td><div class="edit-product waves-effect waves-ripple center-align"><i class="zmdi zmdi-edit"></i></div></td>
                        </tr>
                        <tr>
                            <td>14</td>
                            <td><img class="product-image" src="../assets/images/user_test_bg.png" alt="user"/></td>
                            <td>All Stars</td>
                            <td>Shoes</td>
                            <td>15$</td>
                            <td><div class="quantity-div">
                                <div class="quantity-indicator green"></div>
                                <div class="">46</div>
                            </div></td>
                            <td><i class="zmdi zmdi-hc-2x zmdi-check-circle green-text"></i></td>
                            <td><div class="edit-product waves-effect waves-ripple center-align"><i class="zmdi zmdi-edit"></i></div></td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td><img class="product-image" src="../assets/images/user_test_bg.png" alt="user"/></td>
                            <td>Tennis</td>
                            <td>Shoes</td>
                            <td>129$</td>
                            <td><div class="quantity-div">
                                <div class="quantity-indicator amber"></div>
                                <div class="">15</div>
                            </div></td>
                            <td><i class="zmdi zmdi-hc-2x zmdi-check-circle green-text"></i></td>
                            <td><div class="edit-product waves-effect waves-ripple center-align"><i class="zmdi zmdi-edit"></i></div></td>
                        </tr>
                        <tr>
                            <td>16</td>
                            <td><img class="product-image" src="../assets/images/user_test_bg.png" alt="user"/></td>
                            <td>Green Skirt</td>
                            <td>Skirts</td>
                            <td>10$</td>
                            <td>
                                <div class="quantity-div">
                                    <div class="quantity-indicator red"></div>
                                    <div class="">3</div>
                                </div>
                            </td>

                            <td><i class="zmdi zmdi-hc-2x zmdi-close-circle red-text"></i></td>
                            <td><div class="edit-product waves-effect waves-ripple center-align"><i class="zmdi zmdi-edit"></i></div></td>
                        </tr>
                        <tr>
                            <td>17</td>
                            <td><img class="product-image" src="../assets/images/user_test_bg.png" alt="user"/></td>
                            <td>All Stars</td>
                            <td>Shoes</td>
                            <td>15$</td>
                            <td><div class="quantity-div">
                                <div class="quantity-indicator green"></div>
                                <div class="">46</div>
                            </div></td>
                            <td><i class="zmdi zmdi-hc-2x zmdi-check-circle green-text"></i></td>
                            <td><div class="edit-product waves-effect waves-ripple center-align"><i class="zmdi zmdi-edit"></i></div></td>
                        </tr>
                        <tr>
                            <td>18</td>
                            <td><img class="product-image" src="../assets/images/user_test_bg.png" alt="user"/></td>
                            <td>Tennis</td>
                            <td>Shoes</td>
                            <td>129$</td>
                            <td><div class="quantity-div">
                                <div class="quantity-indicator amber"></div>
                                <div class="">15</div>
                            </div></td>
                            <td><i class="zmdi zmdi-hc-2x zmdi-check-circle green-text"></i></td>
                            <td><div class="edit-product waves-effect waves-ripple center-align"><i class="zmdi zmdi-edit"></i></div></td>
                        </tr><tr>
                            <td>19</td>
                            <td><img class="product-image" src="../assets/images/user_test_bg.png" alt="user"/></td>
                            <td>Green Skirt</td>
                            <td>Skirts</td>
                            <td>10$</td>
                            <td>
                                <div class="quantity-div">
                                    <div class="quantity-indicator red"></div>
                                    <div class="">3</div>
                                </div>
                            </td>

                            <td><i class="zmdi zmdi-hc-2x zmdi-close-circle red-text"></i></td>
                            <td><div class="edit-product waves-effect waves-ripple center-align"><i class="zmdi zmdi-edit"></i></div></td>
                        </tr>
                        <tr>
                            <td>20</td>
                            <td><img class="product-image" src="../assets/images/user_test_bg.png" alt="user"/></td>
                            <td>All Stars</td>
                            <td>Shoes</td>
                            <td>15$</td>
                            <td><div class="quantity-div">
                                <div class="quantity-indicator green"></div>
                                <div class="">46</div>
                            </div></td>
                            <td><i class="zmdi zmdi-hc-2x zmdi-check-circle green-text"></i></td>
                            <td><div class="edit-product waves-effect waves-ripple center-align"><i class="zmdi zmdi-edit"></i></div></td>
                        </tr>
                        <tr>
                            <td>21</td>
                            <td><img class="product-image" src="../assets/images/user_test_bg.png" alt="user"/></td>
                            <td>Tennis</td>
                            <td>Shoes</td>
                            <td>129$</td>
                            <td><div class="quantity-div">
                                <div class="quantity-indicator amber"></div>
                                <div class="">15</div>
                            </div></td>
                            <td><i class="zmdi zmdi-hc-2x zmdi-check-circle green-text"></i></td>
                            <td><div class="edit-product waves-effect waves-ripple center-align"><i class="zmdi zmdi-edit"></i></div></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col m12 s12 table-layout " id="product-details" style="display: none">
            <div class="edit-product-layout" >
                <div class="above-prod-content">
                    <div class="col left prod-detail-div">
                        <button id="back-prod-table" class="btn left">
                            <i class="zmdi zmdi-hc-2x zmdi-arrow-left"></i>
                        </button>
                        <div class="col s6 prod-detail">
                            <h5>Products</h5>
                            <span>Product Detail</span>
                        </div>
                    </div>
                    <div class="col right">
                        <button class="btn waves-effect waves-ripple save-prod-btn">Save</button>
                    </div>
                </div>
            </div>
            <div class="edit-product-layout">
                <div class="row">
                    <div class="col s12">
                        <div class="card">
                            <div class="row">
                                <div class="col s12">
                                    <ul class="tabs info-navbar" tabs>
                                        <li class="tab col s"><a href="#elements7_basicInfo" class="active" >Basic Info</a></li>
                                        <li class="tab col s3"><a href="#elements7_productImage">Product Image</a></li>
                                        <li class="tab col s3"><a href="#elements7_pricing">Pricing</a></li>
                                        <li class="tab col s3"><a href="#elements7_inventory">Inventory</a></li>
                                        <li class="tab col s3"><a href="#elements7_shipping">Shipping</a></li>
                                    </ul>
                                    <ul class="tabs info-navbar-only-small-screens" tabs>
                                        <li class="tab  nav-tab col s"><a href="#elements7_basicInfo" class="active"><i class="material-icons prefix">info</i></a></li>
                                        <li class="tab  nav-tab col s3"><a href="#elements7_productImage"><i class="material-icons prefix">album</i></a></li>
                                        <li class="tab  nav-tab col s3"><a href="#elements7_pricing"><i class="material-icons prefix">swap_horiz</i></a></li>
                                        <li class="tab  nav-tab col s3"><a href="#elements7_inventory"><i class="material-icons prefix">description</i></a></li>
                                        <li class="tab  nav-tab col s3"><a href="#elements7_shipping"><i class="material-icons prefix">info_outline</i></a></li>
                                    </ul>
                                </div>
                                <div class="col s12 h350">
                                    <div class="row">
                                        <div id="elements7_basicInfo" class="s12">
                                            <div class="col s12">
                                                <div class="card" id="elements6">
                                                    <div class="col s12">
                                                        <div class="input-field col s12">
                                                            <input id="normal" type="text" class="validate">
                                                            <label class="active" for="normal">Product Name</label>
                                                        </div>
                                                        <h5 class="col s12 no-padding">Product Description</h5>
                                                        <div class="input-field col s12">
                                                            <textarea id="editor2"></textarea>
                                                        </div>
                                                        <div class="card" id="elements5">
                                                            <div class="col s12">
                                                                <h5 class="hide-on-med-and-down">Tags</h5>
                                                                <div class="input-field col s12 ">
                                                                    <form>
                                                                        <ul id="myTags">
                                                                            <li>colors</li>
                                                                            <li>jewellery</li>
                                                                        </ul>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="cols s12 row section"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="elements7_productImage" class="s12">
                                            <div class="col s12 l6 center-align">
                                                <div class="input-field col s12">
                                                    <div class="col s6">
                                                        <img class="responsive-img" src="../assets/images/user_test_bg.png" alt="user">
                                                    </div>
                                                    <div class="col s12 m6">
                                                        <div class="file-field input-field">
                                                            <div class="btn">
                                                                <span>File</span>
                                                                <input type="file" multiple>
                                                            </div>
                                                            <div class="file-path-wrapper s12 ">
                                                                <input class="file-path validate file-input" type="text" placeholder="Upload one or more files">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="elements7_pricing" class="s12">
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">swap_horiz</i>
                                                <input class="spinner" type="number" value="100"/>
                                                <label class="active" for="spinner">Tax Excluded Price</label>
                                            </div>
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">swap_horiz</i>
                                                <input id="spinner" type="number" value="110">
                                                <label class="active" for="spinner">Tax Included Price</label>
                                            </div>
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">swap_horiz</i>
                                                <input class="spinner" type="number" value="10"/>
                                                <label class="active" for="spinner">Tax Rate</label>
                                            </div>
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">swap_horiz</i>
                                                <input class="spinner" type="number" value="120"/>
                                                <label class="active" for="spinner">Compared Price</label>
                                            </div>
                                        </div>
                                        <div id="elements7_inventory" class="s12">
                                            <div class="input-field col s12">
                                                <input value="A556DS" id="sku" type="text" class="validate">
                                                <label class="active" for="sku">SKU</label>
                                            </div>
                                            <div class="input-field col s12">
                                                <input id="barcode" type="text" class="validate">
                                                <label for="barcode" class="">Barcode</label>
                                            </div>
                                            <div class="input-field col s12">
                                                <input class="spinner" type="number"/>
                                                <label class="active" for="spinner">Quantity</label>
                                            </div>
                                        </div>
                                        <div id="elements7_shipping" class="s12">
                                            <div class="input-field col s4">
                                                <input value="22 cm" id="width" type="text" class="validate">
                                                <label for="width">Width</label>
                                            </div>
                                            <div class="input-field col s4">
                                                <input value="24cm" id="height" type="text" class="validate">
                                                <label for="height">Height</label>
                                            </div>
                                            <div class="input-field col s4">
                                                <input value="15cm" id="depth" type="text" class="validate">
                                                <label for="depth">Depth</label>
                                            </div>
                                            <div class="input-field col s12">
                                                <input placeholder="3kg" id="weight" type="text" class="validate">
                                                <label for="weight">Weight</label>
                                            </div>
                                            <div class="input-field col s12">
                                                <i class="material-icons prefix">swap_horiz</i>
                                                <input id="icon_prefix" type="text" class="validate">
                                                <label for="icon_prefix">Extra Shipping Free</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>