<div id="page-content">
    <div class="row section-header">
        <h4 class="page-title">Dashboard</h4>
    </div>
    <div class="row content-container server">
        <div class="row margin">
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-content">
                        <h5>572,636 <i class="zmdi zmdi-globe-alt grey-text right"></i></h5>
                        <div class="row">
                            <h6>Website requests this month</h6>
                        </div>
                        <div class="progress teal lighten-4">
                            <div class="determinate teal darken-2" style="width: 90%"></div>
                        </div>
                        <p>
                            <small>5% increase vs previous month</small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-content">
                        <h5>293 GB <i class="zmdi zmdi-storage grey-text right"></i></h5>
                        <div class="row">
                            <h6>Free hard drive space</h6>
                        </div>
                        <div class="progress orange lighten-4">
                            <div class="determinate orange darken-2" style="width: 60%"></div>
                        </div>
                        <p>
                            <small>hdd is at 60% capacity</small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-content">
                        <h5>5.63 % <i class="zmdi zmdi-memory grey-text right"></i></h5>
                        <div class="row">
                            <h6>average CPU load</h6>
                        </div>
                        <div class="progress blue lighten-4">
                            <div class="determinate blue darken-2" style="width: 6%"></div>
                        </div>
                        <p>
                            <small>55% increase vs previous month</small>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card">
                    <div class="card-content">
                        <h5>5 <i class="zmdi zmdi-alert-triangle grey-text right"></i></h5>
                        <div class="row">
                            <h6>Server errors</h6>
                        </div>
                        <div class="progress red lighten-4">
                            <div class="determinate red darken-2" style="width: 5%"></div>
                        </div>
                        <p>
                            <small>100% increase vs previous month</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row margin">
            <div class="col s12 m6 l8">
                <div class="card">
                    <div class="card-content">
                        <h5>Today's visits report</h5>
                    </div>
                    <div class="card-action ">
                        <div class="row">
                            <div id="visitchart"></div>
                        </div>
                    </div>
                </div>
                <div class="card h550">
                    <div class="card-content">
                        <h5>Sales departments website traffic<i class="material-icons right">more_vert</i></h5>
                    </div>
                    <div class="card-action">
                        <table class="highlight">
                            <thead>
                            <tr>
                                <td>Department</td>
                                <td>Percent</td>
                                <td>Trend</td>
                                <td class="hide-on-small-only">Target Completion</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>PC Hardware</td>
                                <td>10%</td>
                                <td><strong class="green-text"><i class="zmdi zmdi-trending-up"></i> 25%</strong></td>
                                <td class="hide-on-small-only">
                                    <div class="progress lime lighten-4">
                                        <div class="determinate lime darken-2" style="width: 100%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Sports Ware</td>
                                <td>8%</td>
                                <td><strong><i class="zmdi zmdi-trending-flat"></i> 0%</strong></td>
                                <td class="hide-on-small-only">
                                    <div class="progress lime lighten-4">
                                        <div class="determinate lime darken-2" style="width: 80%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Insurances</td>
                                <td>7.5%</td>
                                <td><strong class="red-text"><i class="zmdi zmdi-trending-down"></i> 12%</strong></td>
                                <td class="hide-on-small-only">
                                    <div class="progress lime lighten-4">
                                        <div class="determinate lime darken-2" style="width: 75%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Books</td>
                                <td>2%</td>
                                <td><strong class="red-text"><i class="zmdi zmdi-trending-down"></i> 52%</strong></td>
                                <td class="hide-on-small-only">
                                    <div class="progress lime lighten-4">
                                        <div class="determinate lime darken-2" style="width: 20%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>PC Software</td>
                                <td>9.5%</td>
                                <td><strong class="green-text"><i class="zmdi zmdi-trending-up"></i> 35%</strong></td>
                                <td class="hide-on-small-only">
                                    <div class="progress lime lighten-4">
                                        <div class="determinate lime darken-2" style="width: 95%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Mobile Phones</td>
                                <td>10%</td>
                                <td><strong class="green-text"><i class="zmdi zmdi-trending-up"></i> 68%</strong></td>
                                <td class="hide-on-small-only">
                                    <div class="progress lime lighten-4">
                                        <div class="determinate lime darken-2" style="width: 100%"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Laptops</td>
                                <td>4.6%</td>
                                <td><strong class="red-text"><i class="zmdi zmdi-trending-down"></i> 15%</strong></td>
                                <td class="hide-on-small-only">
                                    <div class="progress lime lighten-4">
                                        <div class="determinate lime darken-2" style="width: 46%"></div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-content">
                        <h5>CPU Load</h5>
                    </div>
                    <div class="card-action">
                        <div id="flot1"></div>
                        <small>Real-time CPU Load</small>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <h5>Active users <small>- live feed</small></h5>
                    </div>
                    <div class="card-action">
                        <div class="collection margin" id="signup-feed1">
                            <div class="collection-item avatar new">
                                <img src="../assets/images/profile/130.jpg" alt="Loreta Puccio" class="circle responsive-img">
                                <span class="title">Loreta Puccio</span>
                                <span class="badge"><small>/city-breaks</small></span>
                                <p>Mesa, USA</p>
                            </div>
                            <div class="collection-item avatar new">
                                <img src="../assets/images/profile/129.jpg" alt="Millie Brummond" class="circle responsive-img">
                                <span class="title">Millie Brummond</span>
                                <span class="badge"><small>/review-order</small></span>
                                <p>Dale City, USA</p>
                            </div>
                            <div class="collection-item avatar new">
                                <img src="../assets/images/profile/128.jpg" alt="Madalyn Shahid" class="circle responsive-img">
                                <span class="title">Madalyn Shahid</span>
                                <span class="badge"><small>/shopping-cart</small></span>
                                <p>Bujumbura, USA</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>