<div >
    <div class="row section-header">
        <h4 class="page-title">Dashboard</h4>
    </div>
    <div class="row content-container social">
        <div class="row margin">
            <div>
                <div class="col s12 m6 quote">
                    <div class="card white-text social-quotes1">
                        <div class="card-content">
                            <h5 class="card-title left"><i class="zmdi zmdi-twitter"></i></h5>
                            <div>
                                <p class="font16">Judy and Nick race to the ZPD with the evidence, but Bellwether intercepts them, attempting to take the evidence. No good can come from this ...</p>
                                <p class="right-align"><i>&mdash; Mary Jane</i></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 quote">
                    <div class="card white-text social-quotes2">
                        <div class="card-content">
                            <h5 class="card-title left"><i class="zmdi zmdi-twitch"></i></h5>
                            <div>
                                <p class="font16">Judy and Nick race to the ZPD with the evidence, but Bellwether intercepts them, attempting to take the evidence. No good can come from this ...</p>
                                <p class="right-align"><i>&mdash; Mary Jane</i></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 quote">
                    <div class="card white-text social-quotes3">
                        <div class="card-content">
                            <h5 class="card-title left"><i class="zmdi zmdi-vimeo"></i></h5>
                            <div>
                                <p class="font16">Judy and Nick race to the ZPD with the evidence, but Bellwether intercepts them, attempting to take the evidence. No good can come from this ...</p>
                                <p class="right-align"><i>&mdash; Mary Jane</i></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 quote">
                    <div class="card white-text social-quotes4">
                        <div class="card-content">
                            <h5 class="card-title left"><i class="zmdi zmdi-facebook"></i></h5>
                            <div>
                                <p class="font16">Judy and Nick race to the ZPD with the evidence, but Bellwether intercepts them, attempting to take the evidence. No good can come from this ...</p>
                                <p class="right-align"><i>&mdash; John Doe</i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col s12 m12 l7">
                <div class="card emails">
                    <div class="card-content">
                        <h5>Emails</h5>
                    </div>
                    <div class="card-action">
                        <div class="collection margin">
                            <div class="collection-item waves-effect avatar">
                                <img src="../assets/images/users/katia.png" alt="katia" class="circle">
                                <span class="title"><strong>Re: Shipment delayed</strong></span>
                                <span class="badge grey-text"><small>July 3rd, 2016</small></span>
                                <p class="margin">Mary Jane</p>
                                <p class="margin grey-text"><i>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ...</i>
                                </p>
                            </div>
                            <div class="collection-item waves-effect avatar">
                                <img src="../assets/images/users/john.png" alt="john" class="circle">
                                <span class="title"><strong>New product available</strong></span>
                                <span class="badge grey-text"><small>July 2nd, 2016</small></span>
                                <p class="margin">James Brown<br/></p>
                                <p class="grey-text margin"><i>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ...</i>
                                </p>
                            </div>
                            <div class="collection-item waves-effect avatar">
                                <img src="../assets/images/users/katia.png" alt="katia" class="circle">
                                <span class="title"><strong>Legal issue</strong></span>
                                <span class="badge grey-text"><small>July 1st, 2016</small></span>
                                <p class="margin">Mary Jane</p>
                                <p class="grey-text margin"><i>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ...</i>
                                </p>
                            </div>
                            <div class="collection-item waves-effect avatar">
                                <img src="../assets/images/users/john.png" alt="john" class="circle">
                                <span class="title"><strong>Partnership opportunity</strong></span>
                                <span class="badge grey-text"><small>June 31st, 2016</small></span>
                                <p class="margin">James Brown<br/></p>
                                <p class="grey-text margin"><i>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ...</i>
                                </p>
                            </div>
                            <div class="collection-item waves-effect avatar">
                                <img src="../assets/images/users/katia.png" alt="katia" class="circle">
                                <span class="title"><strong>Winter team building</strong></span>
                                <span class="badge grey-text"><small>June 30th, 2016</small></span>
                                <p class="margin">Mary Jane</p>
                                <p class="grey-text margin"><i>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ...</i>
                                </p>
                            </div>
                            <div class="collection-item waves-effect avatar">
                                <img src="../assets/images/users/john.png" alt="john" class="circle">
                                <span class="title"><strong>Re: Company car request</strong></span>
                                <span class="badge grey-text"><small>June 29th, 2016</small></span>
                                <p class="margin">James Brown<br/></p>
                                <p class="grey-text margin"><i>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua ...</i>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="socialMessage">
                <div class="col s12 m12 l5 messageBox">
                    <div class="card">
                        <div class="card-content">
                            <h5>Messages</h5>
                        </div>
                        <div class="card-action">
                            <ul class="collection">
                                <li class="collection-item avatar first">
                                    <span class="title hide-on-med-and-up">You</span>
                                    <img src="../assets/images/users/johanna.png" alt="johanna" class="circle">
                                    <div class="card-panel  user-message">
                                        <span class="white-text">Hey, man! What's up?</span>
                                    </div>
                                </li>
                                <li class="collection-item avatar second">
                                    <img src="../assets/images/users/jim1.png" alt="jim" class="circle">
                                    <span class="title">Jim Morrison</span>
                                    <div class="card-panel user-message">
                                        <span>Hello, Johanna and Jane! I really need your help with the design for the postcards I've told you about. Do you guys think you can do it today?</span>
                                    </div>
                                </li>
                                <li class="collection-item avatar first">
                                    <span class="title hide-on-med-and-up">You</span>
                                    <img src="../assets/images/users/johanna.png" alt="johanna" class="circle">
                                    <div class="card-panel user-message">
                                        <span class="white-text ">Uh, oh.. Today? Isn't it a bit .. too short?</span>
                                    </div>
                                </li>
                                <li class="collection-item avatar second">
                                    <img src="../assets/images/users/jim1.png" alt="johanna" class="circle">
                                    <span class="title">Jim Morrison</span>
                                    <div class="card-panel user-message">
                                        <span>Always a pleasure to do business with you, Jim.</span>
                                    </div>
                                </li>
                            </ul>
                            <div class="reply-text">
                                <textarea rows="2" cols="10" placeholder="Write a reply..."></textarea>
                                <div class="send-reply">
                                    <i class="material-icons waves-effect">attach_file</i>
                                    <a class="waves-effect waves-light btn color-custom right center">SEND</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l4 magazine margin widgets-tabs">
                <div class="card-panel widgets-tabs col l12">
                    <ul tabs  reload="allTabContentLoaded">
                        <li class="tab col s3"><a href="#recent" class="active">Recent</a></li>
                        <li class="tab col s3"><a  href="#popular">Popular</a></li>
                        <li class="tab col s3"><a href="#favorite">Favorite</a></li>
                    </ul>
                    <div id="recent" class="col no-padding">
                        <ul>
                            <li class="collection-item article post col s12 border-none small-post">
                                <div class="col s6 img-container">
                                    <div class="col s12 post-image nr11">
                                    </div>
                                </div>
                                <div class="col s6 no-padding margin post-info">
                                    <h1 class="light margin">
                                        Post Title
                                    </h1>
                                    <div >
                                        <p class="activity"><a href="#" class="comms black-text"><i class="zmdi zmdi-comments grey-text text-darken-2"> </i> 4</a>
                                            <a href="#" class="fb-comms black-text"><i class="zmdi zmdi-facebook grey-text text-darken-2"> </i> 15</a>
                                            <a href="#" class="tw-comms black-text"><i class="zmdi zmdi-twitter grey-text text-darken-2"> </i> 21</a></p>
                                        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit...<a href="javascript:void(0);">Read more</a></p>
                                    </div>
                                </div>
                            </li>
                            <li class="collection-item article post col s12 border-none small-post">
                                <div class="col s6 img-container">
                                    <div class="col s12 post-image nr12">
                                    </div>
                                </div>
                                <div class="col s6 no-padding margin post-info">
                                    <h1 class="light margin">
                                        Post Title
                                    </h1>
                                    <div >
                                        <p class="activity"><a href="#" class="comms black-text"><i class="zmdi zmdi-comments grey-text text-darken-2"> </i> 4</a>
                                            <a href="#" class="fb-comms black-text"><i class="zmdi zmdi-facebook grey-text text-darken-2"> </i> 15</a>
                                            <a href="#" class="tw-comms black-text"><i class="zmdi zmdi-twitter grey-text text-darken-2"> </i> 21</a></p>
                                        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit...<a href="javascript:void(0);">Read more</a></p>
                                    </div>
                                </div>
                            </li>
                            <li class="collection-item article post col s12 border-none small-post">
                                <div class="col s6 img-container">
                                    <div class="col s12 post-image nr10">
                                    </div>
                                </div>
                                <div class="col s6 no-padding margin post-info">
                                    <h1 class="light margin">
                                        Post Title
                                    </h1>
                                    <div >
                                        <p class="activity"><a href="#" class="comms black-text"><i class="zmdi zmdi-comments grey-text text-darken-2"> </i> 4</a>
                                            <a href="#" class="fb-comms black-text"><i class="zmdi zmdi-facebook grey-text text-darken-2"> </i> 15</a>
                                            <a href="#" class="tw-comms black-text"><i class="zmdi zmdi-twitter grey-text text-darken-2"> </i> 21</a></p>
                                        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit...<a href="javascript:void(0);">Read more</a></p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div id="popular" class="col no-padding">
                        <ul>
                            <li class="collection-item article post col s12 border-none small-post">
                                <div class="col s6 img-container">
                                    <div class="col s12 post-image nr1">
                                    </div>
                                </div>
                                <div class="col s6 no-padding margin post-info">
                                    <h1 class="light margin">
                                        Post Title
                                    </h1>
                                    <div >
                                        <p class="activity"><a href="#" class="comms black-text"><i class="zmdi zmdi-comments grey-text text-darken-2"> </i> 4</a>
                                            <a href="#" class="fb-comms black-text"><i class="zmdi zmdi-facebook grey-text text-darken-2"> </i> 15</a>
                                            <a href="#" class="tw-comms black-text"><i class="zmdi zmdi-twitter grey-text text-darken-2"> </i> 21</a></p>
                                        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit...<a href="javascript:void(0);">Read more</a></p>
                                    </div>
                                </div>
                            </li>
                            <li class="collection-item article post col s12 border-none small-post">
                                <div class="col s6 img-container">
                                    <div class="col s12 post-image nr2">
                                    </div>
                                </div>
                                <div class="col s6 no-padding margin post-info">
                                    <h1 class="light margin">
                                        Post Title
                                    </h1>
                                    <div >
                                        <p class="activity"><a href="#" class="comms black-text"><i class="zmdi zmdi-comments grey-text text-darken-2"> </i> 4</a>
                                            <a href="#" class="fb-comms black-text"><i class="zmdi zmdi-facebook grey-text text-darken-2"> </i> 15</a>
                                            <a href="#" class="tw-comms black-text"><i class="zmdi zmdi-twitter grey-text text-darken-2"> </i> 21</a></p>
                                        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit...<a href="javascript:void(0);">Read more</a></p>
                                    </div>
                                </div>
                            </li>
                            <li class="collection-item article post col s12 border-none small-post">
                                <div class="col s6 img-container">
                                    <div class="col s12 post-image nr3">
                                    </div>
                                </div>
                                <div class="col s6 no-padding margin post-info">
                                    <h1 class="light margin">
                                        Post Title
                                    </h1>
                                    <div >
                                        <p class="activity"><a href="#" class="comms black-text"><i class="zmdi zmdi-comments grey-text text-darken-2"> </i> 4</a>
                                            <a href="#" class="fb-comms black-text"><i class="zmdi zmdi-facebook grey-text text-darken-2"> </i> 15</a>
                                            <a href="#" class="tw-comms black-text"><i class="zmdi zmdi-twitter grey-text text-darken-2"> </i> 21</a></p>
                                        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit...<a href="javascript:void(0);">Read more</a></p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div id="favorite" class="col no-padding">
                        <ul>
                            <li class="collection-item article post col s12 border-none small-post">
                                <div class="col s6 img-container">
                                    <div class="col s12 post-image nr4">
                                    </div>
                                </div>
                                <div class="col s6 no-padding margin post-info">
                                    <h1 class="light margin">
                                        Post Title
                                    </h1>
                                    <div >
                                        <p class="activity"><a href="#" class="comms black-text"><i class="zmdi zmdi-comments grey-text text-darken-2"> </i> 4</a>
                                            <a href="#" class="fb-comms black-text"><i class="zmdi zmdi-facebook grey-text text-darken-2"> </i> 15</a>
                                            <a href="#" class="tw-comms black-text"><i class="zmdi zmdi-twitter grey-text text-darken-2"> </i> 21</a></p>
                                        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit...<a href="javascript:void(0);">Read more</a></p>
                                    </div>
                                </div>
                            </li>
                            <li class="collection-item article post col s12 border-none small-post">
                                <div class="col s6 img-container">
                                    <div class="col s12 post-image nr5">
                                    </div>
                                </div>
                                <div class="col s6 no-padding margin post-info">
                                    <h1 class="light margin">
                                        Post Title
                                    </h1>
                                    <div >
                                        <p class="activity"><a href="#" class="comms black-text"><i class="zmdi zmdi-comments grey-text text-darken-2"> </i> 4</a>
                                            <a href="#" class="fb-comms black-text"><i class="zmdi zmdi-facebook grey-text text-darken-2"> </i> 15</a>
                                            <a href="#" class="tw-comms black-text"><i class="zmdi zmdi-twitter grey-text text-darken-2"> </i> 21</a></p>
                                        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit...<a href="javascript:void(0);">Read more</a></p>
                                    </div>
                                </div>
                            </li>
                            <li class="collection-item article post col s12 border-none small-post">
                                <div class="col s6 img-container">
                                    <div class="col s12 post-image nr6">
                                    </div>
                                </div>
                                <div class="col s6 no-padding margin post-info">
                                    <h1 class="light margin">
                                        Post Title
                                    </h1>
                                    <div >
                                        <p class="activity"><a href="#" class="comms black-text"><i class="zmdi zmdi-comments grey-text text-darken-2"> </i> 4</a>
                                            <a href="#" class="fb-comms black-text"><i class="zmdi zmdi-facebook grey-text text-darken-2"> </i> 15</a>
                                            <a href="#" class="tw-comms black-text"><i class="zmdi zmdi-twitter grey-text text-darken-2"> </i> 21</a></p>
                                        <p class="light">Lorem ipsum dolor sit amet, consectetur adipiscing elit...<a href="javascript:void(0);">Read more</a></p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l8">
                <div class="card col s12 no-padd">
                    <div class="card-content">
                        <h5>Today's schedule</h5>
                    </div>
                    <div class="card-action timeline-page">
                        <div class="timeline">
                            <div class="timeline-event">
                                <div class="timeline-content">
                                    <div class="content-box">
                                        <h6>Meeting <small>11:00 am</small></h6>
                                        <p>
                                            It’s a fundamental rule of management that to lead others you need to practice frequent and open communication. The general wisdom is that managers can best accomplish this by holding regular one-on-one meetings with directs reports, usually weekly or close to it...
                                        </p>
                                    </div>
                                </div>
                                <div class="timeline-badge orange white-text">
                                    <i class="zmdi zmdi-case"></i>
                                </div>
                            </div>
                            <div class="timeline-event">
                                <div class="timeline-content">
                                    <div class="content-box">
                                        <h6>Go shopping <small>10:00 am</small></h6>
                                        <p>
                                            Although it’s a nice idea to think you can catch up with your direct reports on the fly, that’s harder to do in reality. By making a commitment to a schedule, whether once a week or once a month, both parties will better prepare and take the meeting more seriously.
                                        </p>
                                    </div>
                                </div>
                                <div class="timeline-badge blue darken-1 white-text">
                                    <i class="zmdi zmdi-shopping-cart"></i>
                                </div>
                            </div>
                            <div class="timeline-event">
                                <div class="timeline-content">
                                    <div class="content-box">
                                        <h6>Get on time <small>9:00 am</small></h6>
                                        <p>
                                            It’s natural that other work may come up that causes you to reschedule, but beware. I can’t count the number of complaints I’ve heard from employees that their managers never stick to their one-on-ones — sending the message that the employee is the most expendable action item on the schedule. ...
                                        </p>
                                    </div>
                                </div>
                                <div class="timeline-badge red white-text">
                                    <i class="zmdi zmdi-time"></i>
                                </div>
                            </div>
                            <div class="timeline-event">
                                <div class="timeline-content">
                                    <div class="content-box">
                                        <h6>Meeting <small>8:00 am</small></h6>
                                        <p>
                                            Structure your meetings so it’s partly about what you need to discuss, and also about what your direct report needs to raise. It shouldn’t be just a one-way delegation of tasks.
                                        </p>
                                    </div>
                                </div>
                                <div class="timeline-badge green white-text">
                                    <i class="zmdi zmdi-card-giftcard"></i>
                                </div>
                            </div>
                            <div class="timeline-event">
                                <div class="timeline-content">
                                    <div class="content-box">
                                        <h6>Send mail to client <small>7:00 am</small></h6>
                                        <p>
                                            Giving someone our full, uninterrupted presence is a gift that makes a big impact. It’s so rare, and I believe is a large part of what people mean when they say someone has “presence.”...
                                        </p>
                                    </div>
                                </div>
                                <div class="timeline-badge pink white-text">
                                    <i class="zmdi zmdi-email"></i>
                                </div>
                            </div>
                            <div class="timeline-event">
                                <div class="timeline-content">
                                    <div class="content-box">
                                        <h6>One to one <small>6:00 am</small></h6>
                                        <p>
                                            The one-on-one meeting is a perfect time to practice being present and free from distraction. It’s not easy, but it is possible with intention. Come to the meeting focused and committed – don’t schedule between back-to-back meetings so you come late and have to cut out on the dot...
                                        </p>
                                    </div>
                                </div>
                                <div class="timeline-badge purple white-text">
                                    <i class="zmdi zmdi-copy"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>