html{
  height: 100%;
  width: 100%;
}
body{
  height: 100%;
  width: 100%;
}
.back {
  width: 100%;
}
.container_500{
  background: url("../assets/images/500_one.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: center center;
  &.angular-v {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    display: table;
  }
  @media#{$max-1280}{
    padding-top: 23%;
  }
  @media#{$max-768}{
    background-position: 62% 10%;
  }
  @media#{$max-640}{
    background-position: 63% 0%;
  }
  @media#{$max-480}{
    //background: url("../../../assets/images/500_4x3.jpg");
    padding-top: 35%;
    background-position: 65% 0%;
  }
}
.container_404{
  background: url("../assets/images/404.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-position: center center;
  &.angular-v {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
  }
  @media#{$max-1280}{
    padding-top: 23%;
  }
  @media#{$max-768}{
    background-position: 87% 10%;
  }
  @media#{$max-640}{
    background-position: 70% 10%;
  }
  @media#{$max-480}{
    padding-top: 35%;
    background-position: 67% 10%;
  }
}
.text-404{
  font-family: "Open Sans";
  position: relative;
  color: #fff;
  text-align: center;
  box-shadow: 0px 0px 0px 600px rgba(0,0,0,0.5);
  padding: 50px 0 90px 0;
  @media#{$max-768}{
    padding-top: 10%;
  }
  @media#{$max-640}{
    padding-top: 18%;
  }

  h1{
    font-family: "Open Sans";
    font-size: 190px;
    margin-top: 0;
    padding: 0;
    line-height: 1;
    @media#{$max-1380}{
      font-size: 80px;
      margin: 0;
    }
    @media#{$max-1280}{
      font-size: 80px;
      margin: 0;
    }
    @media#{$max-1024}{
      font-size: 80px;
      margin: 0;
    }
    @media#{$max-768}{
      font-size: 120px;
      margin: 0;
    }
    @media#{$max-640}{
      font-size: 120px;
      margin: 0;
    }
    @media#{$max-480}{
      font-size: 120px;
      margin: 0;
    }
  }
  p{
    font-family: BaronFont;
    font-size: 31px;
    @media#{$max-1380}{
      font-size: 22px;
    }
    @media#{$max-1280}{
      font-size: 22px;
    }
    @media#{$max-1024}{
      font-size: 22px;
    }
    @media#{$max-768}{
      font-size: 30px;
    }
    @media#{$max-640}{
      font-size: 25px;
    }
    @media#{$max-480}{
      font-size: 20px;
    }
  }
  .back-btn{
    font-family: 'Open Sans light', sans-serif;
    background: #fff;
    border-radius: 3px;
    padding: 10px 18px;
    color: #000;
    @media #{$max-1380}{
      font-size: 15px;
      padding: 12px 12px;
    }
    @media #{$max-1280}{
      font-size: 15px;
      padding: 12px 12px;
    }
    @media #{$max-1024}{
      font-size: 15px;
      padding: 12px 12px;
    }
    @media #{$max-768}{
      font-size: 17px;
      padding: 10px 10px;
    }
    @media #{$max-640}{
      font-size: 17px;
      padding: 10px 10px;
    }
    @media #{$max-480}{
      font-size: 15px;
      padding: 8px 8px;
    }
  }
}
.msg{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: calc(50% - 260px);
  left:0;
  right:0;
  @media#{$max-1280}{
    height: 52%;
  }
  @media#{$max-1024}{
    height: 58%;
  }
  @media#{$max-768}{
    height: 58%;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
  }
  @media#{$max-480}{
    height: 77%;
    .text-404{
      padding-top: 10%;
    }
    h1{
      font-size: 85px;
    }
    p{
      font-size: 15px;
    }
  }
}
