.blog{
  font-weight: 300;
  .no-margin{
    margin:0!important;
  }
  .blog-title{
    margin:25px 0;
    font-size: 30px;
  }
  .blog-header{
    margin:35px 0 25px;
    font-size: 30px;
    font-weight: 300;
  }
  .center-title {
    color: rgba(0,0,0,0.75);
  }
  .main-img{
    img{
      width:100%;
    }
  }
  .author-image {
    width: 145px;
    display: inline-block;
    float: left;
    padding-top: 15px;
    [dir="rtl"] &{
     float: right;
    }
  }
  .blog-desc{
    margin: -90px auto 20px;
    position: relative;
    z-index: 2;
    h4{
      font-size: 30px;
      font-weight: 600;
    }
    .blog-content{
      max-height: 42px;
      overflow: hidden;
    }
    .addedBy{
      color:#b02e67;
    }
    i{
      vertical-align: middle;
      font-size:16px ;
    }
    .social-buttons-container{
      padding:25px 0;
      a{
        &.icon{
        width: 26px;
        height: 26px;
        }
        cursor: pointer;
        font-size: 15px;
        font-weight: 300;
        margin: 0 7px;
        display: inline-block;
        position:relative;
        span{
          line-height: 15px;
          top: 20px;
          right: -8px;
          font-size: 12px;
          min-width: 1rem;
          border-radius: 25%;
        }
      }
    }
  }
  .author{
    h5{
      font-size: 20px;
      font-weight: 500;
    }
    p{
      font-size: 15px;
    }
    .author-details{
      h5 {
        padding-top: 15px;
      }
      .contact-buttons-container{
        a{
          text-align: center;
          width: 25px;
          height: 25px;
          margin: 4px;
          display: inline-block;
          i{
            vertical-align: middle;
            font-size:16px ;
          }
        }
        .mail-icon{
          i{
          font-size: 14px;
          }
        }
      }
      padding: 0 10px;
    }
    .name{
      margin: 0 0 15px;
    }
  }
  .comments{
    h5{
      display: inline-block;
      font-size: 20px;
      font-weight: 500;
      margin-top: 0;
    }
    .comm-badge{
      display: inline-block;
      text-align: center;
      border-radius: 15%;
      min-width: 22px;
    }
    .avatar{
      padding: 15px 0 0;
      .avatar-img{
        padding-right: 30px !important;
        max-width: 130px;
        @media #{$medium-and-down} {
          padding-right: 20px !important;
          max-width: 120px;
        }
        @media #{$small-and-down} {
          padding-right: 0px !important;
          max-width: 100px;
        }
      }
    }
    .post-date{
      margin: 0;
      font-size: 13px;
    }
    form{
      label{
        left: 40px;
        [dir="rtl"] &{
          right: 40px;
          left:auto;
        }
      }
      input{
        padding-left: 30px;
        margin-bottom: 0;
        height: 37px;
        [dir="rtl"] &{
          padding-left: 0;
          padding-right: 30px;
        }
      }
      .form-icon{
        position: absolute;
        top:9px;
        font-size: 30px;
        margin-right: 10px;
        line-height: 20px;
        [dir="rtl"] &{
          margin-right: 0;
          margin-left: 10px;
        }
      }
      .form-title{
        padding: 30px 0 4px;
      }
      .btn{
        display: block;
        margin: 20px auto 0;
        padding: 0 20px;
        height: 42px;
        font-size: 20px;
        border-radius: 0;
      }
    }
  }

  //------------Responsive-----------//

  @media #{$medium-and-down} {
    .blog-desc{
      margin-top: -50px;
      h4{
        font-size: 26px;
        padding:0;
      }
      .social-buttons-container{
        padding: 15px 0;
      }
    }
  }

  @media #{$small-and-down} {
    .blog-title{
      margin:15px 0;
    }
    .blog-desc{
      margin-top: -5px;
      h4{
        font-size: 24px;
        padding:0;
      }
      .social-buttons-container{
        a{
        margin-bottom: 10px;
        }
      }
    }
    .author{
      .author-details{
        .contact-buttons-container{
          a{
            width: 20px;
            height: 20px;
            line-height: 19px;
            i{
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .inline-block{
    display: inline-block;
  }
}

