.card {
  .card-image {
    .card-category {
      width: 60px;
      height: 60px;
      position: absolute;
      bottom: -28px;
      right: 15px;
      border-radius: 50%;
      background: #FFFFFF;
      border: 3px solid #FFFFFF;
      text-align: center;
      -webkit-box-shadow: 0 1px 3px 0 #A7A7A7;
      -moz-box-shadow: 0 1px 3px 0 #A7A7A7;
      box-shadow: 0 1px 3px 0 #A7A7A7;
      [dir="rtl"] &{
        right: auto;
        left: 15px;
      }
      img {
        border-radius: 50%;
        max-width: 100%;
      }
      i {
        font-size: 2.5em;
        padding: 10px;
        color: #bbbabb;
      }
    }
    .card-title {
      width: 100%;
      padding-bottom: 6px;
      padding-top: 6px;
      font-size: 22px;
      font-weight: 400;
    }
  }
  .card-content {
    &.has-category {
      padding-top: 30px;
    }
  }
  .card-action {
    &>a {
      &.icon-link {
        color: #bbbabb !important;
        font-size: 12px;
        i {
          &::before {
            display: inline-block;
            speak: none;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
          }
        }
      }
    }
  }
}