.colors{
  .section-header{
    margin-top: 0;
    font-weight: 600;
  }
  .section{
    overflow: auto;
    pre:before{
      display: none!important;
    }
    h5.section-title {
      margin-top: 4px;
    }
  }
  .dynamic-color{
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    .red, .pink, .purple,.deep-purple, .indigo, .blue, .light-blue, .cyan, .teal, .green, .light-green, .lime,
    .yellow, .amber, .orange, .deep-orange, .brown, .grey, .blue-grey, .black, .white, .transparent{
      height: 55px;
      width: 100%;
      padding: 0 15px;
      line-height: 55px;
      font-weight: 500;
      font-size: 12px;
      display: block;
      box-sizing: border-box;
    }
    .col{
      margin-bottom: 55px;
    }
  }
}
