main{
  padding-left: 240px;
  [dir="rtl"] &{
    padding-right: 240px;
    padding-left: 0;
  }
  @media #{$medium-and-down}{
    padding-left: 0;
    [dir="rtl"] &{
      padding-right: 0;
    }
  }
}
.panel-widget-title{
  padding-bottom: 10px;
}
.section-header{
  padding: 15px 20px 20px 20px;
  background-color: #fff;

  h2{
    margin-top: 0;
    font-weight: 600;
  }
}
/* CUSTOM CSS CHECKBOXES */

[type="checkbox"].filled-in {
  &:not(:checked) + label:after {
    border: 2px solid #de538e;

  }
  // Checked style
  &:checked {

    + label:after {
      border: 2px solid #de538e;
      background-color: #de538e;
    }
  }
}
[type="checkbox"]{
  + label {
//    display: table-cell;
  }
}
.dashboard-wrapper{
  .panel-widget{
      .zmdi-delete{
        &:before{
          font-size: 20px;
        }
      }
  }
  .email-widget{

    .inbox-title{
      position: relative;
      padding-bottom: 5px;
      h3{
        font-size: 15px;
        font-weight: 600;
        display: inline-block;
        margin: 0;
      }
      .inbox-badge{
        font-weight: 600;
        padding: 5px 8px;
        font-size: 12px;
        display: inline-block;
        min-width: 10px;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        border-radius: 99px;
        margin-left: 10px;
        &.inbox-badge-green{
          background-color: #43a047;
        }
      }
    }
//    .inbox-element{
//      margin: 10px 0;
//      a{
//        width: 40px;
//        height: 40px;
//        float: left;
//      }
//       img{
//         border-radius: 50%;
//         max-width: 100%;
//       }
//      .inbox-info{
//        width: auto;
//        padding-left: 45px;
//
//        .inbox-element-name{
//          font-size: 15px;
//        }
//        .inbox-element-info{
//          font-size: 12px;
//          overflow: hidden;
//          text-overflow: ellipsis;
//          white-space: nowrap;
//          line-height: 1;
//        }
//        .inbox-element-date{
//          font-size: 12px;
//          color: rgba(255, 255, 255, 0.75);
//        }
//      }
//    }
  }
  .profile-widget{
    background: url("../images/user_test_bg.png") no-repeat;
    background-size: cover;
    text-align: center;
    padding: 40px 0;
    .profile-image{
      width: 90px;
      height: 90px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      img{
        border-radius: 50%;
        max-width: 100%;
      }
    }
    h2{
      font-size: 20px;
      color:#fff;
      font-weight: 600;
    }
    .profile-location{
      font-size: 15px;
      color:#fff;
      margin-bottom: 10px;
      font-weight: 300;
    }
  }
  .label{
    padding: 2px 8px;
    font-size: 15px;
    color:#fff;
    border-radius: 2px;
    font-weight: 600;
    line-height: 1;
    &.label-red{
      background-color: #e44967;
    }
    &.label-default{
      background-color: #55c6f5;
    }
    &.label-warning{
      background-color: #f9b058;
    }
  }

    .table-badge{
      font-weight: 600;
      padding: 5px 8px;
      font-size: 12px;
      display: inline-block;
      min-width: 10px;
      line-height: 1;
      color: #fff;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      border-radius: 99px;
      margin-left: 10px;
      &.table-badge-green{
        background-color: #43a047;
      }
    }

}

//   Overight card just for dashboard/general
.inbox-element{
  margin: 0;
  .collection {
    border: 0;
    .collection-item.avatar{
      min-height: 0;
      border: 0;
    }
  }
}
.socialMessage{
  .reply-text{
    padding: 0;
  }
}