/////////////////////////////////////////
///GENERAL
////////////////////////////////////////

.general{
  td{
    label{
      height:20px;
      vertical-align: middle;

      [dir="rtl"] &{
        padding-left: 20px;
      }
    }
  }
  .last-orders {
    .card-content {
      background-color: #9c2fb0;
      color: #ffffff;
    }
  }
  .inbox-4 {
    .card-content {
      background-color: #3f51b5;
      color: #FFFFFF;
    }
  }
  .project-stats {
    h5 {
      i {
        vertical-align: bottom;
        color: #F3A530;
      }
    }
  }
  .messageBox {
    .card {
      .card-content {
        h5 {
          i {
            vertical-align: bottom;
            color: #9c2fb0;
          }
        }
      }
    }
  }
  #signup-feed2 {
    max-height: 370px;
  }
  #chartdiv{
    width		: 100%;
    height		: 100%;
  }
  #chartdiv2 {
    width		: 100%;
    height: 420px;
    font-size	: 11px;
  }
  .amcharts-graph-g2 .amcharts-graph-stroke {
    stroke-dasharray: 3px 3px;
    stroke-linejoin: round;
    stroke-linecap: round;
    -webkit-animation: am-moving-dashes 1s linear infinite;
    animation: am-moving-dashes 1s linear infinite;
  }
  @-webkit-keyframes am-moving-dashes {
    100% {
      stroke-dashoffset: -31px;
    }
  }
  @keyframes am-moving-dashes {
    100% {
      stroke-dashoffset: -31px;
    }
  }
  @-webkit-keyframes am-pulsating {
    0% {
      stroke-opacity: 1;
      stroke-width: 0px;
    }
    100% {
      stroke-opacity: 0;
      stroke-width: 50px;
    }
  }
  @keyframes am-pulsating {
    0% {
      stroke-opacity: 1;
      stroke-width: 0px;
    }
    100% {
      stroke-opacity: 0;
      stroke-width: 50px;
    }
  }
  @-webkit-keyframes am-draw {
    0% {
      stroke-dashoffset: 500%;
    }
    100% {
      stroke-dashoffset: 0%;
    }
  }
  @keyframes am-draw {
    0% {
      stroke-dashoffset: 500%;
    }
    100% {
      stroke-dashoffset: 0%;
    }
  }
  #darkChart {
    padding: 0 0 20px 0;
    background: #00bed4;
    color: #FFFFFF;
    .card-action {
      border-top: 1px solid rgba(255, 255, 255, 0.2);
    }
  }
  #secondChart {
    background: #009688;
    color: #FFFFFF;
    .card-action {
      border-top: 1px solid rgba(255, 255, 255, 0.2);
    }
  }
  .small-chart {
    height: 80px;
    color: white;
    text-align: center;
    vertical-align: middle;
  }
  .small-chart  h2 {
    margin: 0;
    line-height: 100%;
    font-size: 22px;
    font-weight: 300;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .scc {
    padding:15px;
    height: 100%;
  }
  .sct{
    padding: 15px;
  }
  #small-chart1{
//    background: #03a9f4;
    background: linear-gradient(to right, #0382c2 50%, #03a9f4 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition:all 0.6s ease;
  }
  #small-chart1 .scc{
//    background: #0382c2;
  }
  #small-chart2{
//    background: #dd2c00;
    background: linear-gradient(to right, #ab2800 50%, #dd2c00 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition:all 0.6s ease;
  }
  #small-chart2 .scc{
//    background: #ab2800;
  }
  #small-chart3{
//    background: #00bfa5;
    background: linear-gradient(to right, #008d73 50%, #00bfa5 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition:all 0.6s ease;
  }
  #small-chart3 .scc{
//    background: #008d73;
  }
  #small-chart4{
//    background: #c94880;
    background: linear-gradient(to right, #973c5a 50%, #c94880 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition:all 0.6s ease;
  }
  #small-chart4 .scc{
//    background: #973c5a;
  }
  #small-chart1:hover, #small-chart2:hover, #small-chart3:hover, #small-chart4:hover {
    background-position:left bottom;
  }
  /*
   * Sparkline Tooltip
   */
  #jqstooltip {
    min-width: 21px;
    min-height: 23px;
    text-align: center;
    border: 0;
    background: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }
  #jqstooltip .jqsfield {
    font-size: 12px;
    font-weight: 700;
    font-family: inherit;
    text-align: center;
    color: #333;
  }
  #jqstooltip .jqsfield > span {
    display: none;
  }
}

/////////////////////////////////////////
///Analytics
////////////////////////////////////////
.analytics{

  .small-chart  {
    @media#{$max-768} {
      &>div:not(:last-child) {
        margin-bottom: 15px;
      }
    }
    h2 {
      margin: 0;
      line-height: 100%;
      font-size: 22px;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .text-center {
    text-align: center;
  }
  /*
   * Sparkline Tooltip
   */
  #chartdiv, #worldcities {
    width	: 100%;
    height	: 500px;
  }
  #nvd35 {
    width	: 100%;
    height	: 555px;
  }
  #hc3 {
    width	: 100%;
    height	: 390px;
  }

  .map-marker .dot {
    border: 10px solid #fff601;
    background: transparent;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    height: 50px;
    width: 50px;
    -webkit-animation: pulse 3s ease-out;
    -moz-animation: pulse 3s ease-out;
    animation: pulse 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    position: absolute;
    top: -20px;
    left: -20px;
    z-index: 1;
    opacity: 0;
  }
  @-moz-keyframes pulse {
    0% {
      -moz-transform: scale(0);
      opacity: 0.0;
    }
    25% {
      -moz-transform: scale(0);
      opacity: 0.1;
    }
    50% {
      -moz-transform: scale(0.1);
      opacity: 0.3;
    }
    75% {
      -moz-transform: scale(0.5);
      opacity: 0.5;
    }
    100% {
      -moz-transform: scale(1);
      opacity: 0.0;
    }
  }
  @-webkit-keyframes pulse {
    0% {
      -webkit-transform: scale(0);
      opacity: 0.0;
    }
    25% {
      -webkit-transform: scale(0);
      opacity: 0.1;
    }
    50% {
      -webkit-transform: scale(0.1);
      opacity: 0.3;
    }
    75% {
      -webkit-transform: scale(0.5);
      opacity: 0.5;
    }
    100% {
      -webkit-transform: scale(1);
      opacity: 0.0;
    }
  }
  #smc2 canvas {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
  }
  table.dataTable thead th, table.dataTable tfoot th {
    padding: 10px 9px;
    @media#{$max-480} {
      padding: 6px 15px;
    }
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button{
    @media#{$max-480} {
      padding: 0.3em 0.1em;
    }

  }
  #signup-feed3{
    max-height: 490px;
    @media#{$max-480} {
      max-height: 500px;
    }
  }
  .card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating){
    margin-right: 0;
  }
}

/////////////////////////////////////////
///Server
////////////////////////////////////////

.server{
  #visitchart {
    width: 100%;
    height: 500px;
  }
  #flot1, #dbchart {
    width: 100%;
    height: 200px;
    margin: 0 auto;
    font-size: 11px;
  }
  #signup-feed1 {
    max-height: 735px;
  }
  #signup-feed .collection-item {
    min-height: 60px;
  }
  .highlight {
    height: 418px;
  }

  .h550{
    height: 550px;
  }
}

/////////////////////////////////////////
///Sales
////////////////////////////////////////

.sales{
  .small-chart {
    h2 {
      margin: 0;
      line-height: 100%;
      font-size: 22px;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    @media#{$max-768} {
      &>div:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }
  .text-center {
    text-align: center;
  }
  #jqstooltip .jqsfield > span {
    display: none;
  }
  #chartdiv, #worldcities, #nvd35 {
    width	: 100%;
    height	: 500px;
  }
  #hc3 {
    width	: 100%;
    height	: 390px;
  }
  #smc2 canvas {
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
  }
}

/////////////////////////////////////////
///Social
////////////////////////////////////////

.social{
  .socialMessage{
    .messageBox{
      border: 0;
      .collection{
        margin-left: 0;
      }
      .reply-text{
        padding: 0;
      }
      .card-action{

      }
    }
  }
  .social-quotes1{
    background-color:rgb(243, 165, 48);
    .card-title{
      padding-right: 15px;
      [dir="rtl"] &{
        padding-left: 15px;
        padding-right: 0;
      }
    }
  }
  .social-quotes2{
    background-color:rgb(54, 122, 189);
    .card-title{
      padding-right: 15px;
      [dir="rtl"] &{
        padding-left: 15px;
        padding-right: 0;
      }
    }
  }
  .social-quotes3{
    background-color:rgb(136, 197, 66);
    .card-title{
      padding-right: 15px;
      [dir="rtl"] &{
        padding-left: 15px;
        padding-right: 0;
      }
    }
  }
  .social-quotes4{
    background-color:rgb(176, 46, 103);
    .card-title{
      padding-right: 15px;
      [dir="rtl"] &{
        padding-left: 15px;
        padding-right: 0;
      }
    }
  }
  .quote:nth-child(2n+1){
    clear:both;
  }
  .emails {
    @media#{$max-480} {
      .collection {
        .collection-item {
          .title {
            font-size: 0.9rem;
            display: block;
          }
          .badge {
            display: inline-block;
            position: relative;
            padding-left: 15px;
          }
          p {
            margin-left: -60px!important;
          }
        }
      }
    }
  }
}