
.ph{
  ::-webkit-input-placeholder {
    color: #A9A9AB!important;
  }
}

.top-filters{
  margin-bottom: 10px;
  clear: both;
}
.selection{
  @media (max-width: 600px){
    padding: 0px!important;
  }
}
.search-input{
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  background: #fff;
}
.sear{
  float: right;
  margin-top: -34px;
  position: relative;
  top: 0;
  cursor: pointer;
  color: #ccc;

  &:focus{
    color:#000;
  }
}

input.sear::-webkit-input-placeholder {
  color: red!important;
}


.spec{
  input{
    border: 1px solid black;
    border-radius: 5px;
    background: #fff;
    padding-left: 5px;
  }:active{
      border-bottom: 1px solid black;
      box-shadow: none;
     }
}

  input:not([type]):focus:not([readonly]){
    border-bottom: 1px solid black;
    box-shadow: none;
  }
