.e-commerce {
  .img-div {
    position: relative;
    background-repeat: no-repeat!important;
    background-position: center!important;
    background-size: cover!important;
    width: 100%;
    height: 463px;
  }
  .section-header {
    &.cards-section {
      padding-left: 12px;
      [dir="rtl"] &{
        padding-left: 0;
        padding-right: 12px;
      }
    }
    h5 {
      font-size: 21px;
    }
  }
  .card {
    .card-image {
      .card-category {
        width: 60px;
        height: 60px;
        position: absolute;
        bottom: -28px;
        right: 15px;
        border-radius: 50%;
        background: #FFFFFF;
        border: 3px solid #FFFFFF;
        text-align: center;
        img {
          border-radius: 50%;
          max-width: 100%;
        }
        i {
          font-size: 2.5em;
          padding: 10px;
          color: #bbbabb;
        }
      }
    }
    .card-content{
      &.has-category {
        padding-top: 30px;
      }
    }
    .card-action {
      &>a {
        &.icon-link {
          color: #bbbabb !important;
          font-size: 12px;
          i {
            &::before {
              display: inline-block;
              speak: none;
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
            }
          }
        }
      }
    }

    &.e-com {
      .card-image {
        .minimalCard-bubble {
          position: absolute;
          border-radius: 50%;
          text-align: center;
          z-index: 1;
          width: 60px;
          height: 60px;
          top: 12px;
          left: 12px;
          background-color: rgba(242, 179, 83, 0.80);
          p {
            font-size: 20px;
            font-weight: 600;
            color: #FFF;
            margin: 0;
            padding-top: 13px;
          }
          [dir="rtl"] &{
            left: 0;
            right: 12px;
          }
        }
        .card-ribbon {
          position: absolute;
          background-color: rgba(242, 179, 83, 0.80);
          z-index: 3;
          height: 40px;
          width: 60px;
          left: 20px;
          -webkit-transition: height 0.5s;
          transition: height 0.5s;
          color: white;
          p {
            font-size: 21px;
            margin-top: 10px;
            font-weight: 600;
          }
          &:after {
            content: "";
            color: white;
            font-size: 0.5em;
            position: absolute;
            border: 30px solid rgba(242, 179, 83, 0.80);
            z-index: 3;
            border-top-width: 10px;
            border-bottom-color: transparent;
            border-bottom-width: 20px;
            left: 0;
            top: 40px;
            -webkit-transition: height 0.5s;
            transition: height 0.5s;
          }
          [dir="rtl"] &{
            left:auto;
            right: 20px;
          }
        }
        .card-title {
          width: 100%;
          padding-bottom: 6px;
          padding-top: 6px;
          font-size: 22px;
          font-weight: 400;
          background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.65)); /* For Safari 5.1 to 6.0 */
          background: -o-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,0.65)); /* For Opera 11.1 to 12.0 */
          background: -moz-linear-gradient(bottom, rgba(0,0,0,0), rgba(0,0,0,0.65)); /* For Firefox 3.6 to 15 */
          background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.65)); /* Standard syntax (must be last) */
        }
      }
      .card-action {
        padding: 10px;
        .e-commerceBtn {
          background-color: #4bb1d2;
          text-transform: none;
          font-size: 19px;
          border: 0;
          border-radius: 4px;
          padding-right: 15px;
          padding-left: 15px;
          margin: 20px;
        }
        .card-btn {
          margin: 20px 0 20px 44px;
          [dir="rtl"] &{
            margin: 20px 44px 20px 0;
          }
        }
        .disc-btn {
          margin: 20px 0 20px 65px;
          [dir="rtl"] &{
            margin: 20px 65px 20px 0;
          }
        }
        i {
          padding-right: 19px;
          margin-left: -19px;
          font-size: 35px;
          color: #C8C8C8;
          margin: 20px 0;
        }
        .share-btn{
          margin: 20px;
        }
        .minimal-price {
          margin-bottom: 0!important;
          padding-bottom: 3px;
          .p-price1 {
            font-size: 30px;
            font-weight: 300;
            color: #656565;
            margin-top: 0!important;
            margin-bottom: 0!important;
          }
          .p-price2 {
            font-size: 14px;
            color: rgb(255,91,125);
            vertical-align: top;
            position:absolute;
          }
        }

      }
      .card-category {
        width: 75px;
        height: 75px;
        right: 28px;
        bottom: -16px;
        line-height: 75px;
        border: 0;
        -webkit-box-shadow: 0 1px 3px 0 #A7A7A7;
        -moz-box-shadow: 0 1px 3px 0 #A7A7A7;
        box-shadow: 0 1px 3px 0 #A7A7A7;
        p {
          font-size: 24px;
          font-weight: 500;
          color: #656565;
          margin: 0;
        }
        @media (max-width: 480px) {
          width: 50px;
          height: 50px;
          right: 15px;
          p {
            font-size: 16px;
            line-height: 50px;
          }
        }
        [dir="rtl"] &{
          left: 28px;
          right: auto;
        }
      }
    }
  }
  .slider {
    height: 700px !important;
    margin-bottom: 9px;
    @media #{$max-1680}{
      height: 600px !important;
    }
    @media #{$max-1380}{
      height: 500px !important;
    }
    @media #{$small-and-down}{
      overflow-y: scroll;
    }
    .slides {
      background: none;
      height: initial !important;
    }
    .indicators {
      bottom: -30px;
      .indicator-item {
        width: 17px!important;
        height: 17px!important;
      }
      .active {
        background-color: #999!important;
      }
    }
  }
  .minimal-bubble {
    position: absolute;
    border-radius: 50%;
    text-align: center;
    width: 60px;
    height: 60px;
    background-color: #FD9FB1;
  }

  .prod-panel {
    padding: 0;
    .product-panel-trigger{
      margin: 20px;
    }
    .panel-slides {
      margin-bottom: 0;
      margin-top: 10px;
      .sliderImg {
        width: 100%;
      }
      .sliderImg2 {
        width: 100%;
      }
    }
    .carousel-container {
      margin-top: -5px;
      border: 1px solid #e8e8e8;
      border-top: 0;
      height: 130px;
      .carousel-spacer {
        height: 10px;
        margin-bottom: 0;
      }
      .carousel {
        height: 150px;
        -webkit-perspective: 400px;
        -moz-perspective: 400px;
        -ms-perspective: 400px;
        perspective: 400px;
        .carousel-item {
          img {
            max-height: 135px;
          }
        }
      }
    }

    .modal {
      width: 80%;
      overflow-y: auto;
      .modal-dialog {
        width: 100%;
      }
      .modal-close{
        position: absolute;
        right:20px;
        top:20px;
        font-size: 40px;
      }
    }
    .product-details {
      color: #656565;
      h2 {
        margin-top: 5px;
        font-size: 30px;
        color: black;
      }
      .paragraph1 {
        margin-top: 12px;
      }
      p {
        font-size: 15px;
        margin-bottom: 0;
        margin-top: -5px;
      }
    }
    .product-actions {
      color: #656565;
      border-left: 1px solid #e8e8e8;
      height: 400px;
      padding: 0 20px;
      [dir="rtl"] &{
        border-left: 0;
        border-right: 1px solid #e8e8e8;
      }
      .span1 {
        font-size: 28px;
        color: #B10A42
      }
      p {
        font-size: 15px;
        margin-top: 15px;
        margin-bottom: 6px;
      }
      .size-btn {
        background-color: #fff;
        padding: 0;
        width: 15.5%;
        margin-right: 2.5%;
        color: #656565;
        box-shadow: 0 1px 3px 0 #A7A7A7;
      }
      .disabled-btn {
        background-color: #E8E8E8;
      }
      .transportation {
        i {
          font-size: 24px;
        }
        span {
          margin-left: 15px;
          font-size: 16px;
          [dir="rtl"] &{
            margin-left: 0;
            margin-right: 15px;
          }
        }
      }
      .e-commerceBtn {
        border-radius: 4px;
        padding-right: 0px;
        padding-left: 0px;
        height: 50px;
        width: 100%;
        font-size: 18px;
        text-transform: none;
      }
      .e-commerceBtn1 {
        @extend .e-commerceBtn;
        background-color: #B10A42;
        border: 0;
      }
      .e-commerceBtn2 {
        @extend .e-commerceBtn;
        background-color: white;
        border: 1px solid #B10A42;
        color: #B10A42;
        margin-top: 10px;
        font-weight: 300;
        i {
          margin-right: 5px;
          [dir="rtl"] &{
            margin-right: 0;
            margin-left: 5px;
          }
        }
      }
    }
    @media (min-width:1025px) and (max-width:1456px) {
      .product-actions {
        height: 430px!important;
        padding-right: 0!important;
        padding-left: 10px!important;
        .size-btn {
          height: 30px;
          line-height: 30px;
        }
        .transportation {
          i {
            font-size: 20px!important;
          }
          span {
            margin-left: 5px!important;
          }
        }
        .e-commerceBtn {
          width: 100%!important;
          font-size: 16px!important;
        }
        .e-commerceBtn2 {
          i {
            margin-right: 2px!important;
          }
        }
      }
    }
    @media (min-width:600px) and (max-width:1024px) {
      .product-actions {
        height: 440px !important;
        .transportation {
          i {
            font-size: 20px!important;
          }
          span {
            margin-left: 5px!important;
          }
        }
      }
    }
    @media (min-width:600px) and (max-width:718px) {
      .size-btn {
        height: 30px;
        line-height: 30px;
      }
      .e-commerceBtn {
        width: 100%!important;
        font-size: 16px!important;
      }
      .e-commerceBtn2 {
        i {
          margin-right: 2px!important;
        }
      }
    }
    @media (max-width: 599px) {
      .product-details {
        margin-top: 10px!important;
      }
      .product-actions {
        border: 0!important;
        padding-left: 10px!important;
        margin-top: 10px!important;
      }
    }
  }

}

.e-commerce-products{
    padding: 0 15px;
  .edit-product{
    font-size: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    .zmdi-edit{
      line-height: 40px;
    }
    .zmdi-more{
      line-height: 40px;
    }
  }
  #products-table_wrapper {
    table.dataTable {
      border-collapse: collapse;
    }
  }
  .product-image{
    width: 52px;
    height: 52px;
    border: 1px solid rgba(0, 0, 0, 0.12);
  }
  .quantity-div{
    display: inline-flex;
    align-self: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
    max-width: 100%;
    .quantity-indicator{
      width: 8px;
      height: 8px;
      border-radius: 4px;
      margin-right: 8px;
    }
  }
  table{
    tbody{
      tr{
        td{
          .row{
            display: flex;
            margin-bottom: 0;
          }
        }
      }
    }
  }
  table.dataTable.dtr-inline.collapsed>tbody>tr.child ul {
    display: block;
  }
  table.dataTable.dtr-inline.collapsed.dtr-inline.collapsed>tbody>tr>td:first-child,
  table.dataTable.dtr-inline.collapsed.dtr-inline.collapsed>tbody>tr>th:first-child {
    padding: 30px !important;
    &:before{
      content: '+';
      width: 15px;
      height: 15px;
      line-height: 15px;
      top: 50%;
      margin-top: -7px;
      left: 8px;
      color: rgba(0,0,0,.54);
      background: 0 0;
      border: none;
      box-shadow: 0 0 0 2px rgba(0,0,0,.54);
      font-weight: 700;
    }

  }
  .dataTables_wrapper{
    .dataTables_scrollBody{
      min-height: 600px;
    }
    .bottom{
      @media (max-width: 500px) {
        display: block;
        .right{
          display: block;
          float: none !important;
          max-width: none !important;
        }
        .left{
          display: block !important;
          float: none !important;
        }
      }
      display: flex;
      min-height: 64px;
      justify-content: space-between;

      .left{
        display: flex;
        min-height: 64px;
        justify-content: space-between;
        padding: 16px 8px;
        border-top: 1px solid rgba(0, 0, 0, 0.12);
        .length{
          display: block;
          .dataTables_length{
            label{
              color: #333;
              font-size: 0.8rem;
            }
          }
        }
      }
      .right{
        display: flex;

        flex: 0 0 50%;
        max-width: 50%;
        align-self: center;
        justify-content: flex-end;
        padding: 0px 8px;
        .info{
          .dataTables_info{
            padding-top: 0;
            padding-right: 1em;
            font-weight: 600;
            font-size: 0.8rem;
          }
          display: block;
          align-self: center;
        }
        .pagination{
          width: initial !important;
          @media(max-width: 1024px){

          }

          display: block;
          align-self: center;
          white-space: nowrap;
          .dataTables_paginate{
            padding: 0px;
            margin: 0px !important;
            border: none;
            .paginate_button{
              box-sizing: border-box;
              display: inline-block;
              min-width: 1.5em;
              padding: 0.5em 1em;
              margin-left: 2px;
              text-align: center;
              text-decoration: none !important;
              cursor: pointer;
              color: #333 !important;
              border: 1px solid rgba(0, 0, 0, 0.12);
              border-radius: 2px;
              &:hover{
                box-shadow: 999em 0px 0px 0px rgba(0, 0, 0, 0.05) inset;
                color: rgba(0, 0, 0, 0.87) !important;
                border: 1px solid rgba(0, 0, 0, 0.12) !important;
                background: transparent none repeat scroll 0px 0px;
              }
            }
          }
        }
      }
    }
  }


  .top-bg{
    position: absolute;
    z-index: 1;
    right: 0;
    left: 0;
    height: 120px;
    background-size: cover;
    background-color: #FFFFFF;
  }
  .table-layout,.edit-product-layout{
    position: relative;
    z-index: 2;
  }
  .above-prod-table{
    height: 136px !important;
    min-height: 136px !important;
    max-height: 136px !important;
    padding: 24px 0;
    .search-div{
      max-width: 480px;
      position: relative;
      @media(max-width: 425px){
        float:left !important;
      }
      i{
        display: inline-block;
        position: absolute;
        bottom: 20px;
        margin-left: -24px;
        color: #000000;
        [dir="rtl"] &{
          margin-left: 0;
          margin-right: -24px;
        }
      }
      .search-label{
        margin-left: 0;
      }

      .search-icon{
//        margin-left: 4%;
      }

      #search-product,#search-order{
        display: inline-block;
        background: transparent none repeat scroll 0px 0px;
        font-size: 16px;
        line-height: 40px;
        height: 40px;
        color: black;
//        border-bottom: 2px solid white;
        transition: border-color 0.3s ease 0s;
//        &:focus{
//          border-bottom: 2px solid #000000;
//        }
      }
      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: black;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: black;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: black;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: black;
      }
    }
    .prod-title-div{
      font-size: 2rem;
      color: #000;
      font-weight: 400;
      i{
        font-size: 1em;
      }
      .product-count,.order-count{
        font-size: 1rem;
        margin-left: 0;
      }
    }
  }
  .edit-product-layout{
    .above-prod-content{
      height: 136px !important;
      min-height: 136px !important;
      max-height: 136px !important;
      padding: 24px 0px;
      .prod-detail-div{
        color: #000000;
        display: flex;
        .back-prod-table{
          height: 40px !important;
          width: 40px !important;
          border-radius: 50%;
          align-self: center;
          padding-right: 20px;
          .zmdi-arrow-left{
            line-height: 40px;
          }
        }
        .prod-image{
          overflow: hidden;
          width: 56px;
          height: 56px;
          margin-right: 16px;
          border: 3px solid rgba(0, 0, 0, 0.12);
          align-self:center;
        }
        .prod-detail{
          align-self:center;
          display: block;
          margin-left:15%;
          h5{
            margin: 0;
            display: block;
          }
          span{
            color:#000000;
            display: block;
          }
        }
      }
    }

    .edit-product-layout-content{
      z-index:5;
    }

  }


}

#order-edit{
  display: none;
  .dataTables_scrollHeadInner{
    .dataTable{
      width: 100%!important;
    }
    width: 100%!important;
  }
  .invoice{
    margin-left: 0!important;
  }
  .tabs{
    li{
      min-width: 50px;
      &.active{
        border-bottom: 1px solid blue !important;
      }
      i{
        font-size: 24px;
      }
    }
    .indicator{
      @media #{$small-and-down} {
        width: 33%;
      }

    }
    a{
      color:black;
      text-transform: none;
    }
  }
  .order-number{
    font-size: 1rem;
  }
  #back-to-orders{
    margin-right: 20px;
  }
  #googleMap{
    width:100%!important;
  }
  #order-details{
    .subtile{
      font-size: 22px;
      i{
        margin-right: 10px;
        font-size: 26px;
        [dir="rtl"] &{
          margin-right: 0;
          margin-left: 10px;
        }
      }
    }
    .avatar{
      overflow: auto;
      img{
        width: 50px;
        height: 50px;
      }
      span{
        margin-left: 20px;
        [dir="rtl"] &{
          margin-left: 0;
          margin-right: 20px;
        }
      }
    }
    .adress{
      h5{
        font-size: 18px;
        font-weight: bold;
      }
    }
      tbody{
        tr{
          td{
            padding:10px!important;
          }
        }
      }
    #tracking-code{
      margin: 0;
      height:20px;
      @media #{$medium-and-down} {
        font-size: 9px;
      }
    }
  }
  #update-status{
    padding:20px;
    a{
      &:hover {
        background-color: #de538e;
      }
      @media #{$medium-and-down} {
        display: table;
        margin: 0 auto;
      }
    }
  }
  .selectStatus{
    li{
      span{
      color:#000000!important;
      }
    }
  }
}

#orders-table_wrapper {
  table.dataTable {
    border-collapse: collapse;
  }
  #orders-table {
    td {
      padding: 10px 10px;
    }
  }
}
#products-table{
  width: 100% !important;
}
#orders-table{
  width: 100% !important;
}
#products-table_wrapper #products-table td {
  padding: 6px 18px;
  .product-image{
    @media #{$max-640}{
      width: 22px;
      height: 22px;
    }
  }
}
.search-div{
  i{
    [dir="rtl"] &{
      margin-right: -24px;
      margin-left: 0;
    }
  }
}