.feed-page {
  .collection .collection-item.avatar {
    padding-left: 57px;
    [dir="rtl"] &{
      padding-left: 20px;
      padding-right: 72px;
    }
    @media #{$max-480} {
      min-height: 0;
    }
    .circle {
      left: 0;
      [dir="rtl"] &{
        left:auto;
        right: 0;
      }
    }
    .avatar-available {
      left: 30px;
      [dir="rtl"] &{
        left:auto;
        right:30px;
      }
    }
    .avatar-not-available{
      left: 30px;
      [dir="rtl"] &{
        left:auto;
        right:30px;
      }
    }
  }

  .card-panel {
    background-color: #ebebeb;
  }
  .card-default{
    border: none!important;
  }

  .feed-card{
    .card-header{
      background-color:#EB7B2D;
      padding: 10px 20px;
    }
  }
  .new-feed-action{
    textarea{
      padding: 20px;
    }
    .upload-files{
      margin-right: 20px;
      margin-left: 20px;
    }
  }
  .feed-input{
    padding: 30px 20px;
    .feed-reply-action{
      background-color: #f5f5f5 !important;
      border: 1px solid #ededed;
    }
  }
  .pad-5{
    padding: 5px;
  }
  .no-pad-bot{
    padding-bottom: 0;
  }

}

.lb-dataContainer{
  position: absolute;
  top: -36px;
  left: 0;
  RIGHT: -65PX;
  @media(max-width:1130px ){
      top: -40px;
      RIGHT: -14PX;
    }
}

