.elements{
  //=========================
  // Form Placeholder
  //=========================

  textarea, input::-webkit-input-placeholder {
    padding-left: 10px;
    [dir="rtl"] &{
      padding-right: 10px;
    }
  }

  textarea, input:-moz-placeholder { /* Firefox 18- */
    padding-left: 10px;
    [dir="rtl"] &{
      padding-right: 10px;
    }
  }

  textarea, input::-moz-placeholder {  /* Firefox 19+ */
    padding-left: 10px;
    [dir="rtl"] &{
      padding-right: 10px;
    }
  }

  textarea, input:-ms-input-placeholder {
    padding-left: 10px;
    [dir="rtl"] &{
      padding-right: 10px;
    }
  }


  //=========================
  // Form Inputs
  //=========================

  input:not([type]),
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=url],
  input[type=time],
  input[type=date],
  input[type=datetime],
  input[type=datetime-local],
  input[type=tel],
  input[type=number],
  input[type=search],
  textarea.materialize-textarea {

    // General Styles
    background-color: transparent;
    border: none;
    border-bottom: $input-border;
    border-radius: 0;
    outline: none;
    height: $input-height;
//    width: 100%;
    font-size: $input-font-size;
    padding: $input-padding;
    box-shadow: none;
    box-sizing: content-box;
    transition: $input-transition;

    // Disabled input style
    &:disabled,
    &[readonly="readonly"] {
      color: $input-disabled-color;
      //    border-bottom: $input-disabled-border;
    }

    // Disabled label style
    &:disabled+label,
    &[readonly="readonly"]+label {
      color: $input-disabled-color;
    }

    // Focused input style
    &:focus:not([readonly]) {
          border-bottom: 1px solid $input-focus-color;
          box-shadow: 0 1px 0 0 $input-focus-color;
    }

    // Focused label style
    &:focus:not([readonly])+label {
      color: $input-focus-color;
    }

    // Valid Input Style
    &.valid{
      box-shadow:none;
      border-bottom: 1px solid green;
    }
    &:focus:not([readonly]), &:focus:not([readonly]),&:focus.valid{
      &.valid{
        border-bottom: 1px solid green;
        box-shadow: 0 1px 0 0 green;
      }
    }

    // Invalid Input Style
    &.invalid{
      box-shadow:none;
      border-bottom: 1px solid red;
    }
  //  &:focus.invalid {
  //    border-bottom: $input-invalid-border;
  //    box-shadow: 0 1px 0 0 $input-error-color;
  //  }
    &:focus:not([readonly]), &:focus:not([readonly]),&:focus.valid{
      &.invalid{
        border-bottom: 1px solid red;
        box-shadow: 0 1px 0 0 red;
      }
    }

    // Custom Error message
    &.invalid + label:after,
    &:focus.invalid + label:after {
      content: attr(data-error);
      color: $input-error-color;
      opacity: 1;
    }

    // Full width label when using validate for error messages
    &.validate + label {
      width: 100%;
      pointer-events: none;
    }

    // Form Message Shared Styles
    & + label:after {
      display: block;
      content: "";
      position: absolute;
      top: 65px;
      opacity: 0;
      transition: .2s opacity ease-out, .2s color ease-out;
    }
  }

  #elements1{
    height: 500px;
    min-width:300px;
    @media#{$max-480} {
      min-width: 0;
    }
    .help-text-input{
      input{
        margin-bottom: 5px !important;
      }
      span{
        margin-bottom: 15px;
        display: block;
        font-size: 12px;
      }
    }
    input[type=password]{
      border-bottom: 2px solid $input-border-color;
      // Focused input style
      &:focus:not([readonly]) {
        border-bottom: 2px solid $input-focus-color;
        box-shadow: none;
      }
    }
  }
  #elements2{
    height: 500px;
    min-width:300px;
    @media#{$max-480} {
      min-width: 0;
    }
    i{
      &.active{
        color:#b02e67;
      }
      color:grey;
    }
    .textarea-label {
//      margin-left: 45px;
    }
    .icons-margin {
      margin-top: 5px;
    }
  }
  #elements3{

    //=========================
    // CUSTOM CSS CHECKBOXES
    //=========================

    [type="checkbox"].filled-in {
      &:not(:checked) + label:after {
        border: 1px solid #777777;
      }
      // Checked style
      &:checked {
        + label:after {
          border: 1px solid #777777;
          background-color: #777777;
        }
      }
    }
    [type="checkbox"].rounded.filled-in {
      &:not(:checked) + label:after {
        border: 1px solid #777777;
      }
      // Checked style
      &:checked {
        + label:after {
          border: 1px solid #777777;
          background-color: #777777;
          border-radius: 50%;
        }
      }
    }
    .checkboxes{
      [type="radio"]:not(:checked)+label, [type="radio"]:checked+label{
        display: block;
      }
    }
    [type="checkbox"].rounded.filled-in:not(:checked)+label:after {
      background-color: transparent;
      border: 1px solid #5a5a5a;
      top: 0px;
      z-index: 0;
      border-radius: 50%;
    }
    [type="checkbox"]{
      + label {
        //    display: table-cell;
      }
    }
    [type="radio"]:not(:checked) + label:before,
    [type="radio"]:not(:checked) + label:after {
      border: 1px solid #5a5a5a;
    }
    [type="radio"]:checked + label:after,
    [type="radio"].with-gap:checked + label:after {
      background-color: #5a5a5a;
    }
    [type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
      border: 1px solid #5a5a5a;
    }

    [type="radio"].with-gap:disabled:checked + label:before {
      border: 1px solid $input-disabled-color;
    }

    [type="radio"].with-gap:disabled:checked + label:after {
      border: none;
      background-color: $input-disabled-color;
    }
    [type="radio"] + label:before,
    [type="radio"] + label:after {
      width: 20px;
      height: 20px;
    }
    input[type=text].picker__input{
      height: 2rem;
    }

    [type="checkbox"].filled-in.checkbox-info {
      &:not(:checked) + label:after {
        border: 1px solid #b02e67;
      }
      // Checked style
      &:checked {
        + label:after {
          border: 1px solid #b02e67;
          background-color: #b02e67;
        }
      }
    }
    [type="checkbox"].checkbox-info.filled-in {
      &:not(:checked) + label:after {
        border: 1px solid #b02e67;
      }
      // Checked style
      &:checked {
        + label:after {
          border: 1px solid #b02e67;
          background-color: #b02e67;
        }
      }
    }
    pre{
      max-height: 466px;
    }
    h5{
      padding-top: 0;
      padding-left: 12px;
    }
    .input-padding{
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  pre{
    max-height: 416px;
  }
}

.extra-elements{
  #elements4 {
    height: 570px;
    min-width:300px;
    padding: 20px;
    @media#{$max-480} {
      min-width: 0;
    }
    //==============================
    // Range Slider
    //==============================
    #range {
      height: 250px;
      margin: 20px auto 0 auto;
    }
    #value-span,
    #value-input {
      float: left;
      display: block;
      text-align: center;
      margin: 0;
    }
    #range-horizontal{
      width: 250px;
      margin: 20px 0;
      @media#{$max-480} {
        width: 180px;
      }
    }
    #range-vertical{
      height: 250px;
      margin: 20px 0;
    }
  }
  #elements5{
    height: 700px;
    min-width:300px;
    padding: 20px;
    @media#{$max-480} {
      min-width: 0;
    }
    //==============================
    // Tags
    //==============================

    .tagit-choice{
      display: inline-block;
      height: 32px;
      font-size: 13px;
      font-weight: 500;
      color: rgba(0,0,0,0.6);
      line-height: 32px;
      padding: 0 12px;
      border-radius: 16px;
      background-color: #e4e4e4;
    }
    #myTags{
      max-height: 100px;
      li{
        .text-icon{
          display: inline;
          font-size: 20px;
          color: rgba(0,0,0,0.6);
          margin-right: 10px;
        }
        &.tagit-new{
          width:100%;
        };
        &.tagit-choice-editable{
          padding: .2em 27px .2em .5em;
        }
        .ui-autocomplete-input{
          border-bottom:1px solid #9e9e9e;
          &:active,&:focus{
            border-bottom:1px solid green;
          }
        }
        .tagit-label{
          vertical-align: -webkit-baseline-middle;
        }
      }
    }

    .input-margin {
      margin-left: 5px;
      @media #{$max-480}{
        margin-left: 0;
        margin-bottom: 10px;
      }
    }
    .input-margin2 {
      margin-left: 15px;
    }
    a.chosen-single {
      margin-left: 15px;
    }

    //==============================
    // Rating
    //==============================
    #rating{
      margin-bottom: 10px;
    }

    //==============================
    // Select with search
    //==============================
    .chosen-container{
      &.chosen-container-single{
        width: 100%!important;
        .chosen-single{
          background: none;
          height: 3rem;
          border: none;
          border-bottom: 1px solid grey;
          box-shadow: none;
          border-radius: 0;
          span{
            line-height: 3rem;
            font-size: 1rem;
          }
          div{
            b{
              background-position: 0 16px;
            }
          }
        }
        .chosen-search{
          width: 91%;
          input[type=text]{
            border: inherit;
            font-size: 16px;
            line-height: 22px;
            padding: 14px 16px;
            color: #b02e67;
            background-image: none!important;
          }
        }
        .chosen-drop{
          margin-top: -45px;
          border: none;
          box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
          .chosen-results{
            li{
              &.active-result{
                clear: both;
                color: #b02e67;
                cursor: pointer;
                min-height: 50px;
                width: 100%;
                text-align: left;
                text-transform: none;
                font-size: 16px;
                line-height: 22px;
                padding: 14px 16px;
              }
              &.highlighted{
                background-color: #e1e1e1;
                background-image: none;
              }
            }
          }
        }
      }
    }
    .chosen-container{
      .chosen-drop{
        [dir="rtl"] &{
          left:auto;
          right:-9999px;
        }
      }
    }
    .chosen-container.chosen-with-drop{
      .chosen-drop{
        [dir="rtl"] &{
          left:auto;
          right: 0;
        }
      }
    }
  }
  .btn:nth-child(2n+1){
    background-color:rgb(54, 122, 189);
  }
  .btn:nth-child(2n){
    background-color:rgb(136, 197, 66);
  }
  pre{
    max-height: 486px;
  }
}

.wysiwyg{
  #elements6{
    overflow: auto;
    display: inline-block;
    padding-bottom: 20px;
    #editor-inline{
      padding-left: 10px;
      border: 1px solid;
      border-color: #d5d5d5;
    }
    h5 {
      margin-bottom: 41px;
      margin-top: 0;
      &:first-of-type {
        margin-top: 25px;
        margin-bottom: 25px;
      }
    }
  }
  #elements7{
    overflow: auto;
    display: inline-block;
    padding-bottom: 20px;
    .editabletext{
      border: 1px solid grey;
      padding: 10px;
    }
    h5 {
      margin: 25px 0;
    }
  }
  pre{
    max-height: 385px;
  }
}
.timeline{
  .event{
    textarea{
      padding-left: 10px;
      border:none;
    }
  }
}
