
.icons-container{
  width: 100%;
  .grey.lighten-3{
    background-color: #f7f7f7 !important;
  }


.icon-container{
  span{
    display: block;
  }
  i{
    font-size: 3em;
    margin-bottom: 10px;
  }
  .icon-preview{
    height: 120px;
    text-align: center;
    span{
      word-break: break-word;
    }
  }
}

.page-header{
  padding: 30px 0px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.icon{
  a{
    display: block;
    color: rgba(0, 0, 0, 0.87);
    padding: 8px;
    line-height: 32px;
    transition: all 0.3s ease 0s;
    border-radius: 2px;
    &:hover{
      background-color:#ad1457;
      -moz-box-shadow: 1px 1px 2px grey;
      box-shadow: 1px 1px 2px grey;
      color: #ffffff;
    }
  }
}

.table-of-contents{
  a.active{
    padding-left: 18px;
    background-color: transparent;
    font-weight: 600;
    color: #ad1457;
    border-left: 2px solid #ad1457;
  }
  a:hover{
    padding-left: 19px;
    background-color: transparent;
    font-weight: 500;
    color: #ad1457 ;
    border-left: 1px solid #ad1457;
  }
}
.back-to-top{
  color: #757575;
}
.bs-docs-sidebar{
  margin-top: 0;
  padding-top: 50px;
    li{
      a{
        display: block;
        padding: 4px 20px;
        font-size: 13px;
        font-weight: 500;
        color: rgba(0,0,0,.54);

      }
    }
  }
}

#iconModal{
  width: 600px;
  overflow-y: initial;
  @media(max-width: 600px){
    width: 340px;
  }
  .modal-header{
    .close{
      background: 0 0;
      position: absolute;
      top: 10px;
      right: 10px;
      margin: 0;
      padding: 0;
      height: 56px;
      width: 56px;
      min-width: 56px;
      font-size: 24px;
      line-height: 56px;
      opacity: 0.4;
      &:hover{
        background: transparent;
        box-shadow: none;
        opacity: 1;
      }
    }
  }

  .modal-body{
    .source:before{
      content: none;
    }
  }
  .modal-dialog{
    width: 600px;
    @media(max-width: 600px){
      width: 331px;
    }
  }
}