
.invoice{
  font-family: "Open Sans";

  .pad-10 {
    padding-left: 10%;
    [dir="rtl"] &{
      padding-left: 0;
      padding-right: 10%;
    }
  }
  .margin-m-l{
    @media #{$medium-and-up} {
      margin: 0!important;
    }
  }
  .bold{
    font-weight: bold!important;
  }
  h1{
    font-size: 30px;
    margin-top: 10px;
  }
  img{
    padding-top: 7px
  }
  .details{
    font-size: 15px;
    line-height: initial;
    .name{
      font-size: 15px;
      &.bold{
        font-weight: bold;
      }
    }
  }
  table{
    width:80%;
    margin: 50px auto 20px;
    tr{
      border-bottom: 2px solid white;
      td,th{
        font-size: 17px;
        font-weight: normal;
        &:first-child{
          width: 60%;
        }
        &.left-bordered{
          @media #{$large-and-up} {
            border-left: 1px solid grey ;
            [dir="rtl"] &{
              border-left: 0;
              border-right: 1px solid grey ;
            }
          }
        }
      }
    }
  }
  .invoice-subtotal {
    width: 80%;
    margin: 30px auto;
  }
}