.full_width{
  background-color: #222222;
  height: 100%;
  width: 100%;
  &.angular-v {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
  }
}

.lock-container {
  background-color: #222222;
  font-family: Roboto;
  font-weight: 300;
  width: 30%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  p {
    font-family: Roboto;
    font-size: 28px;
  }
  @media (max-width: 1440px){
    width: 35%;
  }
  @media #{$max-1280} {
    width: 46%;
  }
  @media #{$max-768} {
    width: 59%;
  }
  @media(max-width: 600px) {
    width: 78%;
    p{
      text-align: center;
    }
    .inputDiv{
      padding: 0 25px;
    }
  }
  @media#{$max-480} {
    width: 98%;
    p {
      font-size: 20px;
    }
  }
  .inputDiv{
    width: 100%;
    padding: 0 10px;
  }

}


