.mTitle{
  padding-bottom: 1%;
  margin-top: 0;
}
.signin-container, .signup-container {
  &.angular-v {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000000;
    z-index: 999;
    display: table;
  }
}
.signUpContainer{
  border-radius: 10px;
  margin:0 auto;
  padding: 1%;
  @media #{$max-1920} {
    width: 30%;
  }
  @media #{$max-1680} {
    width: 30%;
  }
  @media #{$max-1380} {
    width: 40%;
  }
  @media #{$max-1024} {
    width: 40%;
  }
  @media #{$max-768} {
    width: 50%;
  }
  @media #{$max-640} {
    width: 60%;
  }
  @media #{$max-480} {
    width: 70%;
  }
}
.signUpContent{
  margin: 15px;
}
.signInButton{
  width: 65%
}
input[type=password] {
  border-bottom-width: 1px;
}

.signin-page {
  display: table-row;
  min-height: 100%;
}

.signin-content {
  display: table-cell;
  vertical-align: middle;
}
body.black{
  display: table;
}