html, body {
  min-height: 100% !important;
  height: 100%;
}
.magazine{
//  margin:0 30px;
  font-family: "Open Sans";
  h1{
    font-size: 30px;
    margin: 10px 0 20px;
    font-weight: 500;
  }
  h2{
    font-size: 20px;
    margin: 15px 0 0;
  }
  .post{
    overflow: auto;
    display: table;
    .post-image{
      background-position: center;
    }
    .post-image,.post-info{
      @media #{$medium-and-up} {
        float:none;
        display: table-cell;
        [dir="rtl"] &{
          float:none ;
        }
      }
    }
    .img-container{
      @media #{$medium-and-up} {
        float:none;
        display: table-cell;
        height: 0;
        .post-image{
          display: block;
          height: 100%;
        }
      }
      [dir="rtl"] &{
        float:none;
      }
    }
    .post-info{
      position: relative;
      padding-bottom: 25px;
      vertical-align: top;
      .activity{
        font-size: 12px;
        font-weight: 500;
        margin-top: 3px;
        a{
          margin-right:5px;
        }
      }
      p{
        margin-bottom: 5px;
        line-height: 25px;
      }
      .post-date{
        margin: 0;
        font-size: 13px;
        position: absolute;
        bottom: 5px;
      }
    }
  }
  .grid-list{
    .post{
      min-height: 230px;
      .post-info{
        min-height: 230px;
        padding-left: 30px;
        padding-right: 30px;
      }
      .post-image{
        min-height: 230px;
        background-size: cover;
      }
    }
  }
  .one-col-list{
    .post{
      min-height: 260px;
      .post-info{
        min-height: 240px;
        padding:4px 10px 0;
        vertical-align: top;
        @media #{$small-and-down} {
          min-height: 200px;
          padding: 0 20px 40px;
        }
        p{
          line-height: 22px;
          max-height: 110px;
          overflow: hidden;
        }
        .post-date{
          bottom: 20px;
        }
      }
      .img-container{
        padding: 25px 20px;
        @media #{$small-and-down} {
          padding: 0;
        }
        .post-image{
          min-height: 210px;
          background-size: cover;
        }
      }
    }
  }
  .two-col-list{
    .post{
      padding:0;
      @media #{$medium-and-up} {
        &:nth-child(2n){
          padding-left: 15px;
          [dir="rtl"] &{
            padding-left: 0;
            padding-right: 15px;
          }
        }
        &:nth-child(2n+1){
          clear: both;
        }
      }
      .post-info{
        @media #{$small-and-down} {
          padding: 0 15px 20px!important;
        }
        min-height: 170px;
        padding-bottom: 20px;
        margin-bottom: 40px;
        float:none;
        display: table-cell;
        vertical-align: top;
        .post-date{
          bottom: 0;
        }
      }
      .post-image{
        min-height: 290px;
        background-size: cover;
      }
    }
    .small-post{
      padding:15px 0;
      border-bottom: none;
      .post-info{
        min-height: 115px;
        padding: 0 15px;
        margin-bottom: 10px;
        h1{
          line-height: 25px;
          padding-bottom: 17px;
        }
      }
      .img-container{
        padding: 0;
        float:none;
        display: table-cell;
        height: 0;
        @media #{$medium-and-up} {
          padding: 0 15px;
        }
        .post-image{
          min-height: 118px;
          background-size: cover;
          display: block;
          height: 100%;
        }
      }
    }
  }
  .widgets-tabs{
    @extend .two-col-list;
    .small-post{
      list-style-type: none;
      padding-left: 0!important;
      min-height: 170px;
      .post-info{
        @media #{$medium-and-up} {
          padding-right: 20px;
          padding-left: 15px;
        }
      }
    }
    .tabs{
      .indicator{
        display: none!important;
      }
      .tab{
        a{
          color:grey;
          padding-top: 1px;
        }
        .active{
          border-top:1px solid black;
          padding-top: 0;
        }
      }
    }
  }

  .review{
    @extend .widgets-tabs;
    .stars{
      font-size: 22px;
    }
    .activity{
      position: absolute;
      bottom:-5px;
      left: 20px;
      right: 0;
      @media #{$small-and-down} {
        margin-left: 10px;
        left:10px;
      }
    }
    .img-container-big{
      min-height: 340px;
      background-size: cover;
      position: relative;
      margin-bottom: 65px;
      .post-info{
        padding: 10px 20px;
        position: absolute;
        bottom: 0;
        &.grad {
          background: #000000; /* For browsers that do not support gradients */
          background: -webkit-linear-gradient(bottom,rgba(0,0,0,0.7),rgba(255,255,255,0)); /* For Safari 5.1 to 6.0 */
          background: -o-linear-gradient(bottom,rgba(0,0,0,0.7),rgba(255,255,255,0)); /* For Opera 11.1 to 12.0 */
          background: -moz-linear-gradient(bottom,rgba(0,0,0,0.7),rgba(255,255,255,0)); /* For Firefox 3.6 to 15 */
          background: linear-gradient(bottom,rgba(0,0,0,0.7),rgba(255,255,255,0)); /* Standard syntax */
        }
        h1{
          display: inline-block;
        }
        .post-date{
          margin-left: 10px;
          position: initial;
          display: inline-block;
        }
      }
      .rating{
        width:150px;
        height: 90px;
        background-color: rgba(0,0,0,0.7);
        position: absolute;
        right: 35px;
        bottom: -40px;
        @media (max-width: 1400px){
//          right: 0;
//          left: 0;
//          margin: 0 auto;
//          bottom: -67px;
        }
        a{
          font-size: 12px;
          margin-left: 10px;
        }
        [dir="rtl"] &{
          right: auto;
          left:35px;
        }
      }
    }
    .img-container{
      @media #{$small-and-down} {
        padding: 0 15px;
      }
    }
  }

  .nr1{
    background-image: url("../assets/images/magazine/post1.jpeg");
  }
  .nr2{
    background-image: url("../assets/images/magazine/post2.jpeg");
  }
  .nr3{
    background-image: url("../assets/images/magazine/post3.jpg");
  }
  .nr4{
    background-image: url("../assets/images/magazine/post4.jpeg");
  }
  .nr5{
    background-image: url("../assets/images/magazine/post5.jpg");
  }
  .nr6{
    background-image: url("../assets/images/magazine/post6.jpg");
  }
  .nr7{
    background-image: url("../assets/images/magazine/post7.jpg");
  }
  .nr8{
    background-image: url("../assets/images/magazine/post8.jpeg");
  }
  .nr9{
    background-image: url("../assets/images/magazine/post9.jpg");
  }
  .nr10{
    background-image: url("../assets/images/magazine/post10.jpg");
  }
  .nr11{
    background-image: url("../assets/images/magazine/post11.jpg");
  }
  .nr12{
    background-image: url("../assets/images/magazine/post12.jpg");
  }
  .nr13{
    background-image: url("../assets/images/magazine/post13.jpeg");
  }
  @media#{$max-480} {
    h1 {
      font-size: 20px;
    }
  }
}

.no-padding-left{
  padding-left: 0!important;
}