.header-mailbox{
  margin-bottom: 20px;
  .text-mailbox{
    padding: 20px 30px;
    font-size: 21px;
    @media#{$max-480}{
      text-align: center;
    }
  }
}
.modal .modal-footer .btn{
  margin: 20px 0;
}

.part1{
  line-height: 70px;
  margin-top: -20px;
  border-left: 1px solid #DCD7D7;
  border-right: 1px solid #DCD7D7;
  border-top: 1px solid #DCD7D7;
  .part1_1{
    text-align: center;
    border-bottom: 1px solid #DCD7D7;
    @media#{$max-640}{
      font-size: 10px;
    }
    @media#{$max-480}{
      font-size: 12px;
      text-align: center;
      .inbox-badge {
        padding: 5px 8px;
      }
    }
  }
  .part1_2{
    border-bottom: 1px solid #DCD7D7;
    border-right: 1px solid #DCD7D7;
//    border-left: 1px solid #DCD7D7;
    @media#{$max-480}{
      text-align: center;
    }
  }
  .inbox-badge{
    font-weight: 600;
    padding: 9px 12px;
    font-size: 12px;
    display: inline-block;
    min-width: 10px;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 99px;
    &.inbox-badge-green{
      background-color: #43a047;
    }
  }
  .color-custom{
    background-color:rgb(54, 122, 189);  }
}

.part2{
  line-height: 70px;
  margin-top: -20px;
  border-left: 1px solid #DCD7D7;
//  border-right: 1px solid #DCD7D7;
  .part2_1{
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #DCD7D7;
    border-right: 1px solid #DCD7D7;
  }
  .part2_2{
    padding-bottom: 42px;
    padding-top: 20px;
    border-bottom: 1px solid #DCD7D7;
    border-right: 1px solid #DCD7D7;
//    border-left: 1px solid #DCD7D7;
    @media#{$max-1680}{
      padding-bottom: 42px;
    }
    @media#{$max-1380}{
      padding-bottom: 40px;
    }
    @media#{$max-1280}{
      padding-bottom: 43px;
    }
  }
  .part2_1_1{
    ul{
      line-height: 0;
      margin: 0;
      padding: 0;
    }
    .fixed-mailbox-tab{
      padding: 15px 20px 15px 29px;
    }
    ul li {
      padding: 10px 10px;
      border-right: 1px solid #DCD7D7;
      text-align: center;
      &:first-child {
        [dir="rtl"] &{
          border:0;
        }
      }
      &:last-child {
        border: 0;
        [dir="rtl"] &{
          border-right: 1px solid #DCD7D7;
        }
      }
    }
    .waves-effect.waves-pink .waves-ripple {
      background-color: rgba(222, 83, 142, 0.65);
    }
  }
  .mailbox-custom-search{
    margin: 0;
    width: 100%;
    border-top: 1px solid #DCD7D7;
    .navbar-custom-search{
      margin-left: 50px;
      margin-right: 30px;
      @media#{$max-768}{
        margin-left: 10px;
        margin-right: 0;
      }
    }
    .navbar-custom-search input[type=search] {
      border-radius: 0;
      &::-webkit-input-placeholder {
        color:#000;
      }

      &:-moz-placeholder { /* Firefox 18- */
        color:#000;
      }

      &::-moz-placeholder {  /* Firefox 19+ */
        color:#000;
      }

      &:-ms-input-placeholder {
        color:#000;
      }
    }
    .navbar-custom-search i{
      top: 8px;
      right: 20px;
      [dir="rtl"] &{
        right:auto;
        left:20px;
      }
    }
  }

}

.allMails {
  margin-top: -20px;
  border-left: 1px solid #DCD7D7;
  .collection{
    border: 0;
    margin: 0;
    .collection-item{
      width: 100%;
    }
    .collection-item.avatar{
      padding-top: 21px;
      @media#{$max-1280}{
        padding-left: 70px;
      }
      @media#{$max-768}{
        padding-left: 55px;
      }
      @media#{$max-640}{
          font-size: 12px;
         .title{
          font-size: 12px;
        }
         p {
          font-size: 12px;
        }
        min-width: 166px;
      }
    }
  }
  .mailsParts{
    padding: 0;
    @media #{$max-640}{
          border: 1px solid #e0e0e0;
    }
    .top-custom{
      margin-bottom: 26px;
    }
    .valign-wrapper{
      margin-top: 10px;
      margin-bottom: 10px;
      padding-left: 45px;
    }
    .section{
      padding: 0;
      border-bottom: 1px solid #DCD7D7;
      width: 100%;
    }
    .divider {
      height: 0;
      overflow: hidden;
    }
    .change-font{
      font-size: 11.6px;
    }
    .no-pad-left{
      padding-left: 0;
    }
    .secondary-content{
      color: rgba(0,0,0,0.87);
    }
  }
}
.user_first_3_2.messageBox{
  border-bottom: 1px solid #DCD7D7;
  border-right: 1px solid #DCD7D7;
  border-left: 1px solid #DCD7D7;
  padding: 0;
}
.user_second_3_2.messageBox{
  padding: 0;
  border-right: 1px solid #DCD7D7;
  border-left: 1px solid #DCD7D7;

}
.second_3_2.messageBox{
  padding: 0;
  border-right: 1px solid #DCD7D7;
  border-left: 1px solid #DCD7D7;
}
.tabInbox_3_1.mailsParts {
//  border-right: 1px solid #DCD7D7;
}
.first_3_2.messageBox{
  border-right: 1px solid #DCD7D7;
  border-left: 1px solid #DCD7D7;
  padding: 0;
  @media #{$max-480}{
    border-top: 2px dashed #DCD7D7;
  }
  .collection{
//    margin-left: -11px;
    .collection-item.avatar{
//      padding-left: 60px;
    }
  }

  .valign-wrapper{
    display: list-item;
    list-style-type: none;
  }
  .part3_2_1{
    margin-right: -25px;
  }
  .card-panel{
    /*padding: 10px 20px 10px 10px;
    margin: 2px;*/
  }
  .divider{
    height: 0px;
  }
}
.user-message {
  background-color: #88C542;
}
.reply-text{
  padding: 0 20px 0 20px;
  textarea{
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: 6rem;
    display: block;
  }
  .send-reply{
//    margin-top: -5px;
    margin-bottom: 20px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    .color-custom{
      background-color: #de538e;
      margin-top: 3px;
      margin-right: 15px;
      [dir="rtl"] &{
        margin-right: auto;
        margin-left: 15px;
      }
    }
    i:nth-child(1){
      padding: 10px 15px 10px 15px;
      border-right: 1px solid #DCD7D7;
      [dir="rtl"] &{
        border-right:none;
        border-left: 1px solid #DCD7D7;
      }
    }
  }
}

.pulse {
  display: block;
  border-radius: 50%;
  background: #cca92c;
  cursor: pointer;
  box-shadow: 0 0 0 rgba(67, 160, 71, 0.4);
  -moz-box-shadow: 0 0 0 0 rgba(67, 160, 71, 0.4);
  animation: pulse2 2s infinite;

}
.pulse:hover {
  animation: none;
}
@-moz-keyframes pulse2 {
  0% {
    box-shadow: 0 0 0 0 rgba(67, 160, 71, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(67, 160, 71, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(67, 160, 71, 0);
  }
}
@-webkit-keyframes pulse2 {
  0% {

    -webkit-box-shadow: 0 0 0 0 rgba(67, 160, 71, 0.4);
  }
  70% {

    -webkit-box-shadow: 0 0 0 10px rgba(67, 160, 71, 0);
  }
  100% {

    -webkit-box-shadow: 0 0 0 0 rgba(67, 160, 71, 0);
  }
}
@keyframes pulse2 {
  0% {

    box-shadow: 0 0 0 0 rgba(67, 160, 71, 0.4);
  }
  70% {

    box-shadow: 0 0 0 10px rgba(67, 160, 71, 0);
  }
  100% {

    box-shadow: 0 0 0 0 rgba(67, 160, 71, 0);
  }
}
.unread{
  background-color: rgba(0, 0, 0, 0.05) !important;
}

.content-compose{
  border: 1px solid #DCD7D7;
  border-radius: 5px;
  .mailbox-custom-search-modal-compose{
    margin: 10px 0 0 0 ;
    width: 100%;
    //border-right: 1px solid #DCD7D7;
    .navbar-custom-search{
      margin-left: 50px;
      margin-right: 30px;
      .input-field{
        margin-left: 8px;
        text-align: center;
        [dir="rtl"] &{
          margin-left: 0;
          margin-right: 8px;
        }
      }
      @media#{$max-1380}{
        margin-left: 10px;
        margin-right: 5px;
      }
    }
    .navbar-custom-search input[type=text] {
      height: 2rem;
      border-radius: 7px;
      padding-left: 12px;
      background-color: #DCD7D7;
      width: 95%;
      [dir="rtl"] &{
        padding-left: 0;
        padding-right: 12px;
      }
    }
    .navbar-custom-search input[type=text]:focus {
      box-shadow: 0 1px 0 0 rgba(67,160,71,0);
    }
    .navbar-custom-search i{
      top: 3px;
      right: 40px;
      [dir="rtl"] &{
        left: 40px;
        right: auto;
      }
    }
  }

  .modal-participants{
    margin-left: 70px;
  }
  .compose-content{
    margin-left: 50px;
    margin-right: 50px;

    @media #{$max-480}{
      margin-left: 0;
      margin-right: 0;
    }

    .collection .collection-item.avatar{
      width: 100%;
    }
    .valign-wrapper{
      margin-bottom: 0;
      display: block;
    }
    .section{
      padding: 0;
    }
    .divider {
      height: 0;
      overflow: hidden;
    }
    .change-font{
      font-size: 11.6px;
    }
    .no-pad-left{
      padding-left: 0;
    }
    .part3_2_1{
      margin: 0;
      padding: 10px 20px;
    }
    .collection .collection-item.avatar{
      .card-panel{
        border-radius: 19px;
        margin: 0 0 0 -20px;
      }
      .message{
        font-size: 13.6px;
      }
    }
    textarea {
      height: 5rem;
      width: 100%;
    }
    .reply-text{
      padding: 0;
      .send-reply{
        width: 100%;
      }
    }
  }

  .autocomplete-content {
    position: absolute;
    background: rgb(234, 234, 234);
    margin-top: -.9rem;
    border-radius: 5px;
    z-index: 3;
  }

  .autocomplete-content li {
    clear: both;
    color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
    line-height: 0;
    width: 100%;
    text-align: left;
    text-transform: none;
    padding: 10px;
  }

  .autocomplete-content li > span {
    color: #DE538E;
    font-size: .9rem;
    padding: 0.7rem;
    display: block;
  }

  .autocomplete-content li > span .highlight {
    color: #000000;
  }

  .autocomplete-content li img {
    height: 52px;
    width: 52px;
    padding: 5px;
    margin: 0 15px;
  }

  .autocomplete-content li:hover {
    background: #D0D0D0;
    cursor: pointer;
  }

  .autocomplete-content > li:hover {
    background: #D0D0D0;
  }
}

.device-preview{
  .active-device{
    color: rgba(255, 255, 255, 0.57);
  }
}

.active-item{
  &.collection-item{
    background-color: #b02e67;
    p, span, small{
      color:white;
    }
  }
}
