@charset "UTF-8";

// Mixins
// @import "components/prefixer";
@import "components/mixins";
@import "components/color";

// Variables;
@import "components/variables";

// Reset
@import "components/normalize";

// Fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

//======================
// Media Query Variable
//======================

$max-1920 : '(max-width:1920px)';
$max-1680 : '(max-width:1680px)';
$max-1380 : '(max-width:1380px)';
$max-1280 : '(max-width:1280px)';
$max-1024 : '(max-width:1024px)';
$max-992 : '(max-width:992px)';
$max-768 : '(max-width:768px)';
$max-640 : '(max-width:640px)';
$max-480 : '(max-width:480px)';
$max-320 : '(max-width:320px)';

// components
@import "components/global";
@import "components/icons-material-design";
@import "components/grid";
@import "components/navbar";
@import "components/roboto";
@import "components/typography";
@import "components/cards";
@import "components/toast";
@import "components/tabs";
@import "components/tooltip";
@import "components/buttons";
@import "components/dropdown";
@import "components/waves";
@import "components/modal";
@import "components/collapsible";
@import "components/chips";
@import "components/materialbox";
@import "components/forms/forms";
@import "components/table_of_contents";
@import "components/sideNav";
@import "components/preloader";
@import "components/slider";
@import "components/carousel";
@import "components/date_picker/default";
@import "components/date_picker/default.date";
@import "components/date_picker/default.time";

@import "header";
@import "sidebar";
@import "typography";
@import "forms";
@import "content";
@import "navbar";
@import "widgets";
@import "footers";
@import "tables";
@import "image-hover";
@import "timeline";
@import "cards";
@import "login-signup";
@import "blog";
@import "mail";
@import "pricing";
@import "404";
@import "e-commerce";
@import "magazine";
@import "lock-screen";
@import "icons";
@import "index";
@import "discounts";
@import "documentation";
@import "feed";
@import "invoice";
@import "layouts";
@import "colors";
@import "style";
@import "buttons";
@import "breadcrumbs";
@import "dashboards";

@font-face {
  font-family: BaronFont;
  src: url('../assets/fonts/Baron/BaronNeueBold.svg') format('svg'),
  url('../assets/fonts/Baron/BaronNeueBold.eot') format('embedded-opentype'),
  url('../assets/fonts/Baron/BaronNeueBold.ttf') format('truetype'),
  url('../assets/fonts/Baron/BaronNeueBold.woff') format('woff'),
  url('../assets/fonts/Baron/BaronNeueBold.otf') format('opentype');
  font-size: 45px;
}

@font-face {
  font-family: Shabnam;
  src: url('../assets/fonts/shabnam/Shabnam.eot') format('embedded-opentype'),
  url('../assets/fonts/shabnam/Shabnam.ttf') format('truetype'),
  url('../assets/fonts/shabnam/Shabnam.woff') format('woff'),
  url('../assets/fonts/shabnam/Shabnam-Bold.eot') format('embedded-opentype'),
  url('../assets/fonts/shabnam/Shabnam-Bold.ttf') format('truetype'),
  url('../assets/fonts/shabnam/Shabnam-Bold.woff') format('woff');
}

.page-loader-container {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 1000;
  top: 0;
  left: 0;
  $c1: #b02e67;
  $c2: #f57c00;
  $c3: #03a9f4;
  overflow: hidden;
  -webkit-transition: top .4s linear;
  -moz-transition: top .4s linear;
  -ms-transition: top .4s linear;
  -o-transition: top .4s linear;
  transition: top .4s linear;
  &.closed {
    top: 100%;
  }
  .dizzy-gillespie {
    filter: saturate(2);
    width: 0.1px;
    height: 0.1px;
    border: 40px solid transparent;
    border-radius: 5px;
    animation: loader 3s ease-in infinite, spin 1s linear infinite;
    left: 50%;
    margin: -75px 0 0 -53px;
    position: fixed;
    top: 50%;
    &::before {
      filter: saturate(0.3);
      display: block;
      position: absolute;
      z-index: -1;
      margin-left: -40px;
      margin-top: -40px;
      content:'';
      height: 0.1px;
      width: 0.1px;
      border: 40px solid transparent;
      border-radius: 5px;
      animation: loader 2s ease-in infinite reverse, spin 0.8s linear infinite reverse;
    }
    &::after {
      display: block;
      position: absolute;
      z-index: 2;
      margin-left: -10px;
      margin-top: -10px;
      content:'';
      height:20px;
      width:20px;
      border-radius: 20px;
      background-color: white;
    }
  }
  @keyframes loader {
    0% {border-bottom-color:transparent;border-top-color:$c1}
    25% {border-left-color:transparent;border-right-color:$c2}
    50% {border-top-color:transparent;border-bottom-color:$c3}
    75% {border-right-color:transparent;border-left-color:$c2}
    100% {border-bottom-color:transparent;border-top-color:$c1}
  }
  @keyframes spin {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(-360deg)}
  }
}
#hc1, #hc2, #hc3, #hc4, #hc5, #hc6{
  min-width: 250px !important;
}
#c3js1, #c3js2, #c3js3, #c3js4, #c3js5, #c3js6, #c3js1 svg, #c3js2 svg, #c3js3 svg, #c3js4 svg, #c3js5 svg, #c3js6 svg{
  min-width: 250px !important;
}
#flot1, #flot2, #flot3, #flot4, #flot5, #flot6, #flot1 svg, #flot2 svg, #flot3 svg, #flot4 svg, #flot5 svg, #flot6 svg{
  min-width: 250px !important;
}
.chart{
  min-width: 250px !important;
}
#morris1, #morris2, #morris3, #morris4{
  min-width: 250px !important;
}
#nvd31, #nvd32, #nvd33, #nvd34, #nvd35, #nvd36{
  min-width: 250px !important;
}
.contact-icons{
  padding: 2px;
  width: 15px;
}
.wrapper.vertical-sidebar .side-nav .collapsible .collapsible-header.active {
  color: #9c1b54;
  background-color: transparent;
}
.wrapper.vertical-sidebar .side-nav .collapsible .collapsible-body li.active .collapsible-header.active{
  color: #fff;
}
.theme-settings {
  position: fixed;
  top: 20%;
  right: -272px;
  width: 270px;
  padding: 15px 15px 0 15px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  background-color: #ad1457;
  z-index: 999;
  @include transition( all, .5s, ease-in-out );
  &>#open-theme-settings {
    position: absolute;
    top: 0;
    left: -42px;
    opacity: 1;
    background-color: #ad1457;
    @include transition( opacity, .5s, ease-in-out );
  }
  &>#close-theme-settings {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #ffffff;
    box-shadow: none;
    background: transparent;
  }
  .purchase {
    text-align: center;
    margin: 0 10px 10px 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.33);
    a {
      color: #ad1457;
      font-weight: 600;
    }
  }
  .row {
    margin-bottom: 12px;
  }
  label {
    strong {
      font-size: .9rem;
    }
  }
  [type="radio"]:not(:checked)+label, [type="radio"]:checked+label {
    font-size: .8rem;
    padding-left: 25px;
    width: 45%;
    text-align: left;
    [dir="rtl"] &{
      width: auto;
    }
  }
  [type="radio"]:not(:checked)+label {
    &:before {
      border: 2px solid #FFFFFF;
    }
  }
  [type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
    border: 2px solid #FFFFFF;
  }
  [type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
    background-color: white;
  }
  .switch {
    display: inline-block;
    margin-left: 10px;
    label {
      .lever {
        background-color: #cdcdcd;
      }
      input[type=checkbox]:checked+.lever {
        background-color: #e6155a;
      }
      input[type=checkbox]:checked+.lever:after {
        background-color: #FFFFFF;
      }
    }
  }
  ul {
    &.colors {
      li {
        display: inline-block;
        padding: 10px;
        margin-right: 5px;
        border: 1px solid #FFFFFF;
        &.blue-scheme {
          background-color: #1565c0;
        }
        &.dark-scheme {
          background-color: #2e2e2e;
        }
        &.cyan-scheme {
          background-color: #00abc0;
        }
        &.green-scheme {
          background-color: #558a2f;
        }
        &.purple-scheme {
          background-color: #6a1b99;
        }
        &.yellow-scheme {
          background-color: #fda626;
        }
        &.active {
          &::before {
            font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
            content: '\f26b';
            position: absolute;
            top: 3px;
            left: 5px;
          }
        }
      }
    }
    &.device-preview {
      margin-bottom: 0;
      li {
        display: inline-block;
        padding: 3px;
        margin-right: 5px;
      }
    }
  }

  &.open {
    right: 0;
    &>#open-theme-settings {
      opacity: 0;
      cursor: default;
    }
  }
}

i {
  &.new-additions {
    position: relative;
    &:after {
      content: attr(data-new);
      width: 15px;
      height: 15px;
      position: absolute;
      right: -15%;
      bottom: 10%;
      @include border-radius( 25px );
      background-color: #F3A530;
      color: #fff;
      font-size: 10px;
      font-weight: bold;
      line-height: 15px;
    }
  }
}

.flot-base{
  width: 100% !important;
}
.flot-overlay{
  width: 100% !important;
}

.gallery-carousel{
  .carousel-item-gallery{
    width: 400px;
  }
}
/*-----------------------
- theme settings styles -
-----------------------*/
html {
 body {
   .wrapper {
     main {
       min-height: calc(100vh - 64px);
       padding-bottom: 370px;
       margin-bottom: -370px;
     }
   }
   &.floating-header {
     .wrapper {
       &.vertical-sidebar {
         .dropdown-content{
           min-width: 300px !important;
           @media #{$max-480}{
             min-width: 250px !important;
           }
         }
         header {
           position: fixed;
           top: 0;
           left: 0;
           width: 100%;
           z-index: 999;
         }
         main {
           margin-top: 64px;
         }
       }
     }
     &.boxed-layout {
       .wrapper {
         &.vertical-sidebar {
           header {
             left: inherit;
             width: 100%;
             max-width: 1280px;
           }
           aside {

           }
         }
       }
     }
   }
   &.boxed-layout {
     .wrapper {
       &.vertical-sidebar {
         position: relative;
         margin: 0 auto;
         width: 100%;
         max-width: 1280px;
         aside {
           .side-nav{
             top: 64px;
             left: inherit;
             [dir="rtl"] &{
               right: inherit;
             }
             @media #{$small-and-down}{
               top: 56px;
             }
           }
         }
       }
     }
   }
   &.horizontal-navigation {
     .wrapper {
       &.vertical-sidebar {
         .dropdown-content{
           min-width: 300px !important;
           @media #{$max-480}{
             min-width: 250px !important;
           }
         }
         aside{
           display: none;
           @media #{$max-1024}{
             display: block;
           }
         }
         nav {
           &.horizontal-nav {
             margin-top: 0;
             ul {
               li {
                 line-height: 64px;
                 height: 64px;
                 ul{
                   li{
                     line-height: 1.2;
                     height: auto;
                   }
                 }
                 &>a {
                   padding: 0 14.1px;
                   vertical-align: text-bottom;
                   @media #{$max-1380}{
                     font-size: 12px;
                     padding: 0 10px;
                   }
                   &>i {
                     height: 64px;
                     line-height: 64px;
                     font-size: 20px;
                     margin-left: 10px;
                     @media #{$max-1380}{
                       margin-left: 6px;
                     }
                   }
                 }
               }
             }
             .dropdown-content{
               li{
                 min-height: 20px;
                 line-height: 40px;
                 a{
                   line-height: 30px;
                   &:hover{
                     background-color: transparent;
                   }
                 }
               }
             }
           }
         }
         main,footer {
           padding-left: 0;
         }
         .content-container{
           padding: 0;
         }
       }
       main{
         padding-right: 0;
       }
     }
     &.floating-header {
       .wrapper {
         &.vertical-sidebar {
           nav {
             &.horizontal-nav {
               position: fixed;
               top: 64px;
               left: 0;
               width: 100%;
               z-index: 998;
             }
           }
           header {
             nav {
               box-shadow: 0 0px 0px 0 rgba(0,0,0,0.16),0 0px 0px 0 rgba(0,0,0,0.12);
             }
           }
           main {
             margin-top: 128px;
             @media #{$max-1380} {
               margin-top: 64px;
             }
           }
         }
       }
       &.boxed-layout {
         .wrapper {
           &.vertical-sidebar {
             nav {
               &.horizontal-nav {
                 width: 100%;
                 max-width: 1280px;
               }
             }
           }
         }
       }
     }
     &.boxed-layout {
       .wrapper {
         &.vertical-sidebar {
           nav {
             &.horizontal-nav {
               left: inherit;
             }
           }
         }
       }
     }
   }
   .default-background {
     background-color: #b02e67;
   }
   .default-background-light {
     background-color: #dd538d;
   }
   .default-background-dark {
     background-color: #9b1b54;
   }
   .first-complementary-bg {
     background-color: #F3A530;
   }
   .first-complementary-color {
     color: #F3A530;
   }
   .second-complementary-bg {
     background-color: #367ABD;
   }
   .second-complementary-color {
     color: #367ABD;
   }
   .third-complementary-bg {
     background-color: #88C542;
   }
   .third-complementary-color {
     color: #88C542;
   }

   .btn {
     &.default-background {
       &:hover {
         background-color: #de538e;
       }
     }
     &:hover, &:focus {
       background-color: #de538e;
     }
   }
   .fc {
     .fc-center {
       h2 {
         font-size: 2.56rem;
       }
     }
   }
   &.blue-scheme {
     @include themeColorScheme(
      #1584DE, #1565c0, #1654A2, #df2b01, #ea7b2d, rgba(154, 206, 97, 0.80), "/assets/images/sidebar_background_blue.png",
      #56B949, #EE4035, #F0A32F, #EE4035
     );
   }
   &.dark-scheme {
     @include themeColorScheme(
      #424242, #2e2e2e, #1a1a1a, #f35022, #ec4035, rgba(242, 179, 82, 0.80), "/assets/images/sidebar_background_black.png",
      #56B949, #EE4035, #F0A32F, #EE4035
     );
   }
   &.cyan-scheme {
     @include themeColorScheme(
      #00c8de, #00abc0, #008ea2, #fd6d01, #ea4a94, rgba(242, 179, 82, 0.80), "/assets/images/sidebar_background_cyan.png",
      #EB7B2D, #844D9E, #F5B12E, #EB7B2D
     );
   }
   &.green-scheme {
     @include themeColorScheme(
      #6fa833, #558a2f, #3a6c2d, #fd6d01, #834d9d, rgba(242, 179, 82, 0.80), "/assets/images/sidebar_background_green.png",
      #EE4035, #30499B, #F0A32F, #F0A32F
     );
   }
   &.purple-scheme {
     @include themeColorScheme(
      #851db7, #6a1b99, #4e1a7b, #fd6d01, #57b84a, rgba(242, 179, 82, 0.80), "/assets/images/sidebar_background_purple.png",
      #EB7B2D, #4CB2D4, #F5B12E, #F5B12E
     );
   }
   &.yellow-scheme {
     @include themeColorScheme(
      #f7c983, #f0a42f, #d28630, #439f47, #57b84a, rgba(152, 106, 173, 0.80), "/assets/images/sidebar_background_yellow.png",
      #30499B, #EE4035, #56B949, #56B949
     );
   }
   .topScroll{
     top:0 !important;
   }
 }
&[dir="rtl"] { // Right to Left reading styles
   body {
//     font-family: "Shabnam", sans-serif;
     .theme-settings {
       right: auto;
       left: -272px;
       &.open {
         left: 0;
       }
       &>#close-theme-settings {
         left: 10px;
         right: auto;
       }
       &>#open-theme-settings {
         left: auto;
         right: -42px;
       }
     }
     // todo: continue with the rest of the styles
     .right{
       float: left !important;
     }
     .left{
       float: right !important;
     }
     .right-align{
       text-align: left;
     }
     .left-align{
       text-align: right;
     }
     .row{
       .col{
         $i: 1;
         @while $i <= $num-cols {
           $perc: unquote((100 / ($num-cols / $i)) + "%");
           &.offset-s#{$i} {
             margin-right: $perc;
             margin-left: 0;
           }
           &.pull-s#{$i} {
             left: $perc;
             right: auto;
           }
           &.push-s#{$i} {
             right: $perc;
             left:auto;
           }
           $i: $i + 1;
         }
         @media #{$medium-and-up} {

           $i: 1;
           @while $i <= $num-cols {
             $perc: unquote((100 / ($num-cols / $i)) + "%");
             &.offset-m#{$i} {
               margin-right: $perc;
               margin-left: 0;
             }
             &.pull-m#{$i} {
               left: $perc;
               right: auto;
             }
             &.push-m#{$i} {
               right: $perc;
               left:auto;
             }
             $i: $i + 1;
           }
         }
         @media #{$large-and-up}{
           $i: 1;
           @while $i <= $num-cols {
             $perc: unquote((100 / ($num-cols / $i)) + "%");
             &.offset-l#{$i} {
               margin-right: $perc;
               margin-left: 0;
             }
             &.pull-l#{$i} {
               left: $perc;
               right: auto;
             }
             &.push-l#{$i} {
               right: $perc;
               left:auto;
             }
             $i: $i + 1;
           }
         }
       }
     }

   }

  // Styling for input field wrapper
  $gutter-width: 1.5rem !default;
  .input-field {
    label {
      right: $gutter-width / 2;
    }

    .prefix ~ input,
    .prefix ~ textarea {
      margin-right: 3rem;
    }

    .prefix ~ label { margin-right: 3rem; }

  }


  .collapsible-header {
    i{
      float: right;
    }
  }


  form{
    p{
      text-align: right;
    }
  }

  [type="checkbox"] {

    // Text Label Style
    + label {
      padding-right: 35px;
    }

    /* checkbox aspect */
    + label:before {
      right: 0;
    }

  }
  [type="checkbox"]:checked {

    /* checkbox aspect */
    + label:before {
      right: 10px;
    }

  }

  [type="checkbox"].filled-in {
    + label:before{
      right:10px;
    }
    + label:after{
      right:0;
    }
  }

  [type="radio"] {

    // Text Label Style
    + label {
      padding-right: 35px;
    }

    /* radio aspect */
    + label:before {
      right: 0;
    }
    /* radio aspect */
    + label:after {
      right: 0;
    }

  }


  .row {
    // Clear floating children
    .col {
      float: right;
    }
  }

  // File Input

  .file-field {
    .file-path-wrapper {
      padding-right: 10px;
    }
    .btn {
      float: right;
    }
  }

  // Badges
  span.badge {
    left: 15px;
    right:inherit;
  }


  // dropdown
  .dropdown-content {
    li {
      text-align: right;
    }
  }

  // Made less specific to allow easier overriding
  .secondary-content {
    float: left;
  }

  // Breadcrumbs
  .breadcrumb {

    &:before {
      content: '\E5CB';
    }

  }


  // Collections
  .collection {

    .collection-item.avatar {
      padding-left:20px;
      padding-right: 72px;
      .circle {
        right: 15px;
        left:auto;
      }
      .secondary-content {
        left: 16px;
        right: auto;

      }

    }
    // Avatar Collection
    &.avatar {
      padding-right: 72px;
      padding-left: auto;

      .secondary-content {
        left: 16px;
      }
    }

  }

  //select fild

  .select-wrapper {

    span.caret {
      right: auto;
      left: 0;
    }
  }

  // chip
  .chip {
    img {
      float: right;
      margin: 0 -8px 0 12px;
    }

    i.material-icons {
      float: left;
      padding-right: 8px;
      padding-left: 0;
    }
  }

  .input-field input[type=search] {
    padding-right: 4rem;
    width: calc(100% - 8rem);
  }
}
}

.gal-images{
  margin: 2px;
}

.content-container{
  padding: 0 42px;
  margin-bottom: 50px;
  @media#{$max-480}{
    padding: 0 10px;
  }
}

.page-title {
  margin-left: 34px;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

#demo-table_info {
  margin-bottom: 5px;
  margin-top: 25px;
}

#demo-table_paginate {
  margin-bottom: 5px;
  margin-top: 25px;
}

.header-content {
  padding: 0 42px;
  @media#{$max-480} {
    padding: 0 15px;
  }
  .small-charts {
    margin: 35px 0;
  }
}

#demo-table {
  border-collapse: collapse;
}

.font16{
  font-size: 16px;
}

.profile-card {
  margin-bottom: 20px;
}

.profile {
  .collection {
    .collection-header {
      background-color: rgb(136, 197, 66);
    }
  }
  .secondC-btn {
    background-color: rgb(136, 197, 66);
  }
}
.feed-page{
  .upload-files{
    .secondC-btn {
      background-color: rgb(136, 197, 66);
    }
  }
}
pre:before{
  display: none!important;
}

.media-header {
  padding: 20px 0;
}

.jqstooltip{
  display: none!important;
}

.first{
  &.avatar{
    .card-panel{
      background-color: rgb(243, 165, 48);
    }
    .circle{
      top:12px;
      right: 10px;
    }
  }
}
.second{
  .card-panel{
    background-color: #f4f4f4;
  }
}
.messageBox {
  @media#{$max-480} {
    .collection {
      &>.collection-item {
        &.avatar {
          &.first {
            padding-right: 10px;
          }
          &>.title {
            padding-top: 10px;
            display: inline-block;
          }
          &>.user-message {
            margin: 20px 0 0 -60px;
          }
        }
      }
    }
  }
}
.card-content {
  &>h5 {
    margin: 0;
  }
  @media#{$max-480} {
    &>h5 {
//      font-size: 1.04rem;
    }
  }
}
.section-header {
  @media#{$max-480} {
    &>h4 {
      font-size: 1.7rem;
     &.page-title {
       margin-left: 5px;
     }
    }
  }
}
.breadcrumb {
  @media#{$max-480} {
    font-size: 12px;
  }
}
.slider {
  @media#{$max-480} {
    &>.slides {
      .caption {
        &>h3 {
          font-size: 2.05rem;
        }
        &>h5 {
          font-size: 1.25rem;
        }
      }
    }
  }
}
.dropdown-content{
  li{
    a{
      &:hover{
        background-color: transparent;
      }
    }
  }
}
//====================
// _global
//====================

[type="checkbox"]:not(:checked), [type="checkbox"]:checked, [type="radio"]:not(:checked), [type="radio"]:checked{
  [dir="rtl"] &{
    right: -9999px;
    left:auto;
  }
}
.side-nav.fixed.right-aligned{
  [dir="rtl"] &{
    right: inherit;
  }
}
