a.brand-logo{
  background-color: transparent;
  line-height: 1.2;
  font-family: "BaronFont";
  color: #fff;
  margin: 0;
  font-size: 46px;
  vertical-align: middle;
  background: none;
  @media #{$small-and-down}{
    height: 56px;
    line-height: 1;
  }
}
.navbar-center{
  nav{
    border-radius: 3px;
    .nav-wrapper{
      border-radius: 3px;
      padding: 0 5px;
    }
  }
}
.navbar-left{
  nav{
    border-radius: 3px;
    .nav-wrapper{
      border-radius: 3px;
      padding: 0 5px;
    }
  }
}
.nav-color-white{
  nav {
    background-color: #fff;
    .nav-wrapper {
      a {
        &.brand-logo {
          height: 64px;
          line-height: 1.2;
          background-color: transparent;
          color:#b02e67;
          font-size: 46px;
          @media #{$small-and-down}{
            height: 56px;
            line-height: 1;
          }
        }
      }
    }
    input[type=search]:not(:focus) {
      background-color: #de538e;
    }
    ul {
      a {
        color:#b02e67;
      }
      &.profile-activities {
        a {
          color:#b02e67;
          &.activate, &:hover {
            background-color: #fff !important;
          }
        }
      }
    }
    &.site-nav {
      ul {
        li {
          &>.dropdown-content {
            li {
              &>a {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }
  .material-icons.menu{
    color: #b02e67;
  }
}
.nav-color{
  nav{
    background-color: #b02e67;
    ul{
      a{
        color:#fff;
      }
      ul{
        a{
          color:#b02e67;
        }
      }
    }
    input[type=search]:not(:focus){
      background-color: #de538e;
    }
    ul.side-nav{
      a{
        color:#000;
      }
    }
  }
}
.logo-left{
  padding-left: 240px;
  [dir="rtl"] &{
    padding-left: 0;
    padding-right: 240px;
  }
}

.drop-down-profile{
  .drop-down-icon{
    display: inline-block;
    vertical-align: middle;
    font-size: 1.5rem;
    float: right;
    [dir="rtl"] &{
      float: left;
    }
  }
}
.top-nav{
  margin-left: 10px;
}
.navbars {
  .header-right {
    max-width: none;
    position: relative;
  }
  .signUp-btn {
    height: 30px;
    line-height: 30px;
    width: 95px;
//    background-color: #de538e;
  }
  .signUp-btn2 {
    @extend .signUp-btn;
    background-color: white;
    border: 1px solid #de538e;
  }
  .cart-icon{
    position: relative;
    .cart-icon-span{
      position: absolute;
      width: 20px;
      height: 16px;
      background-color: #de538e;
      border-radius: 30%;
      font-size: 13px;
      line-height: 16px;
      top: 15px;
      text-align: center;
    }
  }
  .navbar-custom-search {
    margin-right: 10px;

    input {
      height: 2rem!important;
      width: 150px;
    }
    input[type=search]{
      border-bottom: none;
      color:#fff;
      &:focus{
        border-radius: 3px;
        ~ .search-icon{
          color:#000;
          border-left: 0;
          [dir="rtl"] &{
            border-right: 0;
          }
        }
      }
      &:focus{
        color:#000;
      }
      [dir="rtl"] &{
        padding-right: 2rem;
        padding-left: 0;
      }
    }
    i{
      [dir="rtl"] &{
        right: auto;
        left: 5px;
        border-left: 0;
        border-right: 1px solid #CCC;
        padding-left: 5px;
        padding-right: 11px;
      }
    }
  }
  .search-icon {
    height: 2rem!important;
    line-height: 2rem!important;
    border-left: 1px solid #CCC;
    padding-left: 11px;
    padding-right: 5px;
    margin-top: 17px;
    padding-top: 1px;
    font-size: 20px;
    color:#fff;
  }
  .relative-item {
    position: relative;
  }
  .profile-img-ribbon {
    content:"";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 42px;
    border: 2px solid white;
    background-color: #de538e;
    z-index: 2;
  }
  .drop-down-profile {
    .drop-down-icon{
      padding-left: 5px;
      [dir="rtl"] &{
        padding-right: 5px;
        padding-left: 0;
      }
    }
  }
  .l-ribbon {
    padding-left: 3px;
  }
  .notifications-ribbon {
    content:"";
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    top: 34px;
    border: 2px solid white;
    z-index: 2;
  }
  nav ul a {
    padding: 0 10px;
    @media #{$max-1380} {
      text-align: center;
    }
  }
  a.more-vert {
    padding: 0 28px;
    border-left: 1px solid #e8e8e8;
    [dir="rtl"] &{
      border-left: 0;
      border-right: 1px solid #e8e8e8;
    }
  }
  a.icon-label {
    height: 64px;
    i {
      height: 14px;
      line-height: 55px;
      padding-left: 7px;
    }
  }
  a.icon-label2 {
    @extend .icon-label;
    i {
      padding-left: 5px;
    }
  }
  .zmdi-notifications:before {
    font-size: 26px;
  }
  .button-collapse2 {
    display: none;
  }
  @media only screen and (max-width: 1380px) {
    .right-ul {
      display: none;
    }
    .button-collapse2 {
      display: inline;
    }
  }

  @media only screen and (max-width: 1240px) {
    nav ul a {
      padding: 0 5px;
    }
  }
  @media only screen and (max-width: 1110px) {
    .temporary-form {
      display: none;
    }
  }
}

#dropdown2{
  width:auto !important;
//  margin-top: -5px;
}
nav ul li{
  [dir="rtl"] &{
    float: right;
    @media #{$max-1024}{
      float: none;
    }
  }
}