//==========================
// Sidebar left
//==========================
.wrapper.vertical-sidebar{

    .side-nav{
      top:64px;

      .collapsible {
        border: none;
        box-shadow: none;

        li {
          padding: 0;
          line-height: normal;
        }


        .collapsible-header {
          background-color: transparent;
          border: none;
          height: 40px;
          line-height: 40px;
          padding: 0 20px;

          &:hover {
            color:#9c1b54;
            background-color: transparent;
          }
          i {
            line-height: inherit;
            [dir="rtl"] &{
              float: right;
              margin-left: 1rem;
              margin-right: 0;
              width: 1rem;
             }
            }

          .zmdi-chevron-down{
            float: right;
            text-align: right;
            margin-right: 0;
            display: block;

            [dir="rtl"] &{
              width: 1rem;
              margin-left: 0;
              float: left;
            }
          }
          .zmdi-chevron-up{
            display: none;
            opacity: 0;
            -webkit-transition: 0.2s ease-out;
            -moz-transition:0.2s ease-out;
            -o-transition:0.2s ease-out;
            transition: 0.2s ease-out;
          }
        }
        .collapsible-header.active{
          .zmdi-chevron-down{
            float: right;
            text-align: right;
            margin-right: 0;
            display: none;
          }
          .zmdi-chevron-up{
            float: right;
            text-align: right;
            margin-right: 0;
            display: block;
            opacity: 1;
            [dir="rtl"] &{
              margin-left: 0;
              float: left;
            }
          }
        }

        .collapsible-body {
          border: 0;
          background-color: $collapsible-header-color;

          li.active{
            background-color: #9c1b54;
          }

          li{
            a {
              padding: 0  30px;

            }
          }
        }
        a{
          height: 40px;
          line-height: 40px;
        }

        .userinfo{
          background: url("../images/sidebar_background_pink.png") no-repeat;
          width: 100%;
          display: inline-block;
          padding: 10px 10px 0 10px;
          height: auto;
          .user-avatar{
            width:60px;
            height:60px;
            float: left;
            img{
              border-radius: 50%;
              max-width: 100%;
            }
          }
          .user-text{
            float: left;
            padding: 10px 0 10px 15px;
            max-width: 70%;
          }
          h4{
            font-size: 20px;
            color:#fff;
            margin: 0;
            text-shadow: 0px 1px 3px rgba(000,000,000, 0.5);
          }
          p{
            font-size: 14px;
            color:#fff;
            line-height: 1;
            margin-bottom: 0;
            text-shadow: 0px 1px 3px rgba(000,000,000, 0.5);
          }
          .drop-down-icon{
            color: #fff;
            display: inline-block;
            vertical-align: middle;
            position: absolute;
          }
        }
      }
      li{
        &.active{
          background-color: transparent;
          color:#9c1b54;
        }
        a{
          &:hover{
            background-color: #d6d6d6;
          }
        }
      }
      @media #{$small-and-down}{
        top: 56px;
      }
    }

  .icons-li{
    li{
      a{
//        font-size: 0.8rem;
      }
    }
  }
  }

.boxed-layout .navbar-fixed nav{
  max-width: 1280px;
}

.side-nav::-webkit-scrollbar {
  width: 0.3em;
}

.side-nav::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.side-nav::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}




//==========================
// Sidebar center
//==========================
.ho-header{
  .side-nav{
    li{
      text-align: center;
      a{
        height: auto;
        line-height: 20px;
        &:hover{
          background-color: transparent;
          color:#9c1b54;
        }
      }

    }
  }
}
.horizontal-layout{
  main{
    padding-left: 0;
  }
}
.header-2{
    .ho-header{
     li{
       text-align: center;
       a{
         line-height: 24px;
         color:#000;
         &:hover{
           background-color: transparent;
           color:#9c1b54;
         }
       }
       i{
         width: auto;
       }
     }
      .side-nav{
        top: 64px;
        li{
          text-align: left;
         a{
           float: left;
           height: 40px;
           line-height: 40px;
           padding: 0 20px;
           width: 100%;
         }
          i{
            height: 36px;
            width: 2rem;
            font-size: 1.6rem;
            line-height: 3rem;
            display: block;
            float: left;
            text-align: center;
            margin-right: 1rem;
          }
        }
      }
    }
}
.line-wrap {
  width: 18px;
  height: 12px;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  margin: 12px 20px;
}
.line-wrap .line {
  background-color: #fff;
}
.line-wrap .line {
  width: 18px;
  height: 2px;
  -webkit-transition: all;
  -o-transition: all;
  transition: all;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
.line-wrap .line.center {
  margin: 3px 0;
}
.open .line-wrap {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.open .line-wrap .line.top {
  width: 12px;
  transform: translateX(8px) translateY(1px) rotate(45deg);
  -webkit-transform: translateX(8px) translateY(1px) rotate(45deg);
}
.open .line-wrap .line.bottom {
  width: 12px;
  transform: translateX(8px) translateY(-1px) rotate(-45deg);
  -webkit-transform: translateX(8px) translateY(-1px) rotate(-45deg);
}