.dataTables_wrapper .dataTables_paginate{
  color: #fff !important;
  border: 1px solid #841143;
  border-radius: 3px;
  padding: 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
  margin-left: 0;
  border-radius:0;
  @media #{$max-480} {
    padding:0.2em 0.3em;
  }
}
.card-default .card-header.dataTable-header{
  background-color: #ad1457;
  color:#fff;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.next{
  border-right:1px solid transparent;
  [dir="rtl"] &{
    border-right: 0;
    border-left:1px solid transparent;
  }
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current{
  background: #d1417e;
  border-radius: 0;
  color: #fff !important;
  border-left: 1px solid #841143;
  border-right: 1px solid #841143;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
  background: #d1417e;
  border:1px solid transparent;
  border-radius: 0;
  margin: 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
  background: #d1417e;
  border:1px solid transparent;
  border-radius: 0;
  margin: 0;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
  border-right: 1px solid #841143;
  [dir="rtl"] &{
    border-right: 0;
    border-left: 1px solid #841143;
  }
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active{
  box-shadow: none;
}
tfoot{
  @media #{$medium-and-down}{
    display: none;
  }
}
table.dataTable thead th :not(.order-th){
  width: auto !important;
}
table.dataTable thead .sorting_asc{
  [dir="rtl"] &{
    background-position: center left;
  }

}
table.dataTable thead .sorting{
  [dir="rtl"] &{
    background-position: center left;
  }
}
.dataTables_wrapper{
  select{
    display: block;
    border: 1px solid #000000;
  }
}
table.dataTable thead th, table.dataTable thead td{
  @media #{$max-1024} {
    padding: 6px 16px;
  }
}
.card-default {
  .card-header {
    [dir="rtl"] &{
      padding-left: 0;
      padding-right: 20px;
    }
  }
}