.upload-files{
//  margin-top: -30px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 10px 0;
  span{
    margin-right: 15px;
    @media#{$max-480} {
      margin-right: 9px;
    }
  }
  a{
//    margin-right: 15px;
    cursor: pointer;
    &:hover{
      text-decoration: none;
//      vertical-align: top !important;
    }
  }
  .btn{
    margin-top: -5px;
  }
}
.profile {
  h1.header {
    font-size: 50px;
    line-height: 70px;
  }
  /* Timeline */

  .profile-avatar{
    border-radius: 50%;
    height: 60px;
    width: 60px;
    position: absolute;
    display: block;
    top: 0;
    left: -52px;
    [dir="rtl"] &{
      right: -52px;
      left:auto;
    }
  }

  .timeline {
    border-left: 1px solid #ccc;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    color: #333;
    margin: 50px 30px;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    padding: 0 20px;
    list-style: none;
    text-align: left;

    @media #{$max-480}{
      margin: 50px 0 50px 30px;
      padding: 0 0 0 20px;
      [dir="rtl"] &{
        margin: 50px 30px 50px 0;
        padding: 0 20px 0 0;
      }
    }
    [dir="rtl"] &{
      text-align: right;
      border-left: none;
      border-right: 1px solid #ccc;
    }
  }


  .timeline .event {
    padding-bottom: 15px;
    margin-bottom: 20px;
    position: relative;
  }
  .chat-text{
    margin-left: 25px;
    .interactions {
      &>a {
        &.btn {
          background-color: #f28eb0;
        }
      }
    }
    [dir="rtl"] &{
      margin-left: 0;
      margin-right: 25px;
    }
  }
  ul{
    a:hover{
      position: relative;
      cursor: pointer;
      display: inline-block;
      overflow: hidden;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: transparent;
      vertical-align: middle;
      z-index: 1;
      will-change: opacity, transform;
      transition: all .3s ease-out;
    }
  }

  /**/
  /*——————————————
  Responsive Stuff
  ———————————————*/

  @media (max-width: 945px) {
    .timeline .event::before {
      left: 0.5px;
      top: 20px;
      min-width: 0;
      font-size: 13px;
    }
    .timeline h3 {
      font-size: 16px;
    }
    section.lab h3.card-title {
      padding: 5px;
      font-size: 16px
    }
  }

  @media (max-width: 768px) {
    .timeline .event::before {
      left: 0.5px;
      top: 20px;
      min-width: 0;
      font-size: 13px;
    }
    .timeline .event:nth-child(1)::before,
    .timeline .event:nth-child(3)::before,
    .timeline .event:nth-child(5)::before {
      top: 38px;
    }
    .timeline h3 {
      font-size: 16px;
    }
  }
  /*——————————————
  others
  ———————————————*/

  a.portfolio-link {
    margin: 0 auto;
    display: block;
    text-align: center;
  }
}
.chat-reply{
  padding-left: 40px !important;
@media #{$max-480}{
  padding-left: 30px !important;
}
}
.avatar-profile-av{
  .avatar-available{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #FEFAFA;
    background: green;
    position: absolute;
    left: 45px;

    [dir="rtl"] &{
      right:45px;
      left: auto;
    }
  }
  .avatar-not-available{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #FEFAFA;
    background: #ccc;
    position: absolute;
    left: 45px;
    [dir="rtl"] &{
      left:auto;
      right:45px;
    }
  }
}

.profile-collection {
  &.collection {
    .collection-item {
      &.avatar {
        padding-left: 125px;
        [dir="rtl"] &{
          padding-left: 0;
          padding-right: 125px;
        }
        @media #{$max-480}{
          padding: 10px 0 10px 80px;
        }
        .circle{
          width:100px;
          height: 100px;
          @media #{$max-480}{
            width:75px;
            height: 75px;
            left:0;
          }
        }
      }
      &>a {
        &.btn {
          background-color: #dd538d;
        }
      }
    }
  }
}
.profile-options{
  li{
    line-height: 79px;
    a:hover{

    }
  }
}
.profile-tabs{
  .tabs{
    background-color: transparent;
    a{
      &:hover{
        color: #b02e67;
      }
    }
  }
}
.profile-info{
  li{
    padding-right:5px;
    display: inline-block;
    margin: 10px 0;
  }
  a{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    .zmdi-facebook{
      line-height: 32px;
    }
    .zmdi-google-plus{
      line-height: 32px;
    }
    .zmdi-twitter{
      line-height: 32px;
    }
    .zmdi-linkedin{
      line-height: 32px;
    }
  }
}

nav ul.profile-activities{
  padding-left: 10px;
  .activate{
    background-color: rgba(0,0,0,0.1);
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    transition: all .3s ease-out;
    color: #fff;
    background-color: #ae2e67 !important;
    text-align: center;
    letter-spacing: .5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    border: none;
    border-radius: 2px;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 15px;
    @media #{$max-480}{
      padding: 0 5px;
    }
  }
  a{
    color: #000;
    margin-left: 5px;
    margin-right: 5px;
    line-height: 36px;
    letter-spacing: .5px;
    height: 36px;
    padding: 0 15px;
    vertical-align: middle;
    &:hover{
      background-color: rgba(0,0,0,0.1);
      position: relative;
      cursor: pointer;
      display: inline-block;
      overflow: hidden;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: transparent;
      vertical-align: middle;
      z-index: 1;
      will-change: opacity, transform;
      transition: all .3s ease-out;
      color: #fff;
      background-color: #ae2e67 !important;
      text-align: center;
      letter-spacing: .5px;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
      border: none;
      border-radius: 2px;
      height: 36px;
      line-height: 36px;
      outline: 0;
      padding: 0 15px;
      @media #{$max-480}{
        padding: 0 5px;
      }
    }
    @media #{$max-480}{
      margin-left: 2px;
      margin-right: 2px;
      padding: 0 5px;
    }
  }
}

.profile-list{
  li{
    a{
      line-height: 1;
      vertical-align: middle;
      font-size: 16px;
      position: relative;
      &:hover{
        background:none;
        overflow: inherit;
      }

    }
    a.profile-last{
      &:after{
        display: none;
      }
    }
    span{
      display: block;
      padding-top: 10px;
      font-size: 14px;
    }
  }
  .vertical-divider{
    height: 32px;
    border-right: 1px solid #ccc;
    margin-top: 18px;
    padding: 0;
  }
}
.profile-emoticons{
  padding-top: 20px;
  span{
    margin-right: 15px;
  }
}
.chat-reply-active{
  position: relative;
}
textarea.textarea-profile{
  height: 6rem;
}
//=================
// Feed
//=================
.feed-padd{
  padding-left: 31px !important;
  padding-bottom: 0px !important;
}

.feed-box{
  .feed-image{
    line-height: 1;
    img{
      width: 60px;
      height: 60px;
    }
  }
  .feed-date{
    max-width: 80%;
  }
}


.feed-preview{
//  padding: 0 5px 0 5px;
}
.feed-preview .feed-item {
  display: block;
  float: left;
  position: relative;
  overflow: hidden;
  border: 10px solid #fff;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;

}

.feed-preview .feed-item > img {
  display: none;
}

.feed-preview .feed-item:first-child:nth-last-child(2),
.feed-preview .feed-item:first-child:nth-last-child(2) ~ a {
  width: 50%;
  padding-bottom: 40%;
}

.feed-preview .feed-item:first-child:nth-last-child(3),
.feed-preview .feed-item:first-child:nth-last-child(3) ~ a,
.feed-preview .feed-item:first-child:nth-last-child(4),
.feed-preview .feed-item:first-child:nth-last-child(4) ~ a:not(:last-child),
.feed-preview .feed-item:first-child:nth-last-child(5),
.feed-preview .feed-item:first-child:nth-last-child(5) ~ a:not( :nth-last-of-type(-n+2)),
.feed-preview .feed-item:first-child:nth-last-child(6),
.feed-preview .feed-item:first-child:nth-last-child(6) ~ a,
.feed-preview .feed-item:first-child:nth-last-child(7) ~ a:nth-last-of-type(-n+3) {
  width: 33.333333%;
  padding-bottom: 30%;
}

.feed-preview .feed-item:first-child:nth-last-child(5) ~ a:nth-last-of-type(-n+2) {
  width: 50%;
  padding-bottom: 40%;
}

.feed-preview .feed-item:first-child:nth-last-child(7),
.feed-preview .feed-item:first-child:nth-last-child(7) ~ a:not( :nth-last-of-type(-n+3)),
.feed-preview .feed-item:first-child:nth-last-child(n+8),
.feed-preview .feed-item:first-child:nth-last-child(n+8) ~ a {
  width: 25%;
  padding-bottom: 22%;
}

.feed-preview .feed-item:only-child,
.feed-preview .feed-item:first-child:nth-last-child(4) ~ a:nth-child(4) {
  width: 100%;
  padding-bottom: 50%;
}
.feed-album{
  overflow: hidden;
}
.feed-input{
  padding: 2rem 1.7rem 3rem 2.9rem;


  textarea{
    padding-left: 10px;
    border: none;
    height: 7rem;
  }
}
.new-feed-input{
  padding: 0;
  textarea{
    padding: 15px;
    height: 9rem;
    border: none;
    background-color: #ffffff !important;
  }

}
.feed-h4{
  padding: 10px;
}
.reply-profile-image{
  padding: 0 12px;
}
.reply-images{
  max-width: 20px !important;
  max-height: 10px !important;
  font-size: 10px !important;
}

/*---------------------
separate timeline page
----------------------*/
.timeline-page {
  padding: 10px;
  background-color: #FFFFFF;
  .timeline {
    position: relative;
    .timeline-milestone {
      text-align: center;
      margin-bottom: 20px;
      position: relative;
      &:not(:first-child){
        margin-top: 20px;
        &::before {
          display: block;
          content: "";
          width: 2px;
          height: calc(60%);
          position: absolute;
          background: #d2d2d2;
          left: calc(50% - 1px);
          top: calc(70% - 50px);
        }
        [dir="rtl"] &{
          display: table;
          width: 100%;
          float: left;
        }
      }
      .milestone-title {
        border: none;
        border-radius: 2px;
        display: inline-block;
        height: 36px;
        line-height: 36px;
        outline: 0;
        padding: 0 2rem;
        text-transform: uppercase;
        vertical-align: middle;
        -webkit-tap-highlight-color: transparent;
      }
      &::after {
        display: block;
        content: "";
        width: 2px;
        height: calc(60%);
        position: absolute;
        background: #d2d2d2;
        left: calc(50% - 1px);
        top: calc(21% + 30px);
      }
    }
    .timeline-event {
      position: relative;
      padding-top: 5px;
      padding-bottom: 5px;
      [dir="rtl"] &{
        float: left;
        width: 100%;
      }
      .timeline-content {
        position: relative;
        width: calc(48% - 50px);
        .content-box {
          padding: 0 10px 20px;
          border: 1px solid #ebecec;
          position: relative;
          h6 {
            font-size: 1.2rem;
            font-weight: 600;
            margin-top: 20px;
            small {
              color: #bababa;
            }
          }
          &::before {
            display: block;
            content: "";
            height: 1px;
            width: 65px;
            position: absolute;
            background: #ebecec;
            top: -1px;
          }
          &::after {
            display: block;
            content: "";
            height: calc(100% + 2px);
            width: 65px;
            position: absolute;
            top: 0px;
          }
        }
      }
      &::after {
        display: block;
        content: "";
        width: 2px;
        height: calc(100% - 50px);
        position: absolute;
        background: #d2d2d2;
        left: calc(50% - 1px);
        top: 50px;
      }
      &:first-child {
        &::before {
          display: none;
        }
      }
      &:last-child {
        &::after {
          display: none;
        }
      }
      &:nth-child(odd){
        .timeline-content {
          margin-left: 0;
          [dir="rtl"] &{
            float:left;
          }
          .content-box {
            border-right: none;
            box-shadow: 1px 2px 2px -1px rgba(0,0,0,0.12);
            &::before, &::after {
              right: -65px;
            }
            &::after {
              background: #fff url("../assets/images/timeline_item_content_l.png") no-repeat;
              background-size: 100% 100%;
            }
          }
        }
      }
      &:nth-child(even) {
        .timeline-content {
          margin-left: calc(52% + 50px);
          [dir="rtl"] &{
            float: right;
          }
          .content-box {
            border-left: none;
            box-shadow: -1px 2px 2px -1px rgba(0,0,0,0.12);
            &::before, &::after {
              left: -65px;
            }
            &::after {
              background: #fff url("../assets/images/timeline_item_content_r.png") no-repeat;
              background-size: 100% 100%;
            }
          }
        }
      }
    }
    .timeline-badge {
      display: block;
      position: absolute;
      width: 40px;
      height: 40px;
      background: #d2d2d2;
      top: 5px;
      right: calc(50% - 20px);
      border-radius: 50%;
      text-align: center;
      cursor: default;
      i {
        font-size: 20px;
        line-height: 40px;
      }
    }
    .timeline-badge1 {
      background-color: rgb(54, 122, 189);
    }
    .timeline-badge2 {
      background-color: rgb(136, 197, 66);
    }
    .timeline-badge3 {
      background-color: rgb(243, 165, 48);
    }
  }
  /*——————————————
  Responsive Stuff
  ———————————————*/
  @media (max-width: 600px) {
    .timeline {
      .timeline-event {
        .timeline-content {
          width: calc(100% - 70px);
          &::before {
            width: 30px;
          }
          &::after {
            width: 30px;
          }
          .content-box {
            &::before, &::after {
              width: 35px;
              [dir="rtl"] &{
                right: inherit;
              }
            }
          }
        }
        &::before {
          left: 19px;
        }
        &::after {
          left: 19px;
        }
        &:nth-child(even) {
          .timeline-content {
            margin-left: 70px;
            .content-box {
              &::before, &::after {
                left: -35px;
              }
            }
          }
        }
        &:nth-child(odd) {
          .timeline-content {
            margin-left: 70px;
            .content-box {
              &::before, &::after {
                left: -35px;
              }
              &::after {
                background: #fff url("../assets/images/timeline_item_content_r.png") no-repeat;
                background-size: 100% 100%;
              }
            }
          }
        }
      }
      .timeline-badge {
        left: 0;
        [dir="rtl"] &{
          right: inherit;
        }
      }
    }
  }
}


.timeline {
  .milestone-title {
    background-color: rgb(176, 46, 103);
  }
}