h1, h2, h3, h4, h5, h6{
  font-family: 'Open Sans', sans-serif;

}
//===================================
// Font Size Dinamic
//===================================

$class-font: fs !default;

@for $i from 10 through 50{
  .#{$class-font}-#{$i}{
    font-size: 0px + $i;
  }
}



p{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.container-typography {
  .header{
    font-weight: normal !important;
  }
  .description{
    .text-types{
      line-height: 1;
    }
    .row{
      position: relative;
      margin-bottom: 0;
      p{
        margin: 10px 0 0;
        &:nth-child(odd){
          margin-left: 3% !important;
          [dir="rtl"] &{
            margin-left: 0 !important;
            margin-right: 3% !important;
          }
        }
        &:nth-child(even){
          position: absolute;
          bottom: 0;
          right: 0;
          color: #898989;
          font-size: 16px;
          [dir="rtl"] &{
            right: auto;
            left:0;
          }
          @media(max-width: 1024px){
            font-size: 2vw;
          }
        }
      }
      .p1{
        font-size: 3vw;
      }
      .p2{
        font-size: 3vw;
      }
      .p3{
        font-size: 2vw;
      }
      .p4{
        font-size: 4vw;
      }
      .p5{
        font-size: 2vw;
      }
      .p6{
        font-size: 4vw;
      }
      .p7{
        font-size: 1vw;
      }
      .p8{
        font-size: 5vw;
      }
      .p9{
        font-size: 1vw;
      }
      .p10{
        font-size: 3vw;
      }
      @media(max-width: 1024px){
        .p1{
          font-size: 6vw;
        }
        .p2{
          font-size: 5vw;
        }
        .p3{
          font-size: 3vw;
        }
        .p4{
          font-size: 7vw;
        }
        .p5{
          font-size: 3vw;
        }
        .p6{
          font-size: 7vw;
        }
        .p7{
          font-size: 2vw;
        }
        .p8{
          font-size: 10vw;
        }
        .p9{
          font-size: 2vw;
        }
        .p10{
          font-size: 5vw;
        }
      }

      &:last-child{
        margin-bottom: 60px;
      }
    }
  }

  .headers{
    h1, h2, h3, h4, h5, h6{
      font-weight: bold;
      margin-left: 0 !important;
      @media(max-width: 600px){
        margin-bottom: 0;
      }
    }
    @media(max-width: 600px){
      h1{
        font-size: 8vw !important;
      }
      h2{
        font-size: 7vw !important;
      }
      h3{
        font-size: 6vw !important;
      }
      h4{
        font-size: 5vw !important;
      }
      h5{
        font-size: 4vw !important;
      }
      h6{
        font-size: 3vw !important;
        margin-bottom: -0.1rem;
      }
    }
    h4{
      margin-top: 2.1rem !important;
    }
    h5{
      margin-top: 2.1rem !important;
    }
    h6{
      margin-top: 3rem !important;
    }

    .row{
      height: 6vh !important;
      position: relative;
      p{
        position: absolute;
        bottom: 0;
        right: 0;
        margin-bottom: 0;
        [dir="rtl"] &{
          right: auto;
          left:0;
        }
        @media(max-width: 600px){
          font-size: 2vw;
        }
      }
    }
  }

  .body{
    .row{
      @media(max-width: 600px){
        .body-wraper{
          &:first-child{
            margin-bottom: 20px;
          }
          &:last-of-type{
            margin-bottom: 0;
          }
        }
      }
      .col:not(.body-wraper){
        border: 1px solid #dddddd;
        background-color: #ffffff;


        .body-wraper{
          margin-bottom: 10px;
        }
      }
    }
  }
}

.justify-align{
  text-align: justify;
}
.no-wrap-text{
  white-space: nowrap;
}
.lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 300;
  line-height: 1.4;
}

.text-regular{
  font-weight: normal !important;
}
.text-light{
  font-weight: lighter !important;
}
.text-semibold{
  font-weight: 600 !important;
}
.text-bold{
  font-weight: bold !important;
}
.text-semibold-italic{
  font-weight: 600 !important;
  font-style: italic !important;
}
.text-extrabold{
  font-weight: bolder !important;
}
.text-italic{
  font-style: italic !important;
}
.text-light-italic{
  font-weight: lighter !important;
  font-style: italic !important;
}
.text-extrabold-italic{
  font-weight: bolder !important;
  font-style: italic !important;
}
.text-bold-italic{
  font-weight: bold !important;
  font-style: italic !important;
}


