//===================
//Panels
//===================

.widgets{
  .closed{
    position: absolute;
    right: 10px;
    text-decoration: none;
    font-weight: bold;
    top: 15px;
    font-size: 15px;
    color: rgba(255,255,255,0.7);
    padding: 4px;
    [dir="rtl"] &{
      right: auto;
      left: 10px;
    }
  }
  .card-default{
    .card-header{
      border-bottom:1px solid #ccc;
      background-color: #d1417e;
      padding: 10px 20px;
      &.default-panel-widget{
      background-color:rgb(54, 122, 189);

    }
    }
    .card-content{
      padding: 20px;
    }
    .card-footer{
      border-top:1px solid #ccc;
      background-color: #efefef;
      padding: 10px 20px;
    }
  }
  .card-primary{
    .card-header{
      border-bottom:1px solid #ccc;
      background-color: #cdcdcd;
      padding: 10px 20px;
    }
    .card-content{
      padding: 20px;
    }
    .card-footer{
      border-top:1px solid #ccc;
      background-color: #efefef;
      padding: 10px 20px;
    }
  }
  .card-success{
    .card-header{
      border-bottom:1px solid #ccc;
      background-color: #21a9aa;
      padding: 10px 20px;
    }
    .card-content{
      padding: 20px;
    }
    .card-footer{
      border-top:1px solid #ccc;
      background-color: #efefef;
      padding: 10px 20px;
    }
  }
  .card-info{
    .card-header{
      border-bottom:1px solid #ccc;
      background-color: #3c5a99;
      padding: 10px 20px;
    }
    .card-content{
      padding: 20px;
    }
    .card-footer{
      border-top:1px solid #ccc;
      background-color: #efefef;
      padding: 10px 20px;
    }
  }
  .card-warning{
    .card-header{
      border-bottom:1px solid #ccc;
      background-color: #f9b058;
      padding: 10px 20px;
    }
    .card-content{
      padding: 20px;
    }
    .card-footer{
      border-top:1px solid #ccc;
      background-color: #efefef;
      padding: 10px 20px;
    }
  }
  .card-danger{
    .card-header{
      border-bottom:1px solid #ccc;
      background-color: #ce1126;
      padding: 10px 20px;
    }
    .card-content{
      padding: 20px;
    }
    .card-footer{
      border-top:1px solid #ccc;
      background-color: #efefef;
      padding: 10px 20px;
    }
  }
  pre[class*="language-"] {
    position: relative;
    &:before {
      position: absolute;
      padding: 1px 5px;
      background: #e8e6e3;
      top: 0;
      left: 0;
      font-family: "Roboto", sans-serif;
      -webkit-font-smoothing: antialiased;
      color: #555;
      content: 'Code sample';
      font-size: .9rem;
      border: solid 1px rgba(51,51,51,0.12);
      border-top: none;
      border-left: none;
    }
  }
  .card{
    span{
      color:rgba(0,0,0,0.5);
  }
  }

  .card{
    border: none;
  }
}